.question-hdr
  %h5.h5= "Question ##{embeddable.question_index}"
.question-bd
  .question-txt
    != embeddable.prompt
  %button.image_question.button{:type => 'button', :id => 'image_snapshot_button'}
    %i.icon-camera
    take snapshot

#image_question_answer_form
  .image_gallery
    .title
    .instructions
    .answer
    %table
      %tr
        %td
          .image_block
            #snapshot_image
              %img
            .under_image
              %button.button{:type =>'button', :id => 'image_reset_button'}
                %i.icon-undo.btn
                  Reset
              %button.button{:type =>'button', :id => 'image_delete_button'}
                %i.icon-warning-sign.btn
                  Delete
        %td.annotations
          %p Use the tools below to make notes on the snapshot
      %tr
        %td.text_response
          %p.prompt{:id => 'image_prompt'} Why do you think ...
          %textarea.answer{:rows => '2', :cols => '40', :id => 'image_answer_text'}
            Your answer here ...
        %td
          %button.button{:type => 'button', :id => 'image_done_button'}
            %i.icon-ok.btn
              Done
          %button.button{:type => 'button', :id => 'image_cancel_button'}
            %i.icon-remove.btn
              Cancel

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      window.iq = new ImageQuestion();
    });