.number
  %p="#{answer.question_index}."
.prompt
  = strip_tags(answer.prompt_no_itals)
.answer
  - if !answer.answer_text.blank?
    = answer.answer_text
  - else
    %p! &nbsp;
.image_answer
  = image_tag(answer.annotated_image_url || answer.image_url)