.answer
  - if answer.answer_text.present?
    = answer.answer_text
  - else
    %p! &nbsp;
  -if answer.drawing_prompt.present?
    .prompt.drawing_prompt
      %span.text
        = Nokogiri::HTML(answer.drawing_prompt).text
.image_answer
  - answer_url = answer.annotated_image_url || answer.image_url
  - if answer_url.blank?
    = "Not Answered"
  - else
    = image_tag(answer_url)
