.rubricTeacherPreview {
  border: solid 1.5px #979797;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
  font-size: 14px;
  overflow: hidden;

  .columnHeaders {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: bold;

    .rubricDescriptionHeader {
      display: flex;
      align-items: center;
      flex: auto;

      .scoringGuideArea {
        width: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .launchButton {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          height: 30px;
          width: 30px;
          margin: 0 11px;
          background-color: #e5f1e7;
          border: solid 1.5px #979797;
          border-radius: 8px 0;
          box-sizing: border-box;

          &:hover {
            background-color: #c9e2cd;
          }
          &:active {
            color: white;
            background-color: #4ea15a;

            .icon {
              fill: white;
            }
          }

          .icon {
            width: 24px;
            height: 24px;
            pointer-events: none;
            fill: #4ea15a;
          }
        }
      }

      .rubricDescriptionTitle {
        justify-content: center;
        width: 100%
      }
    }
    .rubricScoreHeader {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 92px;
      flex-grow: 0;
      flex-shrink: 0;
      height: 100%;
      border-left: solid 1.5px #979797;
    }

  }

  .rubricTable {

    code {
      font-family: monospace;
    }

    .rubricTableGroup {
      display: flex;
      border-top: solid 1.5px #979797;

      .rubricTableGroupLabel {
        writing-mode: vertical-rl;
        padding: 20px 40px;
        border-left: solid 1.5px #979797;  // left is really right due to rotation
        transform: rotate(180deg);
        text-align: center;
        font-weight: bold;
      }

      .rubricTableRows {
        display: flex;
        flex-direction: column;
        flex: 1;

        .rubricTableRow {
          &:first-child {
            border: none;
          }

          display: flex;
          flex: 1;
          border-top: solid 1.5px #979797;
          align-items: stretch;


          .rubricDescription {
            padding: 5px 10px;
            font-weight: normal;
            display: flex;
            align-items: center;
            flex: auto;

            img {
              max-width: 24px;
              max-height: 24px;
              padding-right: 10px;
            }

            li {
              margin-left: 20px;
              list-style-type: disc;
            }
          }

          .ratingsGroup{
            display: flex;
            min-height: 45px;

            .rubricScoreBox {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 92px;
              flex-grow: 0;
              flex-shrink: 0;
              border-left: solid 1.5px #979797;

              .rubricButton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                margin: 5px;
                cursor: pointer;

                &:hover .outerCircle {
                  background-color: white;
                }
                &:active .outerCircle {
                  background-color: #4ea15a;
                }

                .outerCircle {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  border: solid 1.5px #979797;
                  background-color: white;
                  cursor: pointer;
                  margin: 0;

                  &.selected {
                    background-color: #4ea15a;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
