.rubric-ratings {
  table {
    border-collapse: separate;
    border-spacing: 10px;

    th {
      font-weight: bold;
      text-align: left;
    }

    td {
      vertical-align: middle;
    }
  }

  button {
    background-color: #e2f4f8;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    border-radius: 3px;
    border: solid 1px #333;
    margin: 0 0 0 10px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
}