.rubric-ratings {
  @import "shared";

  table {
    border-collapse: separate;
    border-spacing: 10px;

    th {
      font-weight: bold;
      text-align: left;
    }

    td {
      vertical-align: middle;
    }
  }
}