.rubric-form-container {
  font-family: 'Lato-Bold', helvetica, verdana, sans-serif;

  .rubric-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: var(--orange);
      font-size: 24px;
      font-weight: 700;
      margin: 20px 0px 20px 0px;
    }

    .rubric-auto-save {
      font-style: italic;
    }

    .rubric-edit-settings {
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      color: var(--orange);
    }
  }
}