%h1  Testing C-Rater Scale CSS for arg-blocks

- feedback               = OpenStruct.new()
- feedback.feedback_text = "Feedback Text"
- feedback.outdated?     = false
- feedback.score         = 4
- feedback.max_score     = 4

= render partial: "c_rater/argumentation_block/argblock_styles"

- [4,6].each do |max_score|
  - feedback.max_score = max_score
  - 0.upto(max_score) do |score|
    - feedback.score = score
    - feedback.feedback_text = "Feedback for SCORE: #{score}"
    = render partial: "c_rater/argumentation_block/feedback", locals: {feedback: feedback, emb_id: rand(3000)}
