@import "../../../vars.scss";

.activity-nav {
  align-items: center;
  background-color: white;
  color: var(--dark-gray);
  display: flex;
  font-size: 18px;
  height: 64px;
  justify-content: center;
  width: 100%;
}
.nav-pages {
  display: flex;
  justify-content: center;
  margin: 0 10px 0 10px;
  padding: 0px;
  width: 100%;

  .page-button {
    align-items: center;
    background-color: white;
    border: none;
    border-radius: 4px;
    color: var(--dark-gray);
    cursor: pointer;
    display: flex;
    fill: #0592af;
    font-size: 18px;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    margin: 0 5px 0 5px;
    width: 44px;


    &:hover {
      background: var(--ltr-teal);
    }
    &:active {
      background: var(--teal);
      color: white;
      svg {
        fill: white;
      }
    }

    &.current {
      background-color: var(--teal);
      color: white;
      fill: white;
      pointer-events: none;

      svg {
        fill: white;
      }
    }
    &.disabled {
      background: white;
      cursor: auto;
      opacity: .35;
      outline: none;

      svg {
        background: white;
        fill: var(--teal);
      }
    }

    &.completion-page-button {
      &:hover {
        background: var(--lt-orange);
      }
      &.current, &:active {
        background-color: var(--orange);
        color: white;
        svg {
          fill: white;
        }
      }

      svg {
        fill: var(--orange);
      }
    }

    svg {
      fill: var(--teal);
    }
  }
}
