/* !============================================= */

/* ! Custom Fonts					   			  */ 

/* !============================================= */

@mixin font-import {

// Follow this format, y'hear: 
// TODO: Define Helvetica fonts
  @font-face {
    font-family: 'Helvetica-Ultralight';
    font-style: normal;
    font-weight: 250;
    src: local('Helvetica Light'), local('Helvetica-Light'), local('Helvetica');
  }

  @font-face {
    font-family: 'Helvetica-Light';
    font-style: normal;
    font-weight: 450;
    src: local('Helvetica Light'), local('Helvetica-Light'), local('Helvetica');
  }

  @font-face {
    font-family: 'Helvetica-Roman';
    font-style: normal;
    font-weight: 550;
    src: local('Helvetica');
  }

  @font-face {
    font-family: 'Helvetica-Medium';
    font-style: normal;
    font-weight: 650;
    src: local('Helvetica');
  }

  @font-face {
    font-family: 'Helvetica-Bold';
    font-style: normal;
    font-weight: 750;
    src: local('Helvetica Bold'), local('Helvetica-Bold'), local('Helvetica');
  }
}

// Import custom fonts
@include font-import;