/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */

$blue: #1d78af;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: #ea4c88;  //Pink

$sans:Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;


// Variables for Molecular Workbench
// These are imported into screen.scss
// ----------------------------------------


// font variables
// ----------------------------------------
$lato-reg: "Lato-Regular", Helvetica, Arial, Verdana, sans-serif;
$lato-bold: "Lato-Bold", Helvetica, Arial, Verdana, sans-serif;
$lato-light: "Lato-Light", Helvetica, Arial, Verdana, sans-serif;

// color
// ----------------------------------------

$drk-orange: #f3951d; 	// (243, 149, 29)

$lt-blue: #bddfdf;	 	// (189, 223, 223)
$med-blue: #6fc5d8; 	// (111, 197, 216)

$btn-blue: #40b2cb;
$btn-blue2: $med-blue;

$btn-orange: $drk-orange;
$btn-orange2: #f88c22;

$related-green: #90c556;

// Variables for HAS-NGS
// These are also imported into screen.scss
// ----------------------------------------

// font variables for HAS-NGS
// ----------------------------------------
$helv-reg: "Helvetica-Medium", Helvetica, Arial, sans-serif;
$helv-bold: "Helvetica-Bold", Helvetica, Arial, sans-serif;
$helv-light: "Helvetica-Light", Helvetica, Arial, sans-serif;

// color
// ----------------------------------------

/* -- Primary -- */
$shakespeare: #459ace;
$emperor: #525252;

/* -- Secondary -- */
$seagreen: #2da343;
$brightsun: #ffd23e;
$malibu: #7fa8f8;
$punch: #d84728;

/* -- Supporting -- */
$zest: #e67e22;
$wisteria: #a469bd;
$pickledbluewood: #2c3e50;
$peach: #ffe4af;

$capecod: #414546;

/* -- Grayscale -- */
$alabaster: #f8f8f8;
$wildsand: #f5f5f5;
$gallery: #eeeeee;
$alto: #dddddd;
$silverchalice: #9d9d9d;
$gray: #868686;
$dovegrey: #6e6e6e;
$mineshaft: #262626;
