/* !============================================= */

/* ! Variables						  			  */ 

/* !============================================= */

/* !-- Universal ------------------------------------ */

$black-5: #f5f5f5;
$black-10: #ededed;
$black-15: #ccc;
$black-50: #999;
$black-75: #666; 
$black-90: #222; 
$black-95: #111; 

$light-gray: $black-10;
$med-gray: $black-50;
$dark-gray: $black-75;
$tease-txt: $black-75;
$txt-black: $black-90;
$text-black: $txt-black;

/* !-- Project ------------------------------------ */

$blue: #1d78af;

$link: $blue;
$link-hover: darken($link, 8%);
$highlight: #ea4c88;  //Pink

$sans:Arial,Helvetica,Verdana,sans-serif;
$serif:Georgia,Times,Times New Roman,serif;
$mono:"Courier New",Courier,mono;


// Variables for Molecular Workbench
// These are imported into screen.scss
// ----------------------------------------


// font variables
// ----------------------------------------
@mixin font-import {
  @font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Light'), local('Lato-Light'), url(//fonts.googleapis.com/css?family=Lato:100) format('woff');
  }

  @font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(//themes.googleusercontent.com/static/fonts/lato/v6/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }

  @font-face {
    font-family: 'Lato-Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(//themes.googleusercontent.com/static/fonts/lato/v6/qdgUG4U09HnJwhYI-uK18wLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
  }
}
@include font-import;

$lato-reg: Lato-Regular, helvetica, verdana, sans-serif;
$lato-bold: Lato-Bold, helvetica, verdana, sans-serif;
$lato-light: Lato-Light, helvetica, verdana, sans-serif;

// color
// ----------------------------------------

$drk-orange: #ea6d2f; 	// (243, 149, 29)

$lt-blue: #cdebf2;	 	// (189, 223, 223)
$med-blue: #0592af; 	// (111, 197, 216)

$btn-blue: #93d5e4;
$btn-blue2: $med-blue;

$btn-orange: $drk-orange;
$btn-orange2: #f88c22;

$related-green: #90c556;

$btn-green: #2DA343;
$btn-green2: #2FAC47;

// Variables for HAS-NGS
// These are also imported into screen.scss
// ----------------------------------------

// font variables for HAS-NGS SEE: helv-stack mixin in base-fonts
// ----------------------------------------
// TODO: Find instances of these, and change to @include helv-stack(weight)
// $helv-reg: "Helvetica-Medium", Helvetica, Arial, sans-serif;
// $helv-bold: "Helvetica-Bold", Helvetica, Arial, sans-serif;
// $helv-light: "Helvetica-Light", Helvetica, Arial, sans-serif;

// color
// ----------------------------------------

/* -- Primary -- */
$shakespeare: #459ace;
$emperor: #525252;

/* -- Secondary -- */
$seagreen: #2da343;
$brightsun: #ffd23e;
$malibu: #7fa8f8;
$punch: #d84728;

/* -- Supporting -- */
$zest: #e67e22;
$wisteria: #a469bd;
$pickledbluewood: #2c3e50;
$peach: #ffe4af;

$capecod: #414546;

/* -- Grayscale -- */
$alabaster: #f8f8f8;
$wildsand: #f5f5f5;
$gallery: #eeeeee;
$alto: #dddddd;
$silverchalice: #9d9d9d;
$gray: #868686;
$dovegrey: #6e6e6e;
$mineshaft: #262626;

:root {
--font-family-bold: Lato-Bold, helvetica, verdana, sans-serif;
--font-family-default: Lato-Regular, helvetica, verdana, sans-serif;
--font-family-light: Lato-Light, helvetica, verdana, sans-serif;
--font-color-default: #313131;
--dark-teal: #016082;
--teal: #0592af;
--lt-teal: #93d5e4;
--ltr-teal: #cdebf2;
--ltst-teal: #e2f4f8;
--gold: #ffc320;
--lt-orange: #ffe6d0;
--orange: #ea6d2f;
--dark-gray: #3f3f3f;
--med-gray: #979797;
--lt-gray: hsl(0, 0%, 90%);
--ltr-gray: hsl(0, 0%, 95%);
}
