.export
  .header
    %span.title Export Activity
    %span.close.close_link
      close (✖)
  .info
    %span Export <b>#{@activity.name}</b>

  .buttons
    = link_to "export",export_activity_path,{ :class => 'btn btn-primary', :id =>'export'}
    %a.btn.btn-primary.close
      cancel
  .message
    =@message
