.model-edit
  .toolbar
    = link_to "Edit", edit_page_mw_interactive_path(@page, interactive), :remote => true, :id => "edit-int-#{interactive.id}"
    - if params[:edit_int] == interactive.id
      :javascript
        $("a[id^=edit-int-#{interactive.id}]").click()

  %iframe{:src => interactive.url, :data => {:aspect_ratio => interactive.aspect_ratio}}
    Your browser does not support inline frames, or is currently not configured to display inline frames.
    Content can be viewed at the actual source page:
    = link_to interactive.url, interactive.url
