= interactive_iframe_tag(interactive) do

  Your browser does not support inline frames, or is currently not configured to display inline frames.
  Content can be viewed at the actual source page:
  = link_to interactive.url, interactive.url
.below_interactive
  - if interactive.save_state
    = interactive_data_div(interactive,@run)
    - content_for :extra_javascript do
      :javascript
        $(document).ready(function() {
          var saver = new IFrameSaver();
        });
