#publication-failures

:javascript
  var PublicationFailureAlert = React.createElement(modulejs.require('components/itsi_authoring/publication_failure_alert'), {publicationDetails: gon.publication_details || gon.ITSIEditor.publication_details});
  React.render(PublicationFailureAlert, $('#publication-failures')[0]);

