#publication-details

:javascript
  var PublicationDetails = React.createElement(modulejs.require('components/publication_details'), {publicationDetails: gon.publication_details});
  ReactDOM.render(PublicationDetails, $('#publication-details')[0]);