#publication-failures

:javascript
  var PublicationFailureAlert = React.createElement({publicationDetails: gon.publication_details});
  ReactDOM.render(PublicationFailureAlert, $('#publication-failures')[0]);

