#publication-details

:javascript
  PublicationDetails = React.createElement(modulejs.require('components/itsi_authoring/publication_details'), {publicationDetails: gon.ITSIEditor.publication_details});
  React.render(PublicationDetails, $('#publication-details')[0]);

