@import "../../../../vars.scss";

.account-owner {
  align-items: center;
  color: var(--dark-gray);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-default);
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  padding: 0;
  position: relative;

  .account-owner-name {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    margin-left: 8px;
    padding: 4px 10px 4px 4px;
    position: relative;

    a {
      color: var(--teal);
      margin-left: 4px;
    }

    div {
      display: flex;
    }

    svg {
      fill: var(--teal);
      margin-right: 5px;
    }
  }
}