.question-tracker
  .name=@question_tracker.name
  .description=@question_tracker.description
  .use_count Used in #{@question_tracker.use_count} pages
  .master-question
    .type=@question_tracker.type
    .info=@question_tracker.master_question_info
