@import "../../vars.scss";

.projectSettingsForm {
  padding-bottom: 20px;

  .titleContainer {
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1, button {
      margin: 0;
    }
  }

  h2 {
    color: var(--teal);
    font-family: var(--font-family-bold);
    font-size: 20px;
    line-height: 1.2;
    margin: 20px 0;
    padding: 0;
  }

  .splitForm {
    display: flex;
    gap: 20px;

    dl {
      flex-grow: 1;
      width: 100%;
    }
    .projectAdmins {
      flex-grow: 1;
      width: 25%;

      label {
        font-size: 16px;
        font-weight: 900;
      }

      button {
        background: transparent;
        border: none;
        color: var(--dark-gray);
        display: inline-block;
        font-size: 12px;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }

      .emphasis {
        margin: 10px 0;
        font-style: italic;
      }

      .projectAdminsList {
        width: 100%;
        overflow: hidden;
        margin: 10px 0;

        .projectAdminsListItem {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          margin: 5px 0;

          div:first-child {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
          }
        }
      }

    }
  }


  .slateContainer {
    border: solid 1.5px var(--med-gray);
    border-radius: 4px;
    font-size: 16px;
    height: 250px;
    width: calc(100% - 3px);

    input {
      margin-bottom: 0;
    }
  }

  .alertMessage {
    animation: pulse .3s 3 ease-in-out;
    background: var(--lt-green);
    color: var(--green);
    margin-bottom: 10px;
    padding: 10px;

    &.error {
      background: var(--error-pink);
      color: var(--error-red);
    }
  }
  @keyframes pulse {
    0% { opacity: .7; }
    50% { opacity: 1; }
    100% { opacity: .7 }
  }
  input, textarea {
    border: solid 1.5px var(--med-gray);
    border-radius: 4px;
    font-family: var(--font-family-default);
    font-size: 16px;
    padding: 5px 10px;
    width: calc(100% - 23px); // 20px padding + 3px border = 23
    -webkit-appearance: none;
  }
  textarea {
    height: 200px;
    width: calc(100% - 23px); // 20px padding + 3px border = 23
  }

  dl {
    margin: 0;
    padding: 0;

    dt {
      font-size: 16px;
      line-height: 1.6;
      margin: 0 0 2px;
      padding: 0;

      label {
        font-weight: 900;
      }
    }
    dd {
      margin: 0 0 20px;
      padding: 0;

      &.hasNote {
        margin-bottom: 3px;
      }
      &.inputNote {
        color: var(--med-gray);
        font-size: 14px;
        font-style: italic;
      }

      select {
        overflow: hidden;
        width: 50%;
      }
    }

    .disabled {
      cursor: none;
      pointer-events: none;
    }
  }
}
