@import "../../vars.scss";

.projectListContainer {
  h1.title {
    clear: none;
  }
  .alertMessage {
    animation: pulse .3s 3 ease-in-out;
    background: var(--lt-green);
    clear: both;
    color: var(--green);
    margin-bottom: 10px;
    padding: 10px;
    width: calc(100% - 20px);

    .error {
      background: var(--orange);
      color: var(--dark-gray);
    }
  }
  @keyframes pulse {
    0% { opacity: .7; }
    50% { opacity: 1; }
    100% { opacity: .7 }
  }
  ul {
    margin: 0;
    padding: 0;
  }
}
