- if @plugin.version == 3 && (@plugin.component && @plugin.component.guiAuthoring)
  = render :partial => 'plugins/author',locals: {plugin: @plugin}
- else
  = render :partial => 'form',locals: {plugin: @plugin}