%div.embeddable-container
  %h3
    Video Interactive
    %span.sortable-icon.ui-icon.ui-icon-arrowthick-2-n-s
  .embeddable_options
    .interactive-content
      = render :partial => 'video_interactives/show', :locals => { :interactive => embeddable }
  = render :partial => "shared/embedded_editor_wrapper_plugins", :locals => { :embeddable => embeddable }
.embeddable_tools
  = render :partial => "shared/embedded_editor_links", :locals => { :embeddable => embeddable, :page => page, :type => 'video', :allow_hide => allow_hide }
