%video{ id: "video-interactive-#{interactive.id}", class: 'video-interactive', controls: '', preload: "auto", width: "100%", poster: interactive.poster_url }
  - interactive.sources.each do |source|
    %source{ :src => source.url, :type => source.format }
.under-image
  .caption
    = interactive.caption
  .credit
    = interactive.credit
%br
%br
