#nav-activity-menu
  %ul
    - if session[:portal_username]
      %li.home
        = link_to 'Home',"//#{session[:portal_domain]}"
    %li.about
      = link_to "About", about_project_path(@project), :remote => true, "data-trigger-save" => false
    %li.am-report
      %a{:href => summary_with_response_path(@activity, @session_key),:title => "Print",:target => "new"}
        %span
          Report
        .print
    %li.am-help
      %a{:href => help_project_path(@project),:title => "Help",:"data-remote" => "true",:"data-trigger-save" => "false"}
        %span
          Help
        .help
    %li.am-share
      %a{:href => "#",:title => "Share",:"data-trigger-save" => "false"}
        .share
    %li.am-close
      %a{:href => "#"}  
        .close{:title => "Close", :onclick => 'if(confirm("Are you sure?")){window.close();}'}
= render :partial => "shared/share_popup"
