.pages
  .pagination
    .pagination-item
      - classes = @page.blank? ? 'pagination-link selected' : 'pagination-link'
      %a{:href=> runnable_activity_path(@activity, :show_index => true),:class => classes}
        %i.fa.fa-home
    - page_counter = 1
    - @activity.visible_pages.each do |p|
      .pagination-item
        - classes = 'pagination-link'
        - if @page
          - classes << ' selected' if p == @page
          - classes << ' forward_nav' if p.position > @page.position
        = link_to page_counter, runnable_activity_page_path(@activity, p), :class => classes
        - page_counter = page_counter + 1
-if @page
  %td.activity-nav
    .prev_and_next
      - next_href = @page.next_visible_page.nil? ? nil : runnable_activity_page_path(@page.lightweight_activity, @page.next_visible_page)
      - previous_href = @page.prev_visible_page.nil? ? nil : runnable_activity_page_path(@page.lightweight_activity, @page.prev_visible_page)
      - prev_classes  = 'pagination-link prev'
      - next_classes  = 'pagination-link next forward_nav'
      - prev_classes << ' disabled' if @page.prev_visible_page.nil?
      - next_classes << ' disabled' if @page.next_visible_page.nil?
      %a{ :class => prev_classes, :href => previous_href }
        %i.fa.fa-arrow-left
      %a{ :class => next_classes, :href => next_href }
        %i.fa.fa-arrow-right
