%form{:method => "get"}
  =check_box_tag 'filter[my]', 'show mine', filter.my
  Show Mine

- content_for :extra_javascript do
  :javascript
    $(document).ready(function() {
      $('#filter_my').click(function() {
        $(this).parent('form').submit();
      });
    });