.contact-us-popup
  %h3.title
    Contact Us
  %span.close
    ✖
  - username = session[:portal_username].nil? ? 'Anonymous' : session[:portal_username]
  .container
    .name
      Dear #{username},
    %br
    .message
      Please describe the problem you are facing in the box below
    %br
    .contact-form
    = form_tag(contact_us_project_path(@project)) do
    
      = text_area_tag 'comment',nil ,rows: 10, cols: 40
      = submit_tag "Submit", class: "submit"
    
:scss
  h3.title {
    font-size: 12pt;
    color: #000000;
    background: #CCCCCC;
    height: 25px;
    padding-left: 5px;
    padding-top: 4px;
    font-weight: bold;
    margin: 0 0 1em 0;
  }
  .container {
    margin-top: 10px;
    padding:0 5px;
  }
  input[type="submit"].submit {
    float: right;
    background: #6fc5d8;
    border: none;
    font-size: .9em;
    margin-top: 20px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 20px;
    text-shadow: none;
  }
  textarea{
    width: 100%;
    height: 150px;
  }