#nav-itsi-menu.site-width
  %ul
    - if session[:portal_username]
      %li.no-left-border
        = link_to 'Home',"//#{session[:portal_domain]}"
    %li{:class => session[:portal_username].nil? ? 'no-left-border' : ''}
      = link_to "About", about_project_path(@project), :remote => true, "data-trigger-save" => false
    %li
      =link_to 'Help',help_project_path(@project), :remote => true, "data-trigger-save" => false
    %li
      =link_to 'Report',summary_with_response_path(@activity, @session_key), :target => 'new'
