- next_activity = sequence.next_activity(activity)
- previous_activity = sequence.previous_activity(activity)
.intra-sequence-nav
  .next-activity{ :class => ('disabled' if next_activity.nil?) }
    - if next_href
      = link_to 'Next Activity >', runnable_activity_path(sequence, next_activity), { :title => next_activity.name }
    - else
      Next Activity >
  .last-activity{ :class => ('disabled' if previous_activity.nil?) }
    - if last_href
      = link_to "< Last Activity", runnable_activity_path(sequence, previous_activity), { :title => previous_activity.name }
    - else
      &lt; Last Activity