#share-popup.share-popup
  %div
  %h2
    Paste this
    %a#opens-in-new-window{:target => "_blank"} link
    in email or IM.
  %textarea#share-link-to-copy

:scss
  #share-popup {
    display: none;
  }

:javascript
  $(function() {
    var url = document.URL;
    var popup = LARA.addPopup({
      content: $('#share-popup')[0],
      removeOnClose: false,
      autoOpen: false,
      width: 500,
      height: 140,
      title: 'Share Summary Report',
      modal: true,
      dialogClass: 'share-popup-dialog',
    });
    $('a#opens-in-new-window').attr('href', url);
    $('textarea#share-link-to-copy').val(url);
    $('.share').on('click', function(event) {
      popup.open();
    });
  });
