.social-media-mod.site-width
  = link_to image_tag('icons/fb-button.png', :title => 'Share on Facebook', :alt => 'Share on Facebook', :width => 46, :height => 20), 'http://www.facebook.com/share.php?u=#', :class => 'fb-link'
  &nbsp;
  = link_to "tweet", "//twitter.com/share?count=none", {:class => "twitter-share-button"}
  :javascript
    window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
  &nbsp;
  %span.IN-widget{ :style => "line-height: 1; vertical-align: baseline; display: inline-block; text-align: center;" }
    %span{ :style => "padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important;" }
      %span#li_ui_li_gen_1366636611137_0
        %a#li_ui_li_gen_1366636611137_0-link{ :href => "javascript:void(0);" }
          %span#li_ui_li_gen_1366636611137_0-logo
            in
          %span#li_ui_li_gen_1366636611137_0-title
            %span#li_ui_li_gen_1366636611137_0-mark
            %span#li_ui_li_gen_1366636611137_0-title-text
              Share
  %script{ :type => "in/share+init", :data => { :url => "#" } }
  &nbsp;
  #___plusone_0(style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 32px; height: 20px; background-position: initial initial; background-repeat: initial initial;")
    -# TODO: The +1 button src is busted
    -# this was breaking phantomjs tests
    -# %iframe(frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 32px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 20px;" tabindex="0" vspace="0" width="100%" id="I0_1366636611106" name="I0_1366636611106" src="https://plusone.google.com/_/+1/fastbutton?bsv&size=medium&annotation=none&hl=en-US" allowtransparency="true" data-gapiattached="true" title="+1")

  / :javascript
  /   (function() {
  /     var po = document.createElement('script');
  /     po.type = 'text/javascript';
  /     po.async = true;
  /     po.src = 'https://apis.google.com/js/plusone.js';
  /     var s = document.getElementsByTagName('script')[0];
  /     s.parentNode.insertBefore(po, s);
  /   })();
