<% if teacher_content %>
    <div class="teacher-edition-banner valign-center">
      <span>
        <%= image_tag('teacher-edition-icons/teacher_edition_A.svg', {width: 50, height: 50}) %>
        Teacher Edition
      </span>
    </div>
<% end %>