<% if teacher_content %>
    <div class="teacher-edition-banner valign-center">
      <div class="halign-center">
        <%= render partial: 'shared/teacher_edition_icon' %>
        Teacher Edition
      </div>
    </div>
<% end %>