/ %div{ :data => { :storage_key => embeddable.storage_key } }
.prompt
  != embeddable.prompt
%textarea{:name => "questions[embeddable__#{embeddable.class.to_s.demodulize.underscore}_#{embeddable.id}]"}
