.help
  %span.close
    close (✖)
  %h3.title
    Help
  .help-content
    = raw @project.help
  .buttons
    = link_to "Contact us",contact_us_project_path(@project),:remote => true , :id =>'contact-us'

:scss
  h3.title {
    font-size: 12pt;
    font-weight: bold;
    padding-top: 4px;
    margin: 0 0 1em 0;
    padding-left: 5px;
    color: #000000;
    background: #CCCCCC;
    height:25px;
  }
  .help-content {
    padding: 5px;
  }
  .buttons {
    float: right;
    #contact-us{
      background: #6fc5d8;
      border: none;
      color: #fff;
      font-size: .9em;
      margin-top: 20px;
      padding: 5px 10px;
      border-radius: 20px;
      text-decoration: none;
      display: inline-block;
    }
  }
