= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  Projects

#projectList

:javascript
  $(document).ready( function() {
    LARA.Projects.renderProjectList(document.getElementById("projectList"));
  });