= content_for :session do
  #session
    = render :partial => 'shared/session'
= content_for :title do
  New Project
#projectEditForm

:javascript
  $(document).ready( function() {
    LARA.Projects.renderProjectSettingsForm(document.getElementById("projectEditForm"), {});
  });
