
.modal {
  #add_new_choice {
    /* Hacky way of moving this out of flow and putting it a line above where it should be */
    position: absolute;
    right: 5px;
    margin-top: -1em;
  }
  .choices {
    .delete_choice {
      position: relative;
      left: 20px;
    }
  }
  li {
    list-style: none;
  }
  label {
    font-weight: bold;
  }
  fieldset {
    margin-top: 1em;
  }
  fieldset legend {
    font-weight: bold;
  }
  .btn {
    float: right;
    margin: 1em;
  }
  .help {
    font-size: 12px;
    color: #666;
  }
  .indent {
    margin-left: 10px;
  }
}

.plugin-output {
  fieldset {
    margin: 0;
    /* the authoring styles sets 'position: relative' which breaks multi choice checkbox
       positioning by the teacher-edition-tips plugin */
    position: static;
  }
  .question, .questions-mod {
    margin: 0;
  }
}
