
.modal {
  bottom: 20px;
  margin: 0;
  min-height: 400px;
  overflow: hidden;
  padding: 20px 20px 0 !important;
  position: fixed !important;
  top: 20px !important;

  form[class^="edit_"], form.styled-admin-form {
    height: auto;
    max-height: calc(100% - 70px);
    min-height: calc(100% - 70px);
    overflow: scroll;
    position: relative;

    &:after { // provides clearance for .submit-container
      content: "";
      display: block;
      height: 100px;
    }

    fieldset {
      width: calc(100% - 2px);
    }
    .submit-container {
      background: #eee;
      bottom: 0;
      height: 55px;
      left: 0;
      position: fixed;
      transform: translateX(0); // allows element to be fixed within its container
      width: 100%;
      z-index: 1;

      &:before {
        background: transparent;
        background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,.1) 100%);
        content: '';
        height: 50px;
        left: 0;
        position: fixed;
        top: -50px;
        transform: translateX(0); // allows element to be fixed within its container
        width: 100%;
      }

      input.close {
        margin-right: 1em;
      }
    }
  }

  #add_new_choice {
    /* Hacky way of moving this out of flow and putting it a line above where it should be */
    position: absolute;
    right: 5px;
    margin-top: -1em;
  }
  .choices {
    .delete_choice {
      position: relative;
      left: 20px;
    }
  }
  li {
    list-style: none;
  }
  label {
    font-weight: bold;
  }
  fieldset {
    margin-top: 1em;
  }
  fieldset legend {
    font-weight: bold;
  }
  .btn {
    float: right;
    margin: 1em;
  }
  .help {
    font-size: 12px;
    color: #666;
  }
  .indent {
    margin-left: 10px;
  }
}

.plugin-output {
  fieldset {
    margin: 0;
    /* the authoring styles sets 'position: relative' which breaks multi choice checkbox
       positioning by the teacher-edition-tips plugin */
    position: static;
  }
  .question, .questions-mod {
    margin: 0;
  }
}
