<div class="activity-nav-logo ui-block-1">
	<h2 class="h2">Intermolecular Attractions and Boiling Point</h2>
</div>
					
<nav class="activity-nav ui-block-2">
	
	<a class="next" href="#"> </a>
	<a class="prev" href="#"> </a>

	<div class="pages">
		<ul class="pagination">
			<li class="pagination-item home-link"><a href="/_templates/interactive-index.html" class="pagination-link">H</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">1</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">2</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">3</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">4</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">5</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">6</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">7</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">8</a></li>
			<li class="pagination-item"><a href="" class="pagination-link">9</a></li>
			<li class="pagination-item"><a href="" class="pagination-link selected">10</a></li>
		</ul>
	</div> <!-- end pages-->
</nav> <!-- end activity-nav ui-block-2 -->
