-# How do we do the next/previous buttons in the navigation block?
- next_href = @page.lower_item.nil? ? nil : activity_page_path(@page.lightweight_activity, @page.lower_item)
- previous_href = @page.higher_item.nil? ? nil : activity_page_path(@page.lightweight_activity, @page.higher_item)

.activity-nav-logo.ui-block-1
  %h2.h2
    = @activity.name
%nav.activity-nav.ui-block-2
  %a.next{ :class => ('disabled' if @page.lower_item.nil?), :href => next_href }
  %a.prev{ :class => ('disabled' if @page.higher_item.nil?), :href => previous_href }

  .pages
    %ul.pagination
      -# %li.pagination-item.home-link
        =# link_to 'H', activities_url, :class => 'pagination-link'
      - page_counter = 1
      - @activity.pages.each do |p|
        %li.pagination-item
          = link_to page_counter, activity_page_path(@activity, p), :class => (p === @page) ? 'pagination-link selected' : 'pagination-link'
          - page_counter = page_counter + 1
