.interactive-mod{class: (layout == 'l-full-width') ? nil : 'pinned'}
  - if page.show_multiple_interactives?
    - page.visible_interactives.each do |interactive|
      = render_interactive(interactive)

  - elsif page.visible_interactives.first
    = render_interactive(page.visible_interactives.first)
