.interactive-mod{class: (layout == 'l-full-width') ? nil : 'pinned'}
  - if page.interactives.first
    = render partial: "#{page.interactives.first.class.name.underscore.pluralize}/show", locals: {interactive: page.interactives.first}
