.interactive-mod{class: layout == 'l-full-width' ? nil : 'pinned'}
  - page.interactive_box_visible_embeddables.each do |interactive|
    %div{ id: interactive.embeddable_dom_id }
      -# This CSS class is important, as it might be referenced by plugins and passed to a plugin instance.
      .embeddable-container
        = render_interactive(interactive)
