.interactive-mod{class: layout == 'l-full-width' ? nil : 'pinned'}
  - page.interactive_box_visible_embeddables.each do |interactive|
    -# The embeddable-root class is important, it is used in sizing calculations
    .embeddable-root{ id: interactive.embeddable_dom_id }
      -# The embeddable-container class is important, as it is referenced by plugins and passed to a plugin instance.
      .embeddable-container
        = render_interactive(interactive)
