.interactive-mod.pinned
	%iframe{ :width => "576px",
           :height => "439px",
           :frameborder => "no",
           :scrolling => "no",
           :allowfullscreen => "true",
           :webkitallowfullscreen => "true",
           :mozallowfullscreen => "true",
           :src => @page.interactives.first.url }
