.interactive-mod.pinned
	%iframe{ :width => "576px",
           :height => "439px",
           :frameborder => "no",
           :scrolling => "no",
           :allowfullscreen => "true",
           :webkitallowfullscreen => "true",
           :mozallowfullscreen => "true",
           :src => "http://lab.concord.org/examples/interactives/embeddable.html#interactives/sam/intermolecular-attractions/6-hydrogen-bonds-a-special-type-of-attraction.json" }
