.embeddables
  - unless embeddables.blank?
    - embeddables.each do |e|
      -# If a labbooks is included within the interactives section,
      -# dont also display that item here.
      - unless show_labbook_in_assessment_block?(e)
        - is_likert = e.is_a?(Embeddable::MultipleChoiceAnswer) && e.is_likert
        - css_class = e.is_a?(Embeddable::Xhtml) ? 'challenge' : is_likert ? "likert" : ""
        - css_class += e.respond_to?(:is_full_width) && e.is_full_width ? " full-width-item" : ""
        - css_class += e.respond_to?(:wrapping_plugin?) && e.wrapping_plugin? ? " hidden" : ""
        - if e.show_in_runtime?
          -# e variable is actually either embeddable (for interactives, plugins, etc.) or embeddable answer
          -# (open response, multiple choice and all the question types). If the latter, get a real question object.
          - question = e.respond_to?(:question) ? e.question : e
          .question{ class: css_class, id: "question-#{question.embeddable_id}" }
            .question-container
              - if Embeddable::is_interactive?(e)
                = render_interactive(e)
              - else
                - partial_name = "#{e.class.name.underscore.pluralize}/lightweight"
                = render(partial: partial_name, locals: { embeddable: e })
