.embeddables
  - unless embeddables.blank?
    - embeddables.each do |e|
      -# If a labbooks is included within the interactives section,
      -# dont also display that item here.
      - unless show_labbook_in_assessment_block?(e)
        - if e.show_in_runtime?
          -# e variable is actually either embeddable (for interactives, plugins, etc.) or embeddable answer
          -# (open response, multiple choice and all the question types). If the latter, get a real question object.
          - question = e.respond_to?(:question) ? e.question : e
          .question{ class: question_css_class(e), id: question.embeddable_dom_id }
            -# The embeddable-root CSS class is important as it is used by sizing calculations
            .embeddable-root
              -# The embeddable-container CSS class is important, as it is referenced by plugins and passed to a plugin instance.
              .embeddable-container
                - if Embeddable::is_interactive?(e)
                  = render_interactive(e)
                - else
                  - partial_name = "#{e.class.name.underscore.pluralize}/lightweight"
                  = render(partial: partial_name, locals: { embeddable: e })
