- this_url = edit_activity_page_path(activity, page)
- new_url = new_question_tracker_path(qt_origin: this_url)
#trackedQuestionSelector
  .trackedQuestionContent
    .title
      %h2=t("TRACKED_QUESTION.ADD_TEXT")
      %button#closeTrackedQuestionSelector Cancel
    .searchResults
      - if can? :modify, QuestionTracker
        %a{href: new_url}
          .result.new{id: 'new-tracked-question'}
            .type
            .name + New
            .description Create a new linked question.
      - QuestionTracker.list_tracked_questions(current_user).each do |qt|
        - add_url = add_tracked_activity_page_path(activity, page, {question_tracker: qt.id, qt_origin: this_url})

        %a{href: add_url}
          .result{'id' => "tracked-question-#{qt.id}"}
            .type=qt.type
            .name=qt.name
            .useCount
              Used in #{qt.use_count} activities.
            .description=qt.description


:javascript
  function embededType() {
    return $('#embeddable_type').val();
  };

  function openTrackedQuestionSelector() {
    $('#trackedQuestionSelector').addClass('shown');
  };
  function closeTrackedQuestionSelector() {
    $('#trackedQuestionSelector').removeClass('shown');
  };

  function handleAddEmbed(evt) {
    switch (embededType()) {
      // We special case this embeddbable, because it has to
      // do additional work in the client.
      case "QuestionTracker":
        openTrackedQuestionSelector();
        evt.preventDefault();
        break;
    }
  };

  $(document).ready(function() {
    $('#add_embeddable_button').click(handleAddEmbed);
    $('#closeTrackedQuestionSelector').click(closeTrackedQuestionSelector);
  });
