-# TODO: This should become the authoring view
= render :partial => 'lightweight/interactive_pages/show', :locals => {:page => @page, :previous_page => @previous_page, :next_page => @next_page, :all_pages => @all_pages}
