@mixin theme(
    $bgColorOrUrl: #f3f3f3, // page background
    $theme-color-a: #0592af, // intro heading text, page index links, question headings background, more
    $theme-color-b: #2da343, // selected pagination link, most buttons (except report button), more
    $right-logo-display: 'block', // show or hide logo at top right of page
    $social-media-btn-display: 'block', // show or hide social media buttons
    $activity-menu-display: 'block' // show or hide the activity menu that contains the report and print links
  ) {

  html {
    background: $bgColorOrUrl no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  body {
    background-image:none;
  }
  div.activity-mod>div.site-width {
    background-color: rgba(255,255,255,0.95);
  }

  // Right side header logo visibility
  .site-logo.logo-r {
    display: $right-logo-display;
  }

  a.sequence_title{
    color: $theme-color-a;
    @include helv-stack(bold);
    font-size: 24pt;
  }

  .sequence-page{
    .profile-u-name{
      color: $theme-color-a;
      white-space: nowrap;
    }
    .profile-dropdown{
      background-color:transparent
    }
  }

  .pagination-item .pagination-link.selected {
    background-color: $theme-color-b;
  }

  #nav-activity-menu-container {
    display: $activity-menu-display;
  }

  // could also potentially use #A43900 drk orange
  .activities {
    .activity-bg:hover {
      background: lighten($theme-color-a, 50%);
    }
    .activity  {
      .title, .position {
        color: $theme-color-a;
      }
    }
  }
  .question-hdr {
    background-color: $theme-color-a;
  }

  // social media visibility
  .social-media-mod {
    display: $social-media-btn-display;
  }

  // buttons
  input[type="button"],
  input[type="submit"],
  button[type="button"] {
    border: 0;
    @include btn($theme-color-b, darken($theme-color-b, 10%));
    /*@include btn(lighten($theme-color-a, 10%), $theme-color-a);*/
    &.disabled {
      cursor: not-allowed;
    }
    &:focus {
      box-shadow: 0 0 0 1px #fff, 0 0 2px 3px #6fc6da;
    }
  }

  .related-hdr {
    background-color: $theme-color-b;
  }
  .bottom-buttons {
    .next-page,
    .prev {
      input[type="submit"] {
        @include btn($theme-color-b, darken($theme-color-b, 10%))
      }
    }
    .gen-report {
      input[type="submit"] {
        @include btn($theme-color-a, darken($theme-color-a, 10%))
      }
    }
  }
  .index-mod.intro-mod {
    ul li,
    ol li, {
      a,
      a:visited {
        color: $theme-color-a;
      }
      a:hover {
        color: darken($theme-color-b, 10%);
      }
    }
  }
  .intro-mod {
    .h4 {
      color: $theme-color-a;
      font-weight: bold;
    }
  }
  .estimated-time {
    background-color: lighten($theme-color-b, 30%);
  }
  .index-mod.intro-mod ul li:before,
  .index-mod.intro-mod ol li:before {
      background-color: lighten($theme-color-b, 20%);
      border: 1px solid $theme-color-b;
      color: darken($theme-color-b, 20%);
      text-shadow: none;
    }
  .time_to_complete {
    .time_estimate {
      color: $theme-color-a;
    }
  }
}

@mixin hasbot($srcImage) {
  .ab-robot-wrap #ab-robot-image {
      background-image: url($srcImage);
      background-position: 0 0;
  }
}
