.interactive-container {
    position: relative;
    .img-container,.click_to_play,.click_to_play .background,.click_to_play .text,.interactive-print-text {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .img-container {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .click_to_play {
      cursor: pointer;
      .background {
        background-color: white;
        opacity: 0.75;
      }
      .text {
        text-align: center;
        font-size: 2em;
        margin-top: 4em;
      }
    }
    .interactive-print-text {
      text-align: center;
      display: none;
      padding-top:35%;
      div {
          font-size: 1.5em;
      }
    }
  }