
.summary-actions {
  position: fixed;
  top: 230px;
  margin-left: 820px;
  .print {
    @include btn(#459ace, #2b6fba);
    width: 120px;
  }
  .close {
    @include btn(#459ace, #2b6fba);
    width: 120px;
  }
  &.bottom {
    margin-top: -50px;
  }
}

.summary-mod {
  margin-right: 150px;
  padding: 15px;
  .prompt {
    // font-family is too agressively being set to helv.medium
    // which includes a weight in the font.  Grr.
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px 5px 5px 0;
  }
  .number {
    float: left;
    font-weight: bold;
    margin: 5px 5px 5px 0;
  }
  .answer, .image_answer {
    clear: left;
    margin-left: 16px;
  }
}

