
.content-mod {
  @extend .cf;
  position: relative;
}

.interactive-mod {
  margin-bottom: 52px;
  width: 100%;
  z-index: 100;
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.under-image {
  .fullscreen {
    float: right;
    a {
      outline: none;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
    }
    img {
      height: 32px;
      width: 32px;
      padding: 4px;
    }
  }
}
.caption {
  display: block;
  font-size: 14px;
  margin: 0px;
}
.credit {
  display: block;
  font-size: 10px;
  font-style: italic;
  margin: 0px;
  a {
    text-decoration: underline;
  }
}

@import 'partials/click_to_play';

.questions-mod {
 /* margin-bottom: 52px; */
  position: relative;
}

.question {
  margin: 0 0 20px;
  @extend .cf;
  .question-txt {
    overflow: hidden;
  }
  .answer_text {
    font-style: italic;
    font-size: 0.9em;
  }
  &.hidden {
    display: none;
  }
}

.challenge {
  .question-hdr {
    background: transparent;
    padding: 4px 0;

    .h5 {
      color: #333;
      font-weight: bolder;
      text-shadow: none;
    }
  }
  .question-bd {
    border: none;
    padding: 0;
  }

  &.callout {
    .question-hdr, .question-hdr-collapse {
      background: darken($black-15, 20%);
      display: block;
      padding: 4px 8px;

      .h5 {
        color: #fff;
        font-weight: normal;
        @include drk-txt-shadow($black-15);
      }
    }
    .question-bd {
      background: $black-5;
      padding: 20px 20px 13px;
      @extend .mod-border-rounded;
    }
  }
} // end .challenge


.question-hdr, .question-hdr-collapse {
  background: $med-blue;
  position: relative;
  padding: 4px 8px;
  clear: both;

  .h5 {
    @include helv-stack(500);
    position: relative;
    color: #fff;
    font-size: 16px;
  }
}

.question-bd {
  padding: 20px 20px 13px;
  @extend .mod-border-rounded;
}

// radio buttons
.intro-mod,
.content-mod {
  label {
    margin-bottom: 13px;
  }
  input {
    margin-right: 8px;
    &[type="checkbox"]{
      margin-bottom: 3px;
    }
  }
  // title
  h4 {
    margin-bottom: 20px;
  }
}

.intro-txt {
  margin-bottom: 15px;
}

// screen shot answer
.image-answer {
  border: 3px dashed $lt-blue;
  padding: 40px;
  text-align: center;
  @include border-radius(10px);

  &.complete {
    margin-bottom: 12px;
  }
}

.image-file {
  @include border-radius(5px);
  background-color: #FFF;
  text-align: center;

  img {
    max-width: 100%;
    opacity: 0.6;
    @include border-radius(5px);
  }

  p {
    margin: 0;
  }
  a {
    font-size: 11px;
    color: $btn-blue;
    text-transform: uppercase;
    float: right;
  }
}

// submit
/* test to change submit button to green instead */
input[type="submit"],
button[type="submit"] {
  display: block;
  margin: 0 auto;
  @include btn ( lighten($btn-green, 8%), $btn-green2 );
  padding: 15px 30px;
  font-size: 15px;
  color: #fff;
  @include drk-txt-shadow($btn-green);
}

// button
input[type="button"],
button[type="button"] {
  border: 0;
  @include btn;
}
input:disabled {
  opacity: 0.3;
}
