// ******************************************
//  10. Sidebar
// ******************************************

.sidebar-mod {
  position: fixed;
  top: 20%;
  @include helv-stack(100);
  text-align: left;
  @include border-radius(0 0 0 8px);
  background-color: transparent;
  opacity: 0;
  z-index: 200;
  width: 600px;
  right: -515px;

  @media screen and (min-width: 1024px) {
    right: -715px;
    width: 800px;
  }

  transition: 0.4s right,
              0.4s z-index,
              3.0s opacity,
              0.85s background-color,
              0.20s 0.05s ease box-shadow;

  &.visible {
    opacity: 1;
  }

  &.expanded {
    right: 0;
    background-color: #fff;
    z-index: 1000;

    box-shadow: -3px 2px 15px rgba(0, 0, 0, 0.3),
                0 0 0 8000px rgba(68, 68, 68, 0.1),
                0 0 0 8000px rgba(255, 255, 255, 0.7);

    .sidebar-hdr {
      position: absolute;
      left: -85px;
    }

    .sidebar-bd {
      padding: 30px;
      background-color: #fff;
    }
  } // end .expanded
} // end sidebar-mod

.sidebar-hdr {
  cursor: pointer;
  left: 0;
  background: lighten($drk-orange, 5%);
  border-right: 4px solid $drk-orange;
  width: 85px;
  min-height: 79px;
  text-align: center;
  padding: 8px;
  float: left;
  i {
    font-size: 24px;
    color: #fff;
    opacity:0.7;
    @include drk-txt-shadow($drk-orange);
  }
  @include border-radius(3px 0 0 3px);

  &:hover {
    background-color: darken($drk-orange, 5%);
  }

  .h5 {
    // text-transform: uppercase;
    @include helv-stack(500);
    text-transform: none;
    color: #fff;
    font-size: 14px;
    line-height: 1.15em;
    margin-top: 0.2em;
    @include drk-txt-shadow($drk-orange);
  }
}//sidebar-hdr

.sidebar-bd {
  padding: 30px 30px 30px 105px;
  @include helv-stack(500);
  font-size: 16px;
  @include border-radius(0 0 0 8px);
  background-color: transparent;
  height: 500px;
  overflow: auto;

  .h4 {
    font-size: 24px;
    @include helv-stack(500);
    font-weight: 400;
    margin-bottom: 14px;
  }

  .sidebar-txt {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }//sidebar-txt
} // end sidebar-bd

.sidebar-bd-close {
  position: absolute;
  background-color: $black-15;
  padding: 4px 6px 0 6px;
  top: 12px;
  right: 12px;
  color: #fff;
  cursor: pointer;
  @include border-radius(5px);
  @include trans;

  &:hover {
    background-color: darken($black-15, 15%);
  }
}//sidebar-bd-close






