
.summary-actions {
  position: fixed;
  top: 230px;
  margin-left: 820px;
  .print {
    @include btn(#459ace, #2b6fba);
    width: 120px;
  }
  .close {
    @include btn(#459ace, #2b6fba);
    width: 120px;
  }
  &.bottom {
    margin-top: -50px;
  }
}

.summary-mod {
  margin-right: 150px;
  padding: 15px;
  .prompt {
    color: rgb(160, 160, 160);
    .number {
      font-size: 1.2em;
    }
    .text {
      font-size: 1.1em;
    }
    font-family: sans-serif;
    margin: 5px;
    margin-top: 30px;
  }
  .answer, .image_answer {
    clear: left;
    margin-left: 30px;
  }
}

