
// Layout: 6040
.l-6040 {
  @extend .cf;
  @include ui-grid-rl(60%, 40%, 2%);
} // end .l-6040


// Layout: 7030
.l-7030 {
  @extend .cf;
  @include ui-grid-rl(70%, 30%, 2%);
}

.r-4060 {
  @extend .cf;
  @include ui-grid-lr(60%, 40%, 2%);
} // end .r-4060

.r-3070 {
  @extend .cf;
  @include ui-grid-lr(70%, 30%, 2%);
}

// Layout: full-width
.l-full-width {

  .question-hdr {
    width: 100%;
  }

  .question-bd {
    width: 100%;
  }

  .challenge {
    .h5 {
      &:after {
        border-left-color: darken($black-15, 3%);
      }
    }
  }

  .h5 {
    &:after {
      position: absolute;
      content: "\0020";
      right: -28px;
      top: -1px;
      border: 12px solid $med-blue;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  .question {
    margin: 20px;
    display: inline-block;
    width: 45%;
    vertical-align: top;

    &.full-width-item {
      width: 100%;
      margin: 20px 0;
    }

    &.hidden {
      display: none;
    }
  }

  .jcarousel {
    background: #fff;
    margin: 0;
    padding: 10px 0 30px;

    .question {
      margin: 0;
    }
  }

  h5:after {
    background-color: none;
    display:none;
  }

  .question.likert{
    width: 95%;
    input{
      margin-right:5px;
    }
  }
} // .l-full-width

@import "responsive-layout";
