
.sticky-wrapper { margin-bottom: 52px; }

.interactive-mod {
  &.stuck {
    position: fixed;
    top: 65px;
  }

  &.bottomed {
    position: absolute;
    bottom: 0;
  }
}


// .sticky-wrapper need to have hard px widths to work correctly in fixed state
.l-7030 {

  .sticky-wrapper {
    width: 672px;
    float: right;
  }

  .interactive-mod {
    width: 672px;
  }

}


