@import "../../vars.scss";

a {
  color: inherit;
}

button.bigButton {
  background: var(--ltr-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-default);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 10px auto;
  padding: 14px 19px;
  text-align: center;

  &:hover, &:active {
    background: var(--teal);
    color: white;

    svg {
      fill: white;
    }
  }

  span.lineAdjust {
    height: 16px;
    line-height: 17px;
  }
  svg {
    align-self: center;
    fill: var(--dark-gray);
    margin: 0 3px 0 0;
  }
}

button.smallButton {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-default);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;

  &:hover {
    background: var(--ltr-teal);
  }
  &:active {
    background: var(--teal);
    color: white;

    svg {
      fill: white;
    }
  }

  span.lineAdjust {
    height: 16px;
    line-height: 17px;
  }
  svg {
    align-self: center;
    fill: var(--dark-gray);
    margin: 0 3px 0 0;
  }
}

select {
  align-self: center;
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px;
}

.edit-page-grid-container {
  background: var(--ltr-teal);
  display: grid;
  gap: 0;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(10, 1fr);
  margin: 10px;

  &.section-full-width {
    grid-template-columns: 1fr;
  }
  &.section-30-70 {
    grid-template-columns: 3fr 7fr;
  }
  &.section-70-30 {
    grid-template-columns: 7fr 3fr;
  }
  &.section-40-60 {
    grid-template-columns: 4fr 6fr;
  }
  &.section-60-40 {
    grid-template-columns: 6fr 4fr;
  }
  &.section-responsive-2-columns {
    grid-template-columns: 325px 1fr;
    .section-responsive-fluid {
      .edit-items-container {
        display: flex;
        flex-direction: column;
        .itemsContainer {
          width: calc(91.5vw - 345px);
          max-width: calc(100% - 20px);
          min-width: 515px;
        }
      }
    }
  }
  &.section-responsive-full-width {
    display: flex;
    flex-direction: column;
    .section-responsive-fluid {
      .edit-items-container {
        display: flex;
        flex-direction: column;
        .itemsContainer {
          width: calc(91.5vw - 20px);
          max-width:1060px;
          min-width: 700px;
        }
      }
    }
  }
  &.col-2 {
    margin-left: 0;
  }
}

.teal-label {
  color: var(--teal);
  font-weight: bold;
  text-transform: uppercase;
}

.page-settings {
  display: flex;
  padding: 10px;
  font-size: 12pt;
  background-color: var(--lt-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

.part-label {
  color: var(--teal);
  font-size: 18pt;
  grid-column: 1/2;
  justify-self: end;
}

.activity-name {
  color: var(--orange);
  font-size: 18pt;
  grid-column: 2/8;
  justify-self: start;
}

.page-name {
  color: black;
  font-size: 18pt;
  grid-column: 2/8;
  justify-self: start;
}

.page-numbers {
  grid-column: 8/11;
  justify-self: end;
}
.page-numbers.page-nav {
  position: unset;
  right: unset;
  top: unset;
}

#preview-menu {
  float: unset;
  grid-column: 7/11;
  justify-self: end;
}

#preview-options-select{
  margin-left: unset;
}

.full-row {
  grid-column: span 10;
}

.sectionMenu {
  background-color: var(--teal);
  color: white;
  display: flex;
  font-family: var(--font-family-default);
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 6px 5px;
  & > a { color: white; }

  label {
    line-height: 1;
    margin-right: 5px;
    text-transform: none;
  }

  .menuStart {
    align-items: center;
    display: flex;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;

    h3 {
      display: inline;
      margin: 0 10px;
      white-space: nowrap;
      line-height: 1;
    }
    .sectionDragHandle {
      margin-top: 2px;
    }
    .toggleSecondaryColumnOption {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      margin: 0 0 0 10px;

      input[type="checkbox"] {
        background: white;
        border: solid 1.5px var(--med-gray);
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
        line-height: 1;
        margin: 0 5px 0 0;
        padding: 0;
        position: relative;
        width: 20px;
        -webkit-appearance: none;

        &:checked {
          background: white;

          &:after {
            border: solid var(--teal);
            border-width: 0 3px 3px 0;
            color: var(--teal);
            content: " ";
            display: block;
            height: 10px;
            left: 5px;
            position: absolute;
            top: 0;
            width: 5px;
            -webkit-transform: rotate(40deg);
            -ms-transform: rotate(40deg);
            transform: rotate(40deg);
          }
        }
        &:hover {
          &:after {
            color: var(--lt-teal);
          }
        }
        &:active {
          &:after {
            color: var(--teal);
          }
        }
      }
    }
  }

  .menuEnd {
    align-self: center;
    margin-right: 5px;
    text-align: right;

    button {
      background: transparent;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      display: flex;
      font-family: var(--font-family-default);
      font-size: 11.5px;
      margin: 0 0 0 -1px;
      padding: 5px 10px;
      position: relative;
      text-transform: uppercase;
      transition: .2s;
      &:hover {
        background: var(--ltr-teal);
        color: var(--teal);
      }
      &:active {
        background: var(--lt-teal);
        color: var(--teal);
        &:after {
          border-color: var(--lt-teal);
        }
      }
      &:after {
        align-self: center;
        border-right: solid 1px var(--ltr-teal);
        content: " ";
        display: inline-block;
        height: 11.5px;
        margin: 1px 0 0;
        position: absolute;
        right: 0;
      }
    }
    ul {
      line-height: .5;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &:last-child {
          button:after {
            border-right: none;
          }
        }

      }
    }
  }
}

.new-section {
  border: 1px solid var(--lt-gray);
  grid-column: span 10;
}

.sectionContainer {
  background-color: var(--ltr-teal);
  border: 1px solid var(--teal);
  border-radius: 3px;
  margin-bottom: 10px;
}
