@import "../../vars.scss";

.edit-page-grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(20px, auto);
  margin: 10px;
}
button.big-button {
  background: var(--teal);
  border: none;
  border-radius: 8px;
  color: white;
  font-family: var(--font-family-default);
  font-size: 20pt;
  padding: 12pt 48pt;
  text-transform: uppercase;
}

a {
  color: inherit;
}

input[type="submit"].big-button {
  background: var(--teal);
  border: none;
  border-radius: 8px;
  color: white;
  font-family: var(--font-family-default);
  font-size: 20pt;
  padding: 12pt 48pt;
  text-transform: uppercase;
}

button.small-button {
  background: none;
  border: 2px solid;
  border-radius: 3px;
  color: var(--teal);
  font-family: var(--font-family-default);
  font-size: 14pt;
  padding: 7pt 28pt;
  text-transform: uppercase;
}

.teal-label {
  color: var(--teal);
  font-weight: bold;
  text-transform: uppercase;
}

.page-settings {
  background-color: var(--lt-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  font-size: 12pt;
  justify-content: space-around;
  padding: 10px;
  display: flex;
}

.part-label {
  color: var(--teal);
  font-size: 18pt;
  grid-column: 1/2;
  justify-self: end;
}

.activity-name {
  color: var(--orange); 
  font-size: 18pt;
  grid-column: 2/8; 
  justify-self: start;
}

.page-name {
  color: black;  
  font-size: 18pt;
  grid-column: 2/8;
  justify-self: start;
}

.page-numbers {
  grid-column: 8/11;
  justify-self: end;
  &.page-nav {
    position: unset;
    right: unset;
    top: unset;
  }
}

#preview-menu {
  float: unset;
  grid-column: 7/11;
  justify-self: end;
}

#preview-options-select{
  margin-left: unset;
}

.full-row {
  grid-column: span 10;
}

.section-menu { 
  background-color: var(--teal);
  color: white;
  display: flex;
  font-size: 14pt;
  justify-content: space-between;
  padding: 8px;
  text-transform: uppercase;
}

.section-menu > a { color: white; }

.menu-start > span {
  margin-right: 15px;
}

.menu-end > span {
  margin-left: 15px;
}

.new-section {
  border: 1px solid var(--lt-gray);
  grid-column: span 10;
}

.section-container {
  align-items: center;
  background-color: white;
  border: 1px solid var(--teal);
  border-radius: 5px;
  display: flex;
  min-height: 200px;
  justify-content: center;
  justify-self: stretch;
}

.section-30 {
  grid-column: span 3;
}
.section-40 {
  grid-column: span 4;
}
.section-60 {
  grid-column: span 6;
}
.section-70 {
  grid-column: span 7;
}
.section-responsive {
  grid-column: span 10;
}
.section-full-width {
  grid-column: span 10;
}
