:root {
  --dark-teal: #218389;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --med-orange: orange;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0,0%,90%);
  --font-family: lato, arial, helvetica, sans-serif;
}
select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px;
}
.edit-page-grid-container {
  background: var(--ltr-teal);
  display: grid;
  gap: 10px;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(10, 1fr);
  margin: 10px;
}
button.big-button {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  border: none;
  color: var(--dark-gray);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
}

a {
  color: inherit;
}

input[type="submit"].big-button {
  border: none;
  color: white;
  padding: 12pt 48pt;
  font-size: 20pt;
  font-family: var(--font-family);
  text-transform: uppercase;
  background: var(--teal);
  border-radius: 8px;
}

button.small-button {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: block;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
}

.teal-label {
  color: var(--teal);
  text-transform: uppercase;
  font-weight: bold;
}

.page-settings {
  display: block;
  padding: 10px;
  font-size: 12pt;
  background-color: var(--lt-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

.part-label {
  grid-column: 1/2;
  font-size: 18pt;
  color: var(--teal);
  justify-self: end;
}

.activity-name {
  grid-column: 2/8;
  font-size: 18pt;
  color: var(--med-orange);  
  justify-self: start;
}

.page-name {
  grid-column: 2/8;
  font-size: 18pt;
  color: black;  
  justify-self: start;
}

.page-numbers {
  grid-column: 8/11;
  justify-self: end;
}
.page-numbers.page-nav {
  position: unset;
  right: unset;
  top: unset;
}

#preview-menu {
  float: unset;
  grid-column: 7/11;
  justify-self: end;
}

#preview-options-select{
  margin-left: unset;
}

.full-row {
  grid-column: span 10;
}

.section-menu { 
  display: flex;
  justify-content: space-between;
  background-color: var(--teal);
  padding: 5px;
  color: white;
  font-family: var(--font-family);
  font-size: 16px;
}

.section-menu > a { color: white; }

.section-menu h3 {
  display: inline;
  margin: 0 10px;
  white-space: nowrap;
}
.section-menu label {
  text-transform: none;
}
.menu-start {
  max-width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-end {
  align-self: center;
  margin-right: 5px;
}
.menu-end button {
  background: transparent;
  border: none;
  border-right: solid 1px white;
  color: white;
  cursor: pointer;
  font-variant: small-caps;
  margin: 0;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  transition: .2s;
}
.menu-end button:hover {
  color: var(--gold);
}
.menu-end ul {
  line-height: .5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-end ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}
.menu-end ul li:last-child {
  margin-right: 0;
}
.menu-end ul li:last-child button {
  border-right: none;
}

.new-section {
  grid-column: span 10;
  border: 1px solid var(--lt-gray);
}

.section-container, .sectionItem {
  background-color: white;
  border: 1px solid var(--med-gray);
  border-radius: 3px;
  margin-bottom: 10px;
  min-height: 200px;
  width: 100%;
}
.itemsContainer {
  background: var(--ltst-teal);
  border-radius: 4px;
  padding: 10px;
}
.section-30 {
  grid-column: span 3;
}
.section-40 {
  grid-column: span 4;
}
.section-60 {
  grid-column: span 6;
}
.section-70 {
  grid-column: span 7;
}
.section-responsive {
  grid-column: span 10;
}
.section-full-width {
  grid-column: span 10;
}

