:root {
  --med-teal: #218389;
  --med-orange: orange;
  --lt-gray: hsl(0,0%,90%);
  --font-family: lato, arial, helvetica, sans-serif;
}

.edit-page-container {
  display: flex;
  flex-direction: column;
}

button.big-button {
  border: none;
  color: white;
  padding: 12pt 48pt;
  font-size: 20pt;
  font-family: var(--font-family);
  text-transform: uppercase;
  align-self: center;
  justify-self: center;
  background: var(--med-teal);
  border-radius: 8px;
}



