@import "../../vars.scss";

// Override some default modal styles
.modalContainer {
  &.itemEditDialog {
    height: 80%;
    overflow: hidden;

    .modalBody {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 80%;

      header {
        width: calc(100% - 20px);
      }
      section {
        height: calc(100% - 56px);
        padding: 0;

        &#modalContent {
          > div:first-child {
            height: 100%;
          }
        }
      }
    }
  }
}

#itemEditDialog {
  display: flex;
  gap: 0;
  height: 100% !important;
  overflow: hidden;

  #itemEditForm {
    height: calc(100% - 60px);
    overflow: auto;
    padding: 10px 10px 30px;
    position: relative;
    width: 500px;

    &.noPreview {
      max-width: 100%;
      width: 100%;
    }
    @media screen and (max-width: 800px) {
      width: 100%;
    }

    .actionButtons {
      background: #fff;
      bottom: 20px;
      left: 1px;
      max-width: 455px;
      padding: 5px;
      position: fixed;
      width: calc(100% - 11px);
      z-index: 5;

      @media screen and (max-width: 800px) {
        max-width: 100%;
      }
    }
  }
  fieldset {
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;

    label {
      display: block;
      margin-bottom: 5px;

      &[for="name"] {
        font-size: 14px;
        font-weight: bolder;
      }

      &.checkboxLabel {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        margin: 0;

        .inputNote {
          margin-left: 25px;
          width: 100%;
        }
      }
      &.radioLabel {
        display: inline;
        margin: 0 0 0 5px;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
    legend {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .customizable-label {
      font-weight: bold;
      margin: 10px 0 5px 0;
    }

    .customizable-option {

      .customizable-option-setting {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;

        input + label {
          margin: 0 0 0 5px;
        }

        .default-click-to-play-prompt,
        input#custom-click-to-play-prompt {
          width: 100%;
        }
      }
    }
  }

  input, textarea {
    border: solid 1.5px var(--med-gray);
    border-radius: 4px;
    padding: 5px 10px;
    width: calc(100% - 22px);
  }
  input[type="radio"], input[type="checkbox"] {
    width: auto;
  }
  textarea {
    height: 200px;
  }
  input[type="checkbox"] {
    border: solid 1.5px var(--med-gray);
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20px;
    -webkit-appearance: none;

    &:checked {
      background: var(--teal);

      &:after {
        border: solid white;
        border-width: 0 3px 3px 0;
        color: white;
        content: " ";
        display: block;
        height: 10px;
        left: 5px;
        position: absolute;
        top: 0;
        width: 5px;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
      }
    }
    &:hover {
      &:after {
        color: var(--lt-teal);
      }
    }
    &:active {
      &:after {
        color: var(--teal);
      }
    }
  }
  .inputNote {
    color: var(--med-gray);
    font-size: 14px;
    font-style: italic;
  }

  .react-tabs {
    legend {
      border-top: solid 1.5px var(--lt-gray);
      display: block;
      padding-top: 15px;
      width: 100%;
    }
    div fieldset:first-child {
      legend {
        border-top: none;
        padding-top: 0;
      }
    }
  }

  .itemEditPreview {
    background: var(--ltst-teal);
    padding: 10px;
    width: calc(100% - 425px);

    @media screen and (max-width: 800px) {
      display: none;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      margin: 0 0 5px;
    }
    .previewNote {
      font-style: italic;
    }
  }
}
