@import "../../vars.scss";

.itemEditDialog {
  fieldset {
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
  
    label {
      display: block;
      margin-bottom: 5px;

      &.checkboxLabel {
        display: flex;
        font-size: 14px;
        margin: 0;
      }
      &.radioLabel {
        display: inline;
        margin: 0 0 0 5px;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
    legend {
      border-top: solid 1.5px var(--lt-gray);
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      padding-top: 15px;
      width: 100%;
    }

    .customizable-label {
      font-weight: bold;
      margin: 10px 0 5px 0;
    }
  
    .customizable-option {

      .customizable-option-setting {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;

        input + label {
          margin: 0 0 0 5px;
        }

        .default-click-to-play-prompt,
        input#custom-click-to-play-prompt {
          width: 100%;
        }
      }
    }
  }

  input, textarea {
    border: solid 1.5px var(--med-gray);
    border-radius: 4px;
    padding: 5px 10px;
    width: calc(100% - 22px);
  }
  input[type="radio"], input[type="checkbox"] {
    width: auto;
  }
  textarea {
    height: 200px;
  }
  input[type="checkbox"] {
    border: solid 1.5px var(--med-gray);
    border-radius: 5px;
    cursor: pointer;
    height: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20px;
    -webkit-appearance: none;
  
    &:checked {
      background: var(--teal);
  
      &:after {
        border: solid white;
        border-width: 0 3px 3px 0;
        color: white;
        content: " ";
        display: block;
        height: 10px;
        left: 5px;
        position: absolute;
        top: 0;
        width: 5px;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
      }
    }
    &:hover {
      &:after {
        color: var(--lt-teal);
      }    
    }
    &:active {
      &:after {
        color: var(--teal);
      }
    }
  }
  .inputNote {
    color: var(--med-gray);
    font-size: 14px;
    font-style: italic;
  }
}
