@import "../../vars.scss";

#preview-links {
  align-items: center;
  color: var(--font-color-default);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-default);
  font-size: 16px;
  font-weight: bold;
  justify-content: flex-end;
  line-height: 1;
  margin-left: auto;
  margin-bottom: 0;
  position: relative;

  button {
    align-items: center;
    background: var(--ltr-teal);
    border: solid 1.5px var(--teal);
    border-radius: 4px;
    color: var(--teal);
    display: flex;
    margin: 0 0 0 10px;
    padding: 5px 0 5px 5px;

    &:hover {
      background: var(--lt-teal);
    }

    &:active {
      background: var(--teal);
      color: white;

      svg {
        fill: white;
      }
    }

    &.disabled {
      &:active, &:hover {
        background: var(--ltr-teal);
        color: var(--teal);

        svg {
          fill: var(--teal);
        }
      }
    }

    svg {
      fill: var(--teal);
      font-size: 17px;
      margin-right: 5px;
    }
  }
  label, span {
    align-items: center;
    display: flex;
    margin: 0 0 0 10px;
  }
  select {
    margin: 0 0 0 5px;
  }
}
