:root {
  --dark-teal: #218389;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --med-orange: orange;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0,0%,90%);
  --font-family: lato, arial, helvetica, sans-serif;
}

.section-item-container {
  font-size: 12px;
}
.section-item-menu { 
  background-color: var(--teal);
  color: white;
  display: flex;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: normal;
  justify-content: space-between;
  padding: 8px;
  text-transform: uppercase;
}
.menu-start {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 25%;
}
.section-item-menu h4 {
  display: inline-block;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 70%;
}
.menu-end button {
  background: transparent;
  border: none;
  border-right: solid 1px white;
  color: white;
  cursor: pointer;
  font-size: 11.5px;
  margin: 0;
  padding: 0 10px 0 0;
  text-transform: uppercase;
  transition: .2s;
}
.menu-end button:hover {
  color: var(--gold);
}
.menu-end ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-end ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0;
}
.menu-end ul li:last-child {
  margin-right: 0;
}
.menu-end ul li:last-child button {
  border-right: none;
  padding-right: 0;
}