@import "../../vars.scss";

select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px;
}

.modal section {
  background: white;
  border: solid 1px var(--med-gray);
  border-top: none;
  padding: 10px;
}
.sectionItemMoveDialog {
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;
    grid-auto-flow: dense;
    margin: 0 0 20px;
    padding: 0;
  }
  dt {
    margin: 0;
    padding: 0;
  }
  dd {
    margin: 0;
    padding: 0;

    select {
      overflow: hidden;
      width: 100%;
    }
  }
} 

.sectionItemMoveDialog dt.col1, .sectionItemMoveDialog dd.col1 {
  grid-column: 1;
}
.sectionItemMoveDialog dt.col2, .sectionItemMoveDialog dd.col2 {
  grid-column: 2;
}
.sectionItemMoveDialog dt.col3, .sectionItemMoveDialog dd.col3 {
  grid-column: 3;
}
.sectionItemMoveDialog dt.col4, .sectionItemMoveDialog dd.col4 {
  grid-column: 4;
}
.sectionItemMoveDialog dt.col5, .sectionItemMoveDialog dd.col5 {
  grid-column: 5;
}
