:root {
  --dark-teal: #218389;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --med-orange: orange;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0,0%,90%);
  --font-family: lato, arial, helvetica, sans-serif;
}
.disabled, *[disabled] {
  cursor: not-allowed !important;
  opacity: .6 !important;
}
.react-modal {
  font-family: var(--font-family);
  height: 450px;
  left: 50%;
  margin: -200px 0 0 -250px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 600px;
}
.react-modal header {
  background: var(--teal);
  color: white;
  display: flex;
  padding: 10px;
}
.react-modal header h1 {
  flex-grow: 2;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.modalClose {
  align-self: center;
  background: transparent;
  border: none;
  color: white;
  height: 16px;
  line-height: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-indent: 100%;
  white-space: nowrap;
  width: 12px;
}
.modalClose:before {
  content: "\2716";
  cursor: pointer;
  font-size: 16px;
  left: 0;
  position: absolute;
  text-indent: 0;
  top: 0;
}
.react-modal section {
  background: white;
  border: solid 1px var(--med-gray);
  border-top: none;
  padding: 10px;
}

#quickAddMenu {
  background: var(--ltst-teal);
  margin: 0 0 20px;
  padding: 10px;
}
#quickAddMenu h2 {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0;
}
#quickAddMenu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
#quickAddMenu li {
  display: inline-block;
  line-height: 1;
  margin: 0 2px;
  padding: 0;
}
#quickAddMenu li button {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 10px 15px;
  text-align: center;
}
#quickAddMenu li button:hover {
  background: var(--lt-teal);
}
#quickAddMenu li button.disabled:hover {
  background: var(--ltst-teal);
}
#quickAddMenu li button.selected, #quickAddMenu li button:active {
  background: var(--teal);
  color: white;
}
#itemPickerOptions {
  display: flex;
  justify-content: space-between;
}
input, select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px;
}
#itemPickerSearch {
  position: relative;
  width: 50%;
}
#itemPickerSearch input {
  padding-left: 26px;
  width: calc(100% - 36px);
}
#itemPickerSearch:before {
  content: "\260c";
  display: block;
  font-size: 22px;
  font-weight: 700;
  left: 6px;
  line-height: 1;
  position: absolute;
  top: 2px;
  transform: rotate(90deg);
  z-index: 5;
}
#itemPickerSort {
  font-size: 14px;
}
#itemPickerSort label {
  margin-right: 5px;
}
#searchPlaceholder {
  height: 100px;
}
.loading {
  animation: loading .5s linear 0s infinite;
}
@keyframes loading {
  0%, 100% { opacity: .6; }
  50% { opacity: 1; }
}
#itemPickerList {
  border-top: solid 1.5px var(--med-gray);
  height: 150px;
  margin: 20px 0 0;
  overflow: scroll;
  padding: 10px 0 0;
  position: relative;
}
#itemPickerList:after {
  background: transparent;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  content: ' ';
  display: block;
  height: 50px;
  left: 0;
  position: sticky;
  width: 100%;
  z-index: 5;
}
#itemPickerList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#itemPickerList li button {
  background: transparent;
  border: none;
  color: var(--teal);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.6;
  padding: 0 10px;
  text-align: left;
  width: 100%;
}
#itemPickerList li button.selected, #itemPickerList li button:hover {
  background: var(--teal);
  color: white;
}
#itemPickerList li button.disabled:hover {
  background: transparent;
  color: var(--teal);
}

.actionButton {
  border-top: solid 1px var(--med-gray);
  padding-top: 10px;
  text-align: right;
}
.actionButton button {
  background: var(--ltst-teal);
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px 5px 30px;
  position: relative;
}
.actionButton button:hover {
  background: var(--lt-teal);
}
.actionButton button:active {
  background: var(--teal);
  color: white;
}
.actionButton button.disabled {
  opacity: .6;
}
.actionButton button.add:before {
  color: var(--teal);
  content: '\2295';
  font-size: 20px;
  left: 10px;
  position: absolute;
  top: 1px;
}
.actionButton button:active:before {
  color: white;
}