@import "../../vars.scss";

.itemsContainer {
  background: var(--ltst-teal);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

  > .addItem {
    width: 100%;
  }
}
.sectionItem {
  background-color: white;
  border: 1px solid var(--teal);
  border-radius: 3px;
  margin-bottom: 10px;
  min-height: 100px;
  width: 100%;
}
