.authoring-mw-interactive {
  overflow: hidden;
  .status {
    background: #ffbb5f;
    padding: 4px;
    height: 18px;
    margin-top: -26px;
    transition: margin-top 1s;
    -webkit-transition: margin-top 1s;

    &.visible {
      margin-top: 0;
    }

    input, b {
      margin-left: 5px;
    }

    .alert {
      float: right;
    }
  }
}

.authoring-interactive-preview {
  overflow: hidden;
}

.authoring-text-editor {
  border: 1px solid #6fc5d8;
  padding: 5px;

  .authoring-text-content {
    // Make content similar to what will be rendered in the runtime mode.
    font-size: 16px;
    p {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  h2 {
    width: 100%;
    background-color: hsl(192, 64%, 82%);
    color: #126eac;
    text-align: left;
    font-size: 1.3em;
    margin: -5px -5px 5px;
    padding: 5px;
  }

  .header-edit input {
    width: 70%;
    font-size: 16px;
  }

  &.edit {
    .authoring-text-content {
      display: none;
    }
  }
  .authoring-text-links {
    float: right;
    font-size: 13px;
    line-height: 20px;
    margin-right: 10px;
    span {
      cursor: pointer;
    }
  }

  // Clear all the floating images.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.authoring-text-field {
  display: inline-block;

  input {
    width: 200px;
    font-size: 1.1em;
  }

  .text-field-links {
    margin-left: 10px;
    color: #6fc5d8;
    text-decoration: underline;
    font-weight: normal;
    font-size: 0.66em;
    span {
      cursor: pointer;
      margin: 0 3px;
    }
  }
}
.under-image .fullscreen a.colorbox {
  display: none;
}
