.question-tracker-editor {

  max-width: 800px;
  margin: auto;
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      font-size: 16pt;
      line-height: 2em;
      display: block;
    }
    a.done-link {
      text-decoration: none;
      background: hsl(30, 83%, 53%);
      border: none;
      color: white;
      cursor: pointer;
      padding: 0.4em;
      font-size: 13pt;
      text-align: center;
      border-radius: 0.5em;
      align-self: flex-start;
      &:hover {
        background-color: hsl(30, 83%, 83%);
      }
    }
  }
  .alert {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 2em;
    color: white;
    padding: 0.25em;
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12pt;
    &.info   { background-color: hsl(134, 100%, 94%); color: hsl(134, 100%, 24%); }
    &.error  { background-color: hsl(  0, 100%, 94%); color: hsl(  0,  36%, 24%); }
    &.hidden { background-color: default; }
  }
  .text-input, .add-question, .select-input, .input-group {
    display: flex;
    margin: 0.2em;
    label {
      width: 10em;
      text-align: right;
      padding: 1em;
      font-weight: bold;
      background-color:  hsl(0, 2%, 95%);
      border-radius: 0.5em 0 0 0.5em;
    }
    input {
      display: inline-block;
      flex: 1;
      padding: 0.2em;
      max-width: 20em;
      font-size: 12pt;
      border-radius: 0 0.5em 0.5em 0;
      border: 1px solid hsl(0, 2%, 95%);
      margin-right: 1em;
      &[type='checkbox'] {
        align-self: center;
      }
    }
    select {
      align-self: center;
      padding: 2em;
    }
  }
  .input-group {
    margin-bottom: 0.5em;
    background-color: hsl(0, 2%, 99%);
  }
  button {
    // margin: 1em;
    margin-left: 0;
  }
  .ia-section-editor-buttons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    .ia-save-btn, a {
      background: hsl(191, 57%, 64%);
      border: none;
      color: white;
      cursor: pointer;
      font-size: 10pt;
      margin: 1em;
      margin-left: 0;
      padding: 0.5em 1em;
      text-align: center;
      border-radius: 1em;
      text-decoration: none;
      display: inline-block;
      &:hover {
        background-color: hsl(191, 57%, 81%);
      }
    }
  }
  .image-wrap {
    max-height: 100px;
    max-width: 100px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .delete-choice {
    color: hsl(0, 70%, 70%);
    border: none;
    cursor: pointer;
    padding: 0.25em;
    text-align: center;
    border-radius: 0.2em;
    text-decoration: none;
    display: block;
    align-self: center;
    &:hover {
      color: hsl(0, 70%, 50%);
    }
  }
  .mce-tinymce {
    width: 80% !important;
  }
}