.new-score-mapping
  .heading
    Create Score Mapping
  = form_for @score_mapping, :url => '/c_rater/score_mappings',
    :html => {:'data-type' => 'json', :class=> 'score_mapping_form'} do |f|      
    = render :partial => 'form', :locals => { :f => f }