%h2.h2.error Session Timed Out

.intro-mod
  .intro-txt
    %h4.h4 Sorry, we have lost track of who you are.
    %p
      %ul
        %li
          Close this window or browser tab.
        %li
          Go back to the portal from which you launched the activity.
        %li
          Re-launch the activity.
    %p.stuck
      If you are stuck or surprised to see this, please
      #{link_to('let us know', 'javascript:void(0)')}.
