- embeddables = arg_block_embeddables(@page, @run)
- any_feedback = embeddables.any? { |e| f = e.get_saved_feedback; f && f.feedback_text  }
- if embeddables.any?
  .embeddables.arg-block
    - if any_feedback
      .ab-feedback-header
        %h3 Feedback available!
    - embeddables.each do |m|
      .question
        = render :partial => "#{m.class.name.underscore.pluralize}/lightweight", :locals => {:embeddable => m}
        - fb = m.get_saved_feedback
        .ab-feedback{:id => "feedback_on_answer_#{m.id}",
                     :style => !fb || fb.feedback_text.blank? ? 'display: none' : '',
                     'data-dirty' => fb && fb.outdated? ? 'true' : 'false'}
          .ab-dirty{:style => fb && fb.outdated? ? '' : 'display: none'}
            Answer has been changed, please resubmit to get new feedback!
          %h6 Feedback:
          .ab-feedback-text
            = fb && fb.feedback_text

    %input{:id => 'ab-submit', :class => 'ab-submit button', :type => 'submit', 'data-href' => c_rater_arg_block_save_feedback_path(@page)}

:scss
  .arg-block {
    border: 5px solid #56A6B7;
    box-shadow: 2px 2px 2px #aaa;

    .question-bd {
      margin-bottom: 15px;
    }

    &:after {
      // Keeps submit button within argumentation block.
      display: table;
      content: "";
      clear: both;
    }
  }

  .ab-submit {
    float: right;
    margin: 0 12px 12px 0 !important;
  }

  .ab-feedback-header {
    border: 1px solid #eee;
    padding: 22px;
  }

  .ab-feedback {
    clear: both;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px 5px 0 22px;
  }

  .ab-dirty {
    color: #BD6161;
    padding: 3px 0 0 4px;
    font-size: 12px;
    border-radius: 6px;
    margin: 0 0 2px -17px;

    .did_try_to_navigate & {
      background: #FFDCDC;
    }
  }
