/* Sequences */
@import "project/base-fonts";

.description {
  margin: 10px 0;
}

#container {
  height: 100%;
  min-height: 100%;
  min-width: 960px;
  margin: 0;
  background-image: -webkit-linear-gradient(top, white, rgba(255,255,255,0), rgba(255,255,255,0));
  background-image: linear-gradient(to bottom, white, rgba(255,255,255,0), rgba(255,255,255,0));
}

h1 {
  clear: both;
  font: 700 2em 'Lato', georgia, 'times new roman', serif;
}

footer.sequence_run {
  margin: 0px;
  width: 100%;
  color: white;
  padding: 26px;
  clear: both;
}

.sequence-page {
  background: rgba(255, 255, 255, 0.85);
}

.sequence_info {
  padding: 10px;
  margin: 8px;
}

.estimated-time {
  margin: 8px;
  background-color: #ddd;
  padding: 10px;
  .fa {
    margin-right: 0.5em;
  }
}

#activities ul.menu li.delete form {
  display: inline;
  input[type="submit"] {
    background: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    color: #333;
    height: 16px;
    padding-left: 16px;
  }
}
.activities {
  width: 100%;

  .activity-bg {
    display: inline-block;
    vertical-align: top;
    &:hover {
      background: rgba(0, 0, 0, 0.1)
    }
  }
  .activity {
    border: 1px solid #EAEAEA;
    width: 300px;
    height: 315px;
    overflow: hidden;
    background: white;
    opacity: 0.85;
    position: relative;
    margin: 9px 8px 14px 9px;
    .position {
      @include helv-stack(normal);
      font-size: 18pt;
      display: inline-block;
      padding: 5px 5px 5px 10px;
      vertical-align: top;
    }
    .title {
      @include helv-stack(lighter);
      font-size: 17pt;
      display: inline-block;
      width: 245px;
      height: 65px;
      padding: 5px 5px 5px 0;
      vertical-align: top;
      a:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }
    .thumbnail {
      width: 300px;
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
.activities-link, .sequences-link {
  text-align: right;
  margin: 0 0 15px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: #ddd dashed 1px;
}

.sequence_logo_block {
  display: block;
  width: 780px; /* Leave room for logo in header */
  a {
    line-height: 80%;
    vertical-align: bottom;
  }
  h3, h2, h1 {
    vertical-align: bottom;
    padding-left: 0;
    left: 10px;
    position: relative;
    display: inline;
    clear: none;
  }
}

.sequence-page{
  .profile-dropdown{
    background-color:transparent
  }
}
