.modal {
  padding: 10px;
  .contact-us,.help,.about {
    .close {
      position: absolute;
      top: 15px;
      right:15px;
    }
  }
}

#nav-activity-menu {
    position: fixed;
    right: 0px;
    top: 20px;
    border: solid 1px #80ACB3;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #fff;
    .print,.help,.share,.close {
      width: 30px;
      height: 32px;
      background-image: url('/assets/activity_menu.png');
      background-repeat: no-repeat;
    }
    .print,.help,.share {
      border-bottom: solid 1px #80ACB3;
    }
    .print {
      background-position: 2px 0px;
    }
    .help {
      background-position: 2px -32px;
    }
    .share {
      background-position: 2px -63px;
    }
    .close {
      background-position: 1px -96px;
    }
    li.am-report span,li.am-help span,.home,.about {
      display: none;
    }
  }