/* Sequences */

.description {
  margin: 10px 0;
}


#container {
  height: 100%;
  min-height: 100%;
  margin: 0px;
}

h1 {
  clear: both;
  font: 700 2em 'Lato', georgia, 'times new roman', serif;
}

footer.sequence_run {
  margin: 0px;
  width: 100%;
  color: white;
  padding: 26px;
  clear: both;
}

.sequence_info {
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  margin: 8px;
}

.estimated-time {
  margin: 8px;
  background-color: #ddd;
  background-image: url(/assets/icons/clock.svg); /* Add a clock background image, anchored left */
  background-repeat: no-repeat;
  background-position: 2px 2px;
  padding: 10px 10px 10px 40px;
}

#activities ul.menu li.delete form {
  display: inline;
  input[type="submit"] {
    border: none;
    cursor: pointer;
    font: inherit;
    background: transparent url(/assets/icons/delete.png) 0 0 no-repeat;
    background-size: 16px;
    color: #333;
    height: 16px;
    padding-left: 18px;
  }
}
.activities {
  float: left;
  clear: both;
  .activity {
    border: 1px solid #000;
    width: 300px;
    height: 300px;
    overflow: hidden;
    float: left;
    background: white;
    opacity: 0.85;
    margin: 9px;
    .position {
      color: #fff;
      font-weight: bold;
      background-color: #000;
      font-size: 3em;
      height: 50px;
      width: 50px;
      text-align: center;
      float: left;
    }
    .title {
      font-size: 1.5em;
      font-weight: bold;
      float: left;
      width: 240px;
      padding: 0.5em;
      text-align: center;
      a {
        text-decoration: underline;
      }
      a:hover {
        opacity: 0.8;
      }
    }
    .thumbnail {
      clear: left;
      width: 300px;
      border-top: 5px solid #000;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
  }
}
.activities-link, .sequences-link {
  text-align: right;
  margin: 0 0 15px 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: #ddd dashed 1px;
}
