@import "runtime-base";

@import "partials/base";
@import "project/base-fonts";
@import "project/base-styleguide";

// *********************************************
// Table of Contents
// *********************************************
//   1. Universal
//   2. Helpers
//   3. Site Styles
//   4. Activity nav
//   5. Layout modes
//   6. Headline + Intro
//   7. Interactive + Questions
//   8. Styling for typographic elements
//  9. Sidebar ( see partials/runtime-sidebar)
//  10. Related Module
//  11. Image Types
//  12. Activity Footer
//  13. Site Footer
//  14. Activity Index Page
//  15. Activity Summary Page
//  16. Social
//  17. Misc changes

// *********************************************
//  1. Universal
// *********************************************
body       {  background-size: 100%;  }
a          {   text-decoration: none; color: inherit; }
b, strong  {
  @include helv-stack(bold);
}
em         { font-style: italic; }

header {
  color: white;
  margin: 0;
}
footer {
  color: white;
  margin: 0 0 13px;
}

div.activity-mod>div.site-width {
  background-color: rgba(255,255,255,0.85);
  padding: 12px;
}

// *********************************************
//  2. Shared / Extended Classes (.mod-border, and cf)
//  used by later partials.
// *********************************************

// Border used on questions and related-mod
.mod-border-rounded {
  border: 1px solid $black-10;
  @include border-radius(0 0 13px 13px);
}

.cf { @include pie-clearfix; }


// *********************************************
//  3. Site Styles
// *********************************************
@import "partials/runtime-site-styles";

// *********************************************
// 4. Activity Nav
// *********************************************
@import "partials/runtime-activity-nav";

// *********************************************
//  5. Layout modes
// *********************************************
@import "partials/runtime-layouts";

// *********************************************
//  6. Headline + Intro
// *********************************************

// Headline block
.content-hdr {
  @include helv-stack(500);
  margin-bottom: 30px;
  display: none;

  .h2 {
    // font-family: $helv-light;
    font-size: 36px;
    // font-weight: normal;
    letter-spacing: -1px;
    color: $drk-orange;
  }
}

// Intro block
.intro-mod.index-mod{
  clear: left;
  font-size: 16px;
  line-height: 1.45em;
  @include helv-stack(500);
  margin-bottom: 19px;

 .h4 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 13px;
    color: $med-blue;
  }
  p.index-heading {
    font-weight: bold;
  }
  .intro-txt {
    width: 64%;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    padding-right: 50px;
    h2 {
      font-size: 45px;
      color: inherit;
      line-height: 1;
      margin: 0px;
      padding: 0px;
      margin-bottom: 0.7em;
    }
  }
  .page-index {
    max-width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: 1px solid $black-10;
    @include border-radius(10px);
    opacity: 1.0;
    width: 35%;
    ol {
      margin: 0px;
      padding: 0px;
      display: table;
      li {
        font-size: 14px;
        list-style: none outside none;
        display: table-row;
        line-height: 1.5em;
        &:before {
          display: table-cell; /* aha! */
          text-align: right;
          color: inherit;
          font-size: inherit;
          background: none;
          border: none;
          padding-right: 0.7em;
          top: 0px;
          font-weight: normal;
        }
      }
    }
    .nav-buttons {
      padding: 0px;
      padding-top: 1em;
      margin: 0px;
      input.button {
        width: 100%;
        padding: 0.5em;
        margin: 0px;
      }
    }
  }
  .estimated-time {
    border: 1px solid $black-10;
    background-color: white;
    @include border-radius(10px);
  }
}

.header-block-mod {
  .embeddables {
    .question-hdr, .question-bd {
      width: 100%;
    }
    .question {
      margin: 20px;
      display: inline-block;
      width: 45%;
      vertical-align: top;

      &.full-width-item {
        width: 100%;
        margin: 0 0 20px;
      }
    }

    // The first textbox in this section should be styled to match the old
    // Introduction section. The style rules below should only be applied to the
    // first text box. Since there isn't a first-of-class option, the style
    // rules need to be undone for all subsequent siblings.
    // TODO: Find a more efficient way to apply styles to only the first textbox
    .challenge {
      &[id^="embeddable-xhtml"] {
        margin: 20px;
        .question-bd {
          background: transparent;
          border: none;
          padding: 22px 22px 15px;
        }
        .question-hdr {
          padding: 0;
          h5 {
            color: #444;
            font-weight: bold;
          }
        }

        &.full-width {
          margin: 0 0 20px;

          .question-bd {
            padding: 0;
          }
        }
      }
    }
    .challenge ~ .challenge {
      &[id^="embeddable-xhtml"] {
        margin: 20px;
        .question-bd {
          background: $black-5;
          border: solid 1px $black-10;
          padding: 20px 20px 13px;
        }
        .question-hdr {
          padding: 4px 8px;
          h5 {
            color: #fff;
            font-weight: 500;
          }
        }
        &.full-width-item {
          margin: 20px 0;
        }
      }
    }
  }
}

// *********************************************
//  7. Interactive + Questions
// *********************************************
@import "partials/runtime-interactives";

// *********************************************
//  8. Styling for typographic elements
// *********************************************
@import "partials/runtime-typography";

// ******************************************
//  9. Sidebar
// ******************************************
@import "partials/runtime-sidebar";

// ******************************************
//  10. Related Module
// ******************************************
@import "partials/runtime-related";

// ******************************************
//  11. Image Types
// ******************************************
@import "partials/runtime-image-types";

// ******************************************
//  12. Activity Footer
//  13. Site Footer
// ******************************************
@import "partials/runtime-footer";

// ******************************************
//  14. Activity Index Page
// ******************************************
@import "partials/runtime-activity-index";

// ******************************************
//  15. Activity Summary Page
// ******************************************
@import "partials/runtime-summary";

// ******************************************
//  16. Social
// ******************************************
@import "partials/runtime-social";

// ******************************************
//  17. Misc Changes
// ******************************************

.question, .intro-mod, .related-mod, .sidebar-mod {
  a {
    color: darken($med-blue, 20%);
    @include trans;
    &:visited {
      color: #aaa;
    }
    &:hover {
      color: $med-blue;
    }
  }
}

.intro-mod.index-mod a {
  text-decoration: none;
}

.intro-mod.index-mod ol a:hover {
  text-decoration: underline;
}

/* Sequences */
.logo-l .sequence_logo_block {
  width: 630px; /* Narrower because of the wide HAS logo */
}

/* Button links shouldn't have underline */
div.submit a:hover {
  text-decoration: none;
}
input:disabled {
  opacity: 0.3;
}
.disabled {
  opacity: 0.3;
}

.logo-l .sequence_logo_block{
  width: 700px;
}

.site-logo-mod {
  .logo-r {
    margin-top: 18px;
  }
  img {
    max-height: 50px;
  }
  margin-bottom: 10px;
  min-height: 86px;
}
.time_to_complete {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  .time_estimate {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    color:#7FA8F8;
    .minutes_to_complete {
      font-size: 18pt;
    }
  }
}

@import "partials/prediction";
@import "partials/cc-theme-template";
