li.item.run {
  .runs_menu {
    ul {
      list-style: none;
      li {
        display: inline-block;
        list-style: none;
      }
    }
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .button {
      background-color: blue;
      font-weight: bold;
      border-radius: 4px;
      padding: 5px;
      margin-left: 1em;
      margin-top: 2px;
      margin-bottom: 2px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
  .run_info {
    font-family: monospace;
    margin: 1em;
    clear: both;
    width: 100%;
    white-space: pre;
  }
}