body {
  background-image: url('/assets/has-bg/climate_background.jpg');
}

div.activity-mod>div.site-width {
  background-color: rgba(255,255,255,0.95);
}

.sequence_logo_block h2 {
  /* # This doesn't actually work with the actual background
  color: #c10015;
  */
  font-family: $helv-bold;
}
