@import "partials/base";

body {
  background-image: url('/assets/has-bg/hydrofracking_background.png');
}

.sequence_logo_block h2 {
  color: #472213;
  @include helv-stack(bold);
  font-size: 24pt;
}
