@import "partials/base";
html { 
  background: url('/assets/has-bg/climate_background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  /*background-image: url('/assets/has-bg/climate_background.jpg');*/
  background-image:none;
}

div.activity-mod>div.site-width {
  background-color: rgba(255,255,255,0.95);
}

.sequence_logo_block h2 {
  color: #1762b2;
  font-family: $helv-bold;
  font-size: 24pt;
}

.l-full-width  {
  .question {
    margin: 20px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
  .question-hdr {
    width: 100%;
  }
  h5:after {
    background-color: none;
    display:none;
  }
  .question-bd {
    width: 100%;
  }
}
/* could also potentially use #A43900 drk orange */
.activities .activity .title {
  a {
    color: #1762b2;
  }
}

.site-logo-mod {
  img {
    max-height: 50px;
  }
  margin-bottom: 10px;
}


