@import "partials/base";
/*@import "partials/mixins";*/
/*@import "partials/concords";*/

$theme-color-a:  #165ba1;
$theme-color-b:  #edaa3d;

html { 
  background: url('/assets/has-bg/climate_background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /*background-image: url('/assets/has-bg/climate_background.jpg');*/
  background-image:none;
}

div.activity-mod>div.site-width {
  background-color: rgba(255,255,255,0.95);
}

.sequence_logo_block h2 {
  color: $theme-color-a;
  font-family: $helv-bold;
  font-size: 24pt;
}

.l-full-width  {
  .question {
    margin: 20px;
    display: inline-block;
    width: 45%;
    vertical-align: top;
  }
  .question-hdr {
    width: 100%;
  }
  h5:after {
    background-color: none;
    display:none;
  }
  .question-bd {
    width: 100%;
  }
}
/* could also potentially use #A43900 drk orange */
.activities .activity .title {
  a {
    color: $theme-color-a;
  }
}

.site-logo-mod {
  img {
    max-height: 50px;
  }
  margin-bottom: 10px;
}

.question-hdr {
  background-color: $theme-color-a;
}

// buttons
input[type="button"],
input[type="submit"],
button[type="button"] {
  border: 0;
  @include btn($theme-color-b, darken($theme-color-b, 10%))
  /*@include btn(lighten($theme-color-a, 10%), $theme-color-a);*/
}

.related-hdr {
  background-color: $theme-color-b;
}
.bottom-buttons {
  .next-page,
  .prev {
    input[type="submit"] {
      border: 0;
      @include btn($theme-color-b, darken($theme-color-b, 10%))
    }
  }
}
.index-mod.intro-mod {
  ul li,
  ol li, {
    a,
    a:visited {
      color: $theme-color-a;
    }
    a:hover {
      color: darken($theme-color-b, 10%);
    }
  }
}

