.snapshot_thumbnail {
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 2px 0;
}

.image-question-dialog {
  position: relative;

  .drawing-area, .question-area {
    display: inline-block;
    vertical-align: top;
  }

  .question-area {
    margin-left: 5px;
    width: 265px;

    .drawing-prompt {
      font-size: 14px;
    }
    .question-prompt {
      font-size: 14px;
    }
  }

  textarea {
    margin-top: 15px;
    width: 262px;
    height: 100px;
  }

  .buttons-row {
    position: absolute;
    bottom: 5px;
    right: 8px;
  }

  button.button {
    margin-right: 5px;
  }

  .wait-message {
    position: absolute;
    top: 270px;
    left: 52px;
    width: 600px;
    text-align: center;
    div {
      display: inline;
      font-size: 20px;
      color: #666;
      background: #fefefe;
      border-radius: 20px;
      padding: 10px;
    }
  }
}
