body {
  background-image: url('/assets/interactions/560070main_lightning_lg.jpg'); /* 1 */
  background-image: url('/assets/interactions/molnii-10.jpg');               /* 2 */
  background-image: url('/assets/interactions/Natural_Phenomena.jpg');       /* 3 */
  background-image: url('/assets/interactions/jacobs_ladder.jpg'); /* default */
  background-position-x: -550px;
}

.sequence_logo_block {
  width: 800px; /* Leave room for logo in header */
  img {
    float: left;
  }
  h2 {
    padding-left: 3em;
  }
}