.normalized-container {
  /* make sure to set some focus styles for accessibility */
  /* HTML5 display-role reset for older browsers */
  /**
   * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
   */
  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  /**
   * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
   * Known issue: no IE 6 support.
   */
  /**
   * Address `outline` inconsistency between Chrome and other browsers.
   */
  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */
  /**
   * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
   * 2. Improve image quality when scaled in IE 7.
   */
  /**
   * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
   */
  /**
   * Correct margin displayed oddly in IE 6/7.
   */
  /**
   * Define consistent border, margin, and padding.
   */
  /**
   * 1. Correct color not being inherited in IE 6/7/8/9.
   * 2. Correct text not wrapping in Firefox 3.
   * 3. Correct alignment displayed oddly in IE 6/7.
   */
  /**
   * 1. Correct font size not being inherited in all browsers.
   * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
   *    and Chrome.
   * 3. Improve appearance and consistency in all browsers.
   */
  /**
   * Address Firefox 3+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
   * Correct `select` style inheritance in Firefox 4+ and Opera.
   */
  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
   *    Known issue: inner spacing remains in IE 6.
   */
  /**
   * Re-set default cursor for disabled elements.
   */
  /**
   * 1. Address box sizing set to content-box in IE 8/9.
   * 2. Remove excess padding in IE 8/9.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
  /**
   * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
   *    (include `-moz` to future-proof).
   */
  /**
   * Remove inner padding and search cancel button in Safari 5 and Chrome
   * on OS X.
   */
  /**
   * Remove inner padding and border in Firefox 3+.
   */
  /**
   * 1. Remove default vertical scrollbar in IE 6/7/8/9.
   * 2. Improve readability and alignment in all browsers.
   */
  /**
   * Remove most spacing between table cells.
   */ }
  .normalized-container div, .normalized-container span, .normalized-container applet, .normalized-container object, .normalized-container iframe,
  .normalized-container h1, .normalized-container h2, .normalized-container h3, .normalized-container h4, .normalized-container h5, .normalized-container h6, .normalized-container p, .normalized-container blockquote, .normalized-container pre,
  .normalized-container a, .normalized-container abbr, .normalized-container acronym, .normalized-container address, .normalized-container big, .normalized-container cite, .normalized-container code,
  .normalized-container del, .normalized-container dfn, .normalized-container em, .normalized-container img, .normalized-container ins, .normalized-container kbd, .normalized-container q, .normalized-container s, .normalized-container samp,
  .normalized-container small, .normalized-container strike, .normalized-container strong, .normalized-container sub, .normalized-container sup, .normalized-container tt, .normalized-container var,
  .normalized-container b, .normalized-container u, .normalized-container i, .normalized-container center,
  .normalized-container dl, .normalized-container dt, .normalized-container dd, .normalized-container ol, .normalized-container ul, .normalized-container li,
  .normalized-container fieldset, .normalized-container form, .normalized-container label, .normalized-container legend,
  .normalized-container table, .normalized-container caption, .normalized-container tbody, .normalized-container tfoot, .normalized-container thead, .normalized-container tr, .normalized-container th, .normalized-container td,
  .normalized-container article, .normalized-container aside, .normalized-container canvas, .normalized-container details, .normalized-container embed,
  .normalized-container figure, .normalized-container figcaption, .normalized-container footer, .normalized-container header, .normalized-container hgroup,
  .normalized-container menu, .normalized-container nav, .normalized-container output, .normalized-container ruby, .normalized-container section, .normalized-container summary,
  .normalized-container time, .normalized-container mark, .normalized-container audio, .normalized-container video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .normalized-container :focus {
    outline: 0; }
  .normalized-container article, .normalized-container aside, .normalized-container details, .normalized-container figcaption, .normalized-container figure,
  .normalized-container footer, .normalized-container header, .normalized-container hgroup, .normalized-container menu, .normalized-container nav, .normalized-container section {
    display: block; }
  .normalized-container body {
    line-height: 1; }
  .normalized-container ol, .normalized-container ul {
    list-style: circle; }
  .normalized-container blockquote, .normalized-container q {
    quotes: none; }
  .normalized-container blockquote:before, .normalized-container blockquote:after,
  .normalized-container q:before, .normalized-container q:after {
    content: '';
    content: none; }
  .normalized-container table {
    border-collapse: collapse;
    border-spacing: 0; }
  .normalized-container input[type=search]::-webkit-search-cancel-button,
  .normalized-container input[type=search]::-webkit-search-decoration,
  .normalized-container input[type=search]::-webkit-search-results-button,
  .normalized-container input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none; }
  .normalized-container input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .normalized-container textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical; }
  .normalized-container audio,
  .normalized-container canvas,
  .normalized-container video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%; }
  .normalized-container audio:not([controls]) {
    display: none;
    height: 0; }
  .normalized-container [hidden] {
    display: none; }
  .normalized-container a:focus {
    outline: thin dotted; }
  .normalized-container a:active,
  .normalized-container a:hover {
    outline: 0; }
  .normalized-container img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */ }
  .normalized-container figure {
    margin: 0; }
  .normalized-container form {
    margin: 0; }
  .normalized-container fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .normalized-container legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */ }
  .normalized-container button,
  .normalized-container input,
  .normalized-container select,
  .normalized-container textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */ }
  .normalized-container button,
  .normalized-container input {
    line-height: normal; }
  .normalized-container button,
  .normalized-container select {
    text-transform: none; }
  .normalized-container button,
  .normalized-container input[type="button"],
  .normalized-container input[type="reset"],
  .normalized-container input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
    *overflow: visible;
    /* 4 */ }
  .normalized-container button[disabled],
  .normalized-container input[disabled] {
    cursor: default; }
  .normalized-container input[type="checkbox"],
  .normalized-container input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */ }
  .normalized-container input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box; }
  .normalized-container input[type="search"]::-webkit-search-cancel-button,
  .normalized-container input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .normalized-container button::-moz-focus-inner,
  .normalized-container input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .normalized-container textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */ }
  .normalized-container table {
    border-collapse: collapse;
    border-spacing: 0; }
  .normalized-container button,
  .normalized-container input,
  .normalized-container select,
  .normalized-container textarea {
    color: #222; }
  .normalized-container ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none; }
  .normalized-container ::selection {
    background: #b3d4fc;
    text-shadow: none; }
  .normalized-container img {
    vertical-align: middle; }
  .normalized-container fieldset {
    border: 0;
    margin: 0;
    padding: 0; }
  .normalized-container textarea {
    resize: vertical; }
  .normalized-container .chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0; }

.react-tabs {
  -webkit-tap-highlight-color: transparent; }

.react-tabs__tab-list {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0; }

.react-tabs__tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer; }

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0; }

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default; }

.react-tabs__tab:focus {
  box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none; }

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff; }

.react-tabs__tab-panel {
  display: none; }

.react-tabs__tab-panel--selected {
  display: block; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

.section-item-container {
  font-size: 12px; }

.section-item-menu {
  background-color: var(--teal);
  color: white;
  display: flex;
  font-family: var(--font-family-default);
  font-size: 12px;
  font-weight: normal;
  justify-content: space-between;
  padding: 8px;
  text-transform: uppercase; }
  .section-item-menu h4 {
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 70%; }
  .section-item-menu .menu-start {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 25%; }
  .section-item-menu .menu-end button {
    background: transparent;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-default);
    font-size: 11.5px;
    margin: 0 0 0 -1px;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    transition: .2s; }
    .section-item-menu .menu-end button:hover {
      background: var(--ltr-teal);
      color: var(--teal); }
    .section-item-menu .menu-end button:active {
      background: var(--lt-teal);
      color: var(--teal); }
      .section-item-menu .menu-end button:active:after {
        border-color: var(--lt-teal); }
    .section-item-menu .menu-end button:after {
      align-self: center;
      border-right: solid 1px var(--ltr-teal);
      content: " ";
      display: inline-block;
      height: 11.5px;
      margin: 1px 0 0;
      position: absolute;
      right: 0; }
  .section-item-menu .menu-end ul {
    line-height: .5;
    list-style: none;
    margin: 0;
    padding: 0; }
    .section-item-menu .menu-end ul li {
      display: inline-block;
      margin: 0;
      padding: 0; }
      .section-item-menu .menu-end ul li:last-child button:after {
        border-right: none; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

.modalOverlay {
  background: var(--dark-gray);
  height: 100%;
  left: 0;
  opacity: .7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

.modalContainer {
  background: transparent;
  border: none;
  bottom: auto;
  display: block;
  font-family: var(--font-family-default);
  height: auto;
  left: 50%;
  margin: 0;
  min-height: 450px;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 20px;
  transform: translate(-50%, 0);
  width: 600px;
  z-index: 3; }
  .modalContainer header {
    background: var(--teal);
    color: white;
    display: flex;
    padding: 10px; }
    .modalContainer header h1 {
      clear: none;
      color: white;
      flex-grow: 2;
      font-family: var(--font-family-default);
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      margin: 0;
      padding: 0; }
    .modalContainer header .modalClose {
      align-self: center;
      background: transparent;
      border: none;
      color: white;
      height: 16px;
      line-height: 1;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: relative;
      text-indent: 100%;
      white-space: nowrap;
      width: 12px; }
      .modalContainer header .modalClose:before {
        content: "\2716";
        cursor: pointer;
        font-size: 16px;
        left: 0;
        position: absolute;
        text-indent: 0;
        top: 0; }
  .modalContainer section {
    background: white;
    border: solid 1px var(--med-gray);
    border-top: none;
    padding: 10px; }

.actionButtons {
  border-top: solid 1px var(--med-gray);
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  text-align: right; }
  .actionButtons button {
    background: var(--ltst-teal);
    border: solid 1.5px var(--med-gray);
    border-radius: 4px;
    color: var(--dark-gray);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 10px;
    padding: 5px 10px;
    position: relative; }
    .actionButtons button.disabled {
      opacity: .6; }
      .actionButtons button.disabled:hover {
        background: var(--ltst-teal); }
    .actionButtons button span.lineAdjust {
      height: 17px;
      line-height: 17px; }
    .actionButtons button svg {
      align-self: center;
      display: inline-block;
      fill: var(--teal);
      margin: 0 3px 0 0;
      padding: 0;
      vertical-align: top; }
    .actionButtons button:hover {
      background: var(--lt-teal); }
    .actionButtons button:active {
      background: var(--teal);
      color: white; }
      .actionButtons button:active svg {
        fill: white; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

.disabled, *[disabled] {
  cursor: not-allowed !important;
  opacity: .6 !important; }

#quickAddMenu {
  background: var(--ltst-teal);
  margin: 0 0 20px;
  padding: 10px; }
  #quickAddMenu h2 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 0; }
  #quickAddMenu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    #quickAddMenu ul li {
      display: inline-block;
      line-height: 1;
      margin: 0 2px;
      padding: 0; }
      #quickAddMenu ul li button {
        background: var(--ltst-teal);
        border: solid 1px var(--med-gray);
        border-radius: 4px;
        color: var(--dark-gray);
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        margin: 0;
        padding: 10px 15px;
        text-align: center; }
        #quickAddMenu ul li button:hover {
          background: var(--lt-teal); }
        #quickAddMenu ul li button.disabled:hover {
          background: var(--ltst-teal); }
        #quickAddMenu ul li button.selected, #quickAddMenu ul li button:active {
          background: var(--teal);
          color: white; }

#itemPickerOptions {
  display: flex;
  justify-content: space-between; }

input, select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px; }

#itemPickerSearch {
  position: relative;
  width: 50%; }
  #itemPickerSearch:before {
    content: "\260c";
    display: block;
    font-size: 22px;
    font-weight: 700;
    left: 6px;
    line-height: 1;
    position: absolute;
    top: 2px;
    transform: rotate(90deg);
    z-index: 5; }
  #itemPickerSearch input {
    padding-left: 26px;
    width: calc(100% - 36px); }

#itemPickerSort {
  font-size: 14px; }
  #itemPickerSort label {
    margin-right: 5px; }

#searchPlaceholder {
  height: 100px; }

.loading {
  animation: loading .5s linear 0s infinite; }

@keyframes loading {
  0%, 100% {
    opacity: .6; }
  50% {
    opacity: 1; } }

#itemPickerList {
  border-top: solid 1.5px var(--med-gray);
  height: 150px;
  margin: 20px 0 0;
  overflow: scroll;
  padding: 10px 0 0;
  position: relative; }
  #itemPickerList:after {
    background: transparent;
    background: linear-gradient(0deg, white 10%, rgba(255, 255, 255, 0) 100%);
    bottom: 0;
    content: ' ';
    display: block;
    height: 50px;
    left: 0;
    position: sticky;
    width: 100%;
    z-index: 5; }
  #itemPickerList ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #itemPickerList ul li button {
      background: transparent !important;
      border: none;
      border-radius: 0;
      color: var(--teal);
      cursor: pointer;
      font-size: 14px;
      line-height: 1.6;
      margin: 0;
      padding: 0 10px;
      text-align: left;
      width: 100%; }
      #itemPickerList ul li button.selected, #itemPickerList ul li button:hover {
        background: var(--teal) !important;
        color: white; }
      #itemPickerList ul li button.disabled:hover {
        background: transparent !important;
        color: var(--teal); }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

a {
  color: inherit; }

button.bigButton {
  background: var(--ltr-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-default);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 14px 19px;
  text-align: center; }
  button.bigButton:hover, button.bigButton:active {
    background: var(--teal);
    color: white; }
    button.bigButton:hover svg, button.bigButton:active svg {
      fill: white; }
  button.bigButton span.lineAdjust {
    height: 16px;
    line-height: 17px; }
  button.bigButton svg {
    align-self: center;
    fill: var(--dark-gray);
    margin: 0 3px 0 0; }

button.smallButton {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-default);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center; }
  button.smallButton:hover {
    background: var(--ltr-teal); }
  button.smallButton:active {
    background: var(--teal);
    color: white; }
    button.smallButton:active svg {
      fill: white; }
  button.smallButton span.lineAdjust {
    height: 16px;
    line-height: 17px; }
  button.smallButton svg {
    align-self: center;
    fill: var(--dark-gray);
    margin: 0 3px 0 0; }

input[type="submit"].bigButton {
  background: var(--teal);
  border: none;
  border-radius: 8px;
  color: white;
  font-family: var(--font-family-default);
  font-size: 20pt;
  padding: 12pt 48pt;
  text-transform: uppercase; }

select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px; }

.edit-page-grid-container {
  background: var(--ltr-teal);
  display: grid;
  gap: 0;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: repeat(10, 1fr);
  margin: 10px; }

.teal-label {
  color: var(--teal);
  font-weight: bold;
  text-transform: uppercase; }

.page-settings {
  display: flex;
  padding: 10px;
  font-size: 12pt;
  background-color: var(--lt-gray);
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-around; }

.part-label {
  color: var(--teal);
  font-size: 18pt;
  grid-column: 1/2;
  justify-self: end; }

.activity-name {
  color: var(--orange);
  font-size: 18pt;
  grid-column: 2/8;
  justify-self: start; }

.page-name {
  color: black;
  font-size: 18pt;
  grid-column: 2/8;
  justify-self: start; }

.page-numbers {
  grid-column: 8/11;
  justify-self: end; }

.page-numbers.page-nav {
  position: unset;
  right: unset;
  top: unset; }

#preview-menu {
  float: unset;
  grid-column: 7/11;
  justify-self: end; }

#preview-options-select {
  margin-left: unset; }

.full-row {
  grid-column: span 10; }

.section-menu {
  background-color: var(--teal);
  color: white;
  display: flex;
  font-family: var(--font-family-default);
  font-size: 16px;
  justify-content: space-between;
  padding: 5px; }
  .section-menu > a {
    color: white; }
  .section-menu h3 {
    display: inline;
    margin: 0 10px;
    white-space: nowrap; }
  .section-menu label {
    text-transform: none; }
  .section-menu .menu-start {
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis; }
  .section-menu .menu-end {
    align-self: center;
    margin-right: 5px; }
    .section-menu .menu-end button {
      background: transparent;
      border: none;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      display: flex;
      font-family: var(--font-family-default);
      font-size: 11.5px;
      margin: 0 0 0 -1px;
      padding: 5px 10px;
      position: relative;
      text-transform: uppercase;
      transition: .2s; }
      .section-menu .menu-end button:hover {
        background: var(--ltr-teal);
        color: var(--teal); }
      .section-menu .menu-end button:active {
        background: var(--lt-teal);
        color: var(--teal); }
        .section-menu .menu-end button:active:after {
          border-color: var(--lt-teal); }
      .section-menu .menu-end button:after {
        align-self: center;
        border-right: solid 1px var(--ltr-teal);
        content: " ";
        display: inline-block;
        height: 11.5px;
        margin: 1px 0 0;
        position: absolute;
        right: 0; }
    .section-menu .menu-end ul {
      line-height: .5;
      list-style: none;
      margin: 0;
      padding: 0; }
      .section-menu .menu-end ul li {
        display: inline-block;
        margin: 0;
        padding: 0; }
        .section-menu .menu-end ul li:last-child button:after {
          border-right: none; }

.new-section {
  border: 1px solid var(--lt-gray);
  grid-column: span 10; }

.section-container, .sectionItem {
  background-color: white;
  border: 1px solid var(--teal);
  border-radius: 3px;
  margin-bottom: 10px;
  min-height: 200px;
  width: 100%; }

.itemsContainer {
  background: var(--ltst-teal);
  border-radius: 4px;
  padding: 10px; }

.section-30 {
  grid-column: span 3; }

.section-40 {
  grid-column: span 4; }

.section-60 {
  grid-column: span 6; }

.section-70 {
  grid-column: span 7; }

.section-responsive {
  grid-column: span 10; }

.section-full-width {
  grid-column: span 10; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

.pageSettingsDialog input[type="text"] {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  font-family: var(--font-family-default);
  font-size: 16px;
  margin-bottom: 20px;
  padding: 5px 10px 7px;
  width: calc(100% - 18px);
  -webkit-appearance: none; }

.pageSettingsDialog input[type="checkbox"] {
  border: solid 1.5px var(--med-gray);
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  line-height: 1;
  padding: 0;
  position: relative;
  width: 20px;
  -webkit-appearance: none; }
  .pageSettingsDialog input[type="checkbox"]:checked {
    background: var(--teal); }
    .pageSettingsDialog input[type="checkbox"]:checked:after {
      border: solid white;
      border-width: 0 3px 3px 0;
      color: white;
      content: " ";
      display: block;
      height: 10px;
      left: 4px;
      position: absolute;
      top: 0;
      width: 5px;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg); }
  .pageSettingsDialog input[type="checkbox"]:hover:after {
    color: var(--lt-teal); }
  .pageSettingsDialog input[type="checkbox"]:active:after {
    color: var(--teal); }

.pageSettingsDialog dl {
  column-gap: 5px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  grid-auto-flow: dense;
  margin: 0 0 20px;
  padding: 0;
  row-gap: 0; }
  .pageSettingsDialog dl dt {
    line-height: 1.6;
    margin: 0;
    padding: 0; }
    .pageSettingsDialog dl dt label {
      font-weight: 400; }
  .pageSettingsDialog dl dd {
    margin: 0;
    padding: 0; }
    .pageSettingsDialog dl dd select {
      overflow: hidden;
      width: 100%; }
  .pageSettingsDialog dl dt.input1 {
    grid-column-start: 1;
    grid-column-end: span 20;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-bottom: 5px; }
    .pageSettingsDialog dl dt.input1 label {
      font-weight: 500; }
  .pageSettingsDialog dl dd.input1 {
    grid-column-start: 1;
    grid-column-end: span 20;
    grid-row-start: 2;
    grid-row-end: 2; }
  .pageSettingsDialog dl dt.input2 {
    justify-self: start;
    grid-column-start: 2;
    grid-column-end: span 20;
    grid-row-start: 3;
    grid-row-end: 3; }
  .pageSettingsDialog dl dd.input2 {
    justify-self: start;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; }
  .pageSettingsDialog dl dt.input3 {
    grid-column-start: 2;
    grid-column-end: span 12;
    grid-row-start: 4;
    grid-row-end: 4; }
  .pageSettingsDialog dl dd.input3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4; }
  .pageSettingsDialog dl dt.input4 {
    grid-column-start: 2;
    grid-column-end: span 12;
    grid-row-start: 5;
    grid-row-end: 5; }
  .pageSettingsDialog dl dd.input4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5; }
  .pageSettingsDialog dl dt.input5 {
    grid-column-start: 2;
    grid-column-end: span 12;
    grid-row-start: 6;
    grid-row-end: 6; }
  .pageSettingsDialog dl dd.input5 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 6;
    grid-row-end: 6; }
  .pageSettingsDialog dl dt.input6 {
    grid-column-start: 2;
    grid-column-end: span 12;
    grid-row-start: 7;
    grid-row-end: 7; }
  .pageSettingsDialog dl dd.input6 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 7;
    grid-row-end: 7; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px; }

.sectionMoveDialog dl {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin: 0 0 20px;
  padding: 0; }

.sectionMoveDialog dt {
  margin: 0;
  padding: 0; }

.sectionMoveDialog dd {
  margin: 0;
  padding: 0; }
  .sectionMoveDialog dd select {
    overflow: hidden;
    width: 100%; }

.sectionMoveDialog dt.col1, .sectionMoveDialog dd.col1 {
  grid-column: 1; }

.sectionMoveDialog dt.col2, .sectionMoveDialog dd.col2 {
  grid-column: 2; }

.sectionMoveDialog dt.col3, .sectionMoveDialog dd.col3 {
  grid-column: 3; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

select {
  border: solid 1.5px var(--med-gray);
  border-radius: 4px;
  padding: 5px 10px; }

.modal section {
  background: white;
  border: solid 1px var(--med-gray);
  border-top: none;
  padding: 10px; }

.sectionItemMoveDialog dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  grid-gap: 10px;
  grid-auto-flow: dense;
  margin: 0 0 20px;
  padding: 0; }

.sectionItemMoveDialog dt {
  margin: 0;
  padding: 0; }

.sectionItemMoveDialog dd {
  margin: 0;
  padding: 0; }
  .sectionItemMoveDialog dd select {
    overflow: hidden;
    width: 100%; }

.sectionItemMoveDialog dt.col1, .sectionItemMoveDialog dd.col1 {
  grid-column: 1; }

.sectionItemMoveDialog dt.col2, .sectionItemMoveDialog dd.col2 {
  grid-column: 2; }

.sectionItemMoveDialog dt.col3, .sectionItemMoveDialog dd.col3 {
  grid-column: 3; }

.sectionItemMoveDialog dt.col4, .sectionItemMoveDialog dd.col4 {
  grid-column: 4; }

.sectionItemMoveDialog dt.col5, .sectionItemMoveDialog dd.col5 {
  grid-column: 5; }

:root {
  --font-family-default: lato, helvetica, verdana, sans-serif;
  --font-color-default: #313131;
  --dark-teal: #016082;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --gold: #ffc320;
  --lt-orange: #ffe6d0;
  --orange: #ea6d2f;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0, 0%, 90%);
  --ltr-gray: hsl(0, 0%, 95%); }

.editPageHeader {
  background: var(--teal);
  color: white;
  display: flex;
  gap: 20px;
  padding: 10px 20px; }
  .editPageHeader button {
    align-self: center;
    background: transparent;
    border: solid 1.5px white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 5px 10px; }
    .editPageHeader button:hover {
      background: var(--ltr-teal);
      border-color: var(--teal);
      color: var(--teal); }
      .editPageHeader button:hover svg {
        color: var(--teal); }
    .editPageHeader button:active {
      background: var(--ltst-teal);
      border-color: var(--teal);
      color: var(--teal); }
    .editPageHeader button svg {
      align-self: center;
      fill: white;
      margin-right: 5px; }
  .editPageHeader h2 {
    font-family: var(--font-family-default);
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    padding: 0; }

.editPageContainer {
  background: var(--ltr-gray);
  display: flex;
  flex-direction: column; }
  .editPageContainer > button.bigButton:first-child {
    margin-top: 20px; }

button.bigButton {
  background: var(--ltst-teal);
  border: solid 1px var(--med-gray);
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-default);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin: 10px auto 0;
  padding: 14px 19px;
  text-align: center; }
  button.bigButton:hover {
    background: var(--ltr-teal);
    color: var(--dark-gray); }
    button.bigButton:hover svg {
      fill: var(--dark-gray); }
  button.bigButton:active {
    background: var(--teal);
    color: white; }
    button.bigButton:active svg {
      fill: white; }
  button.bigButton span.lineAdjust {
    height: 16px;
    line-height: 17px; }
  button.bigButton svg {
    align-self: center;
    fill: var(--dark-gray);
    margin: 0 3px 0 0; }

