/* This partial should be @imported into your layout Sass file, or included via the Asset Pipeline */
/* Source : https://gist.github.com/1456815 */

#modal {
  font: 400 100% lato, arial, helvetica, sans-serif;
}

.ui-dialog {
  background: #fef7e0;
  box-shadow: 0 0 15px #aaa;
  border: none !important;
  font-size: .9em;
  line-height: 150%;
  }

.ui-dialog-titlebar {
  color: #fff;
}

.correct {
  .ui-dialog-titlebar {
    background: #75a643;
    border-color: #fef7e0 !important;
  }
}

.incorrect {
  .ui-dialog-titlebar {
    background: #b45532;
  }
}

.ui-dialog-title {
  font: 700 1.2em lato, arial, helvetica, sans-serif;
  margin: 0 !important;
}

.ui-widget-content {
  p.response {
    font-size: 1.1em;
  }
}

.ui-dialog-titlebar-close {
  background-color: #ccc;
  border: 1px solid #888;
}
.ui-button.ui-widget {
  outline: none;
}