/* This partial should be @imported into your layout Sass file, or included via the Asset Pipeline */
/* Source : https://gist.github.com/1456815 */

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 100;

  &.opaque-background {
    background: rgba(0,0,0,1);
  }
}

.modal {
  background: #fff;
  border: 5px solid #eee;
  display: none;
  left: 50%;
  padding: 20px;
  position: absolute;
  transform: translate(-50%, 0);
  width: 500px;
  z-index: 101;

  &.allow-full-width {
    width: unset;
    min-width: 1000px;
  }

  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }

  input.close {
    float: right;

  }

  input.embeddable-save {
    float: right;
    margin: 1em;
  }
}
