/* This partial should be @imported into your layout Sass file, or included via the Asset Pipeline */
/* Source : https://gist.github.com/1456815 */

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}

#modal {
  display: none;
  position: absolute;
  width: 350px;
  left: 50%;
  margin-left: (-350px - 40px) / 2;
  padding: 20px;
  background: #fff;
  border: 5px solid #eee;

  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }

  input.close {
    float: right;
    margin: 1em 1em 5px 0;
    line-height: 1em;
    height: 1.6em;
  }

  input.embeddable-save {
    float: right;
    margin: 1em;
  }
}