/* This partial should be @imported into your layout Sass file, or included via the Asset Pipeline */
/* Source : https://gist.github.com/1456815 */

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);

  &.opaque-background {
    background: rgba(0,0,0,1);
  }
}

.modal {
  display: none;
  position: absolute;
  width: 500px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background: #fff;
  border: 5px solid #eee;

  &.allow-full-width {
    width: unset;
    min-width: 1000px;
  }

  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }

  form[class^="edit_"] {
    max-height: 500px;
    overflow: scroll;
    padding-bottom: 80px;
    position: relative;

    fieldset {
      width: calc(100% - 2px);
    }

    .overlay-gradient {
      background: transparent;
      background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,.1) 100%);
      bottom: 55px;
      height: 50px;
      left: 0;
      position: fixed;
      transform: translateX(0); // allows element to be fixed within its container
      width: 100%;
    }
    .submit-container {
      background: #eee;
      bottom: 0;
      height: 55px;
      left: 0;
      position: fixed;
      transform: translateX(0); // allows element to be fixed within its container
      width: 100%;
      z-index: 1;

      input.close {
        margin-right: 1em;
      }
    }
  }

  input.close {
    float: right;

  }

  input.embeddable-save {
    float: right;
    margin: 1em;
  }
}
