.choice-container.likert {
    display: table;
    width: 100%;
    .choice {
      display: table-cell;
      text-align: center;
      width:150px;
      vertical-align: bottom;
      p {
        margin: 0;
      }
    }
  }

  .choice-container.horizontal {
    display: inline-block;
    margin-right:10px;
  }
