.print-only {
  display: none;
}


@media print {
  .print-only {
    display: block;
  }

  .screen-only {
    display: none;
  }

  .arg-block, .related-mod, footer {
    page-break-inside: avoid;
  }

  .question {
    img, video {
      page-break-inside: avoid;
    }
  }

  button, #nav-activity-menu, .sidebar-mod, a.sp-submit, #save.error, #save, .profile-dropdown, .nav-menu {
    display: none;
  }

  .interactive-container {
    .interactive-print-text {
      display: block !important;
    }
  }

  textarea {
    &::placeholder {
      color: transparent;
      font-style: italic;
    }
  }

  .question-bd {
    border: none !important;

    textarea {
      border: none !important;
      resize: none;
    }
  }

  .interactive-mod {
    float: right;
    // same width and margin as the full width questions
    width: 438px !important;
    margin: 20px;
    page-break-inside: avoid;
    .img-container {
      // switch to static position so the img container takes up space inside its parent
      // div. In screen-only the interactive iframe is visible and it determines the size
      // of the parent div. Without that iframe the img-container needs to do this.
      position: static !important;
    }
  }

  .activity-nav-title {
    color: #333 !important;
  }

  .activity-nav-title, .intro-mod h4, .question-hdr h5 {
    color: #333 !important;
  }

  .interactive-placeholder {
    width: 100%;
    height: 250px;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
    padding-top: 25%;
    page-break-inside: avoid;
  }

  .iframe-url {
    padding-top: 0.5em;
    font-size: 0.75em;
    a {
      word-wrap: break-word;
    }
  }

  .image-question {
    page-break-inside: avoid;
    img {
      width: 100%;
      min-height: 250px;
      border: 1px solid #333;
      border-radius: 8px;
    }
  }

  .jcarousel {
    .embeddables {
      position: initial;
      width: 100%;
    }
    .question {
      float: none;
      overflow: auto;
    }
    .buttons {
      display: none;
    }
  }

}
