@import "compass/css3/user-interface";

.print-only {
  display: none;
}

.screen-only {
 display: block;
}

@media print {
  .print-only {
    display: block;
  }

  .screen-only {
    display: none;
  }

  .arg-block, .related-mod, footer {
    page-break-inside: avoid;
  }

  .question,.interactive-mod {
    img, video, .img-container {
      page-break-inside: avoid;
    }
  }

  button, #nav-activity-menu, .sidebar-mod, a.sp-submit, #save.error, #save, .profile-dropdown, .nav-menu {
    display: none;
  }

  .interactive-container {
    .img-container, .interactive-print-text {
      display: block !important;
    }
  }

  textarea {
    @include input-placeholder {
      color: transparent;
    }
  }

  .question-bd {
    border: none !important;

    textarea {
      border: none !important;
      resize: none;
    }
  }

  .interactive-mod {
    float: right;
    width: 40% !important;
  }

  .activity-nav-title {
    color: #333 !important;
  }

  .activity-nav-title, .intro-mod h4, .question-hdr h5 {
    color: #333 !important;
  }

  .interactive-placeholder {
    width: 100%;
    height: 250px;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
    padding-top: 25%;
    page-break-inside: avoid;
  }

  .iframe-url {
    padding-top: 0.5em;
    font-size: 0.75em;
  }
}
