#modal {
  .publication {
    padding: 0px;

    .header {
      height: auto;
      margin: 0 0 20px;
      min-height: 1.1em;
      padding: 0;
      position: relative;

      .title {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        padding-top: 0;
        width: 425px;
      }

      .close_link{
        background: transparent !important;
        color: #555 !important;
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        &:hover, &:active {
          text-decoration: underline;
          color: #888;
        }
      }
    }
    .info {
      margin-top: 10px;
    }
    ul {
      margin-left: 0;
    }
    li {
      list-style: none;
      line-height: 2;
    }
    .published {
      border-radius: 10px 50px 50px 10px;
      -moz-border-radius: 10px 50px 50px 10px;
      -webkit-border-radius: 10px 50px 50px 10px;
      background-color: #6fc5d8;
      padding: 4px;
      padding-right: 15px;
      margin-right: 10px;
    }
    .not_published {
      color: #8db177;
      padding: 2px;
      font-weight: bold;
      padding-right: 15px;
    }
    .error {
      background-color: #770000;
      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
    .buttons {
      float: right;
    }
  }
}
.publication_details {
  background: #eee;
  color: #770000;
  padding: 20px;
  margin: 0 0 15px;

  ul {
    margin-left: 3em;
  }

  span.message {
    color: #fff;
    padding: 2px 5px;
    margin-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  span.success-message {
    background-color: #18a73b;
  }
  span.error-message {
    background-color: #f00;
  }
}

.tiny {
  font-size: 9px;
}
