.question-trackers {
  width: 500px;
  margin: auto;
  .navigation {
    display: flex;
    justify-content: space-between;
    h1 { display: inline-block;}
    a.button {
      background: hsl(191, 57%, 64%);
      border: none;
      color: white;
      cursor: pointer;
      margin: 1em;
      padding: 0.5em 1em;
      text-align: center;
      border-radius: 0.8em;
      text-decoration: none;
      display: inline-block;
      &:hover {
        background-color: hsl(191, 57%, 81%);
      }
    }
  }
  .index {
    a {
      text-decoration: none;
      color: hsl(180, 60%, 30%);
      font-weight: bold;
      opacity: 0.8;
      &:hover { opacity: 1.0; text-decoration: underline;}
      &.delete {
        color: darkred;
        font-weight: normal;
      }
    }
    display: flex;
    flex-direction: column;
    align-content: stretch;
    div {
      padding: 0.2em;
      margin-right: 0.5em;
    }
    .question-tracker {
      border-radius: 0.2em;
      &:nth-child(even) { background-color: hsl(180, 35%, 95%);}
      &:nth-child(odd)  { background-color: hsl(180, 10%, 95%);}
      .headline { font-size: 1.1em}
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;
      .id { font-size: 0.8em; }
      .description { font-size: 0.9em; }
      .actions {
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }
  }
}

