@import "drawing-tool";
@import "save-on-change";
@import "modal";
@import "popup-styles";
@import "jcarousel";
@import "colorbox";
@import "font-awesome";
@import "image-question-drawing-tool";
@import "activity-sequences";
@import "wait-message";
@import "runtime-ribbons";
@import "partials/single-page";
@import "partials/runtime-labbook";
@import "partials/runtime-errors";
@import "partials/runtime-question-hints";
@import "partials/runtime-show-completion";
@import "activity-menu";
@import "multiple-choice-answers";
@import "print-styles";
@import "print-blank";
@import "common";
@import "teacher-edition";
@import "lara-typescript";

.intro-txt {
  // Clearfix.
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.video-interactive {
  background: #000;
}
