// ******************************************
//  15. Saved Label
// ******************************************
@import "partials/base";
@import "project/variables";

#save {
  padding: 6px 12px;
  width: 90px;
  text-align: center;
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  right: 20px;
  background-color: rgba( lighten($med-blue, 20%), 0.9 );
  border: 1px solid lighten($med-blue, 17%);
  display: none;
  border-radius: 3px;
  @include trans;
  &.error {
    background-color: red;
    color: white;
    font-weight: bold;
  }
  &.msg-visible {
    display: block;
  }
}//save
.question.did_try_to_navigate {
  .missing_required {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid red;
    padding: 8px;
  }
  form {
    .missing_required {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      border: 2px solid red;
      padding: 4px;
    }
    i.submit_required {
      color: red;
    }
  }
}


