.thumbnail_info {
  .activity_thumbnail {
    display: none;
    clear: both;
    height: 200px;
    width: 365px;
    border: 2px solid #000;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.sequence_form {
  background: #f1f1f1;

  header, footer {
    align-items: center;
    background: var(--teal);
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 20px;

    h2 {
      font-size: 18px;
      font-weight: bold;
    }

    .submit {
      margin: 0;
      width: auto;

      .btn-primary {
        margin: 0;

        &:active {
          background-color: white;
          color: var(--teal);
        }
      }
    }
  }
  footer {
    background: transparent;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .field {
    margin-bottom: 15px;
    padding: 0 20px;

    label {
      display: block;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    input {
      display: block;
      font-family: var(--font-family-default);

      &#lightweight_activity_name,
      &#lightweight_activity_background_image,
      &#lightweight_activity_thumbnail_url,
      &#sequence_title,
      &#sequence_display_title,
      &#sequence_background_image,
      &#sequence_thumbnail_source {
        width: calc(100% - 22px);
      }
    }
    input[type="checkbox"],
    input[type="checkbox"] + label {
      display: inline;
    }
    select {
      min-width: 220px;
    }
    textarea {
      display: block;
      font-family: var(--font-family-default);

      &#lightweight_activity_notes {
        width: 100%;
      }
    }
    .edit_trigger {
      display: block;
    }
    a#toggle_thumbnail_preview {
      margin-left: 1em;
      font-size: 0.9em;
      cursor: pointer;
      text-decoration: underline;
    }
    .hint {
      font-size: 12px;
      color: #555;
    }
    &.disabled {
      color: #555;
      cursor: not-allowed;
      opacity: .6;
      pointer-events: none;

      label {
        color: #555;

        &:after {
          color: var(--med-gray);
          content: "(not available with current settings)";
          font-size: 14px;
          font-style: italic;
          font-weight: normal;
          margin-left: 5px;
        }
      }
      
      .hint {
        color: #555;
      }
    }
  }
}

#leftcol {
    clear: left;
    float: left;
    width: 680px;
}
#rightcol {
	float: right;
	width: 420px;
}
