.thumbnail_info {
  margin: 1em;
  font-size:12px;
  color: #444;
  .activity_thumbnail {
    display: none;
    clear: both;
    height: 250px;
    width: 300px;
    border: 2px solid #000;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
.sequence_form {
  .field {
    background-color: #FFF6E5;
    border-radius: 8px;
    clear: both;
    float: left;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: calc(100% - 1em);

    label {
      font-weight: bold;
      color: #A68547;
      display: inline-block;
      width: 30%;
      text-align: right;
      margin-right: 1em;
    }
    input {
      display: inline-block;
      max-width: 45%;
      clear: right;
    }
    textarea {
      display: inline-block;
      float: right;
    }
    .edit_trigger {
      float: right;
      text-align: right;
      display: inline-block;
    }
    a#toggle_thumbnail_preview {
      margin-left: 1em;
      font-size: 0.9em;
      cursor: pointer;
      text-decoration: underline;
    }
    .hint {
      font-size: 11px;
      color: #A68547;
    }
    &.disabled {
      background: #ccc;
      color: #555;
      cursor: not-allowed;
      opacity: .6;
      pointer-events: none;

      label, .hint {
        color: #555;
      }
    }
  }
}

#leftcol {
    clear: left;
    float: left;
    width: 62%;
}
#rightcol {
	float: right;
	width: 36.65%;
}
