.login_portal {
  width: 200px;
  padding: 10px;
  margin: 0em;
}
.login_portal_widget_toggle {
  text-decoration: underline;
  cursor: pointer;
  padding: 10px;
}
.login_portals_widget {

  -webkit-border-radius: 4px   4px;
     -moz-border-radius: 4px / 4px;
   -khtml-border-radius: 4px / 4px;
          border-radius: 4px / 4px; 

  display: none;
  position: absolute;
  width: 200px;
  background-color: #bddfdf;
  text-align: right;
  padding: 10px;
  ul {
    padding: inherit;
    margin: inherit;
    list-style-type: none;
    li {
      padding: none;
      margin: none;
    }
  }
}

