// These styles are applied to Slate Editor WYSIWYG blocks (while user is editing).
.ccrte-editor {
  height: 175px;
}
.ccrte-container {
  border: solid 1px #dfdfdf;

  .ccrte-toolbar {
    background: #dfdfdf;
    display: block;
  }
  .ccrte-modal-dialog {
    .dialog {
      // max-height: 300px;
      top: 50px;
      z-index: 100;
      .header {
        min-height: 30px;
      }
      .content {
        // max-height: 150px;
        min-height: 100px;
        > .input-entry input {
          display: block;
        }
        > .input-entry.select {
          width: 492px;
        }
      }
      .footer {
        margin: 0 10px 10px;
      }
    }
  }
  .ccrte-editor {
    p, blockquote, h1, h2, h3, h4, h5, h6, ol, ul {
      margin-block-start: 1em;
      margin-block-end: 1em;
      font: unset;
      font-size: unset;
    }
    h1 { font-size: 1.6em; font-weight: bold; }
    h2 { font-size: 1.5em; font-weight: bold; }
    h3 { font-size: 1.4em; font-weight: bold; }
    h4 { font-size: 1.3em; font-weight: bold; }
    h5 { font-size: 1.2em; font-weight: bold; }
    h6 { font-size: 1.1em; font-weight: bold; }
    img {
      max-width: 100%;
    }
    ol li {
      list-style: decimal;
    }
    ul li {
      list-style: disc;
    }
  }
}

textarea.wysiwyg, textarea.wysiwyg-minimal {
  height: 172px;
  margin: 3px 0 0 3px;
  width: 98%;
}
.wysiwyg-toggle {
  color: #6fc5d8;
  cursor: pointer;
  font-size: .9em;
  position: absolute;
  right: 5px;
  top: 0;
}

.authoring-tinymce {
  textarea {
    margin-top: 20px;
  }
  .ccrte-editor {
    margin-top: 5px;

    .ccrte-container {
      margin-top: 15px;
    }
  }
}
