// These styles are applied to Slate Editor WYSIWYG blocks (while user is editing).
.slate-editor {
  height: 175px;
}
.slate-container {
  border: solid 1px #dfdfdf;

  .ccrte-toolbar {
    background: #dfdfdf;
    display: block;
  }
  .ccrte-modal-dialog {
    .dialog {
      // max-height: 300px;
      top: 50px;
      z-index: 100;
      .header {
        min-height: 30px;
      }
      .content {
        // max-height: 150px;
        min-height: 100px;
        > .input-entry input {
          display: block;
        }
        > .input-entry.select {
          width: 492px;
        }
      }
      .footer {
        margin: 0 10px 10px;
      }
    }
  }
  .ccrte-editor {
    img {
      max-width: 100%;
    }
    ol li {
      list-style: decimal;
    }
    ul li {
      list-style: disc;
    }
    li, p {
      margin-bottom: 1em;
    }
  }
}

textarea.wysiwyg, textarea.wysiwyg-minimal {
  height: 172px;
  margin: 3px 0 0 3px;
  width: 98%;
}
.wysiwyg-toggle {
  color: #6fc5d8;
  cursor: pointer;
  font-size: .9em;
  position: absolute;
  right: 5px;
  top: 0;
}

.authoring-tinymce {
  textarea {
    margin-top: 20px;
  }
  .slate-editor {
    margin-top: 5px;

    .slate-container {
      margin-top: 15px;
    }
  }
}
