html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure bullets and numbers are not outdented by default */
ol, ul {
  margin-left: 1.75em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}
a:link {
  color: #007c8b;
  text-decoration: none;
  transition: .2s;
}
a:visited {
  color: #0592af;
}
a:hover, a:active {
  color: #ea6d2f;
  text-decoration: underline;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

b, strong {
  font-weight: bold;
}
i, em {
  font-style: italic;
}
body {
  background: #fff url(/assets/body-bg.gif) right 60px no-repeat;
  color: #3f3f3f;
  font: 80% 'Lato', arial, helvetica, sans-serif;
}
button, .btn-primary, span.edit_trigger, #modal .embeddable-save, #modal .close {
  background: #6fc5d8;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

button.disabled, .btn-primary.disabled, span.edit_trigger.disabled {
  background: #ccc !important;
}

.select_container {
  display: inline-block;
  position: relative;

  select {
    margin: 0 8px 0 0;
    max-width: 170px;
  }
}

#container {
}
#header {
  background: #bddfdf;
  height: 75px;
  position: relative;
  div {
    height: 130px;
    margin: 0 auto;
    position: relative;
    width: 960px;

    img {
      height: auto;
      max-height: 70px;
      width: auto;
    }
  }
  #mw-logo {
    border: none;
    float: left;
    font-size: 1.5em;
    height: 60px;
    margin-top: 7px;
    width: 159px;
  }
  #cc-logo {
    border: none;
    float: right;
    height: 35px;
    margin-top: 19px;
    width: 114px;
  }
}
.clear {
  clear: both;
  height: 0;
}
.notice{
  height: 16px;
  padding:10px 0;
  clear: both;
}
.content {
  height: auto;
  margin: 0 auto;
  min-height: 500px;
  position: relative;
  width: 960px;
  h1 {
    clear: both;
    color: #eb8723;
    font: 700 2em 'Lato', georgia, 'times new roman', serif;
    .convert a, .edit-in a {
      font-weight: normal;
      font-size: 0.5em;
      color: #6fc5d8;
      padding-left:15px;
    }
  }
  p.question {
    color: #3a878b;
    font: 400 1.3em 'Lato', georgia, 'times new roman', serif;
    min-height: 1em;
  }
  nav {
    padding: 10px 0;
    width: 79%;
    margin: 1em;
  }
  .breadcrumbs {
    height: auto;
    text-align: left;
  }
  #session {
    clear: right;
    float: right;
    height: auto;
    padding: 10px 0;
    text-align: right;
  }
  #activity-actions {
    clear: both;
    height: 20px;
  }
  #activity-actions #new-menu {
    float: right;
    margin-top: 10px;
  }
  p.active-runs {
    color: red;
    border: 1px solid red;
    padding: 3px;
    margin: 5px;
  }
}
.title {
  padding: 1% 0;
  width: 100%;

  label {
    color: #313131;
    font-size: .5em;
    font-weight: normal;
  }
}
#preview-menu {
  float: right;

  select {
    margin-left: 3px;
  }
}
.page-nav {
  position: absolute;
  right: 0;
  top: 18px;
  .secondary {
    background: #fff;
    bottom: 0 !important;
    clear: both;
    height: 28px !important;
    margin-top: 542px;
    padding: 10px 0;
    position: absolute;
    right: 0;
    text-align: right !important;
    width: 100% !important;
  }
  a {
    background: #6fc5d8;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: .9em;
    height: 18px;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 18px;
  }
  a.previous {
    background: transparent url(/assets/page-nav-prev.png) no-repeat;
    height: 30px;
    margin-right: -1px;
    padding: 0;
    width: 30px;
  }
  a.next {
    background: transparent url(/assets/page-nav-next.png) no-repeat;
    height: 30px;
    margin-left: 0px;
    padding: 0px;
    width: 30px;
  }
  a.previous.disabled {
    background: transparent url(/assets/page-nav-prev-dis.png) no-repeat;
  }
  a.next.disabled {
    background: transparent url(/assets/page-nav-next-dis.png) no-repeat;
    background-size: 100% 100%;
  }
  a.active {
    background: #aaa;
  }
}
.text {
  float: left;
  height: auto;
  width: 38%;
}
.stacked-right .text {
  float: right;
  padding: 1% 0 1% 1%;
}
.text.full-width {
  padding: 0;
  width: 100%;
}
.text li, .text p, .text ul {
  line-height: 130%;
  margin-bottom: 1em;
}
.text ul, body.full .title ul {
  list-style: disc;
  margin: 10px 0 0 20px;
}
.full .title h2 {
  margin: 20px 0 0;
}
.instructions h2, .model-instructions h2, h2.activity-list {
  color: #75a643 !important;
  font: 500 1.5em 'Lato', georgia, 'times new roman', serif;
}
.questions .embeddable, .authorable {
  background: #b4e3ee;
  margin: 0;
  padding: 0;
  position: relative;
}

.questions {
  position: relative;

  &.arg-block {

    .authorable {
      padding-top: 33px !important;
    }
    .embeddables-form {
      overflow: hidden;
    }
    .button_to {
      float: right;
      margin-left: 5px;
    }
  }

  .show-hide-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;

    &:focus { outline: 0; }
  }
  h3 {
    color: #126eac;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: .5em .5em .5em .7em;

    span.embeddable_title {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 140px;
    }
    span.ui-icon { display: none; }
    span.ui-icon.sortable-icon {
      background-image: url(/assets/jquery-ui/ui-icons_888888_256x240.png);
      display: block;
      float: right;
    }
  }
  h4 {
    font-size: 14px;
    font-weight: normal;
    padding: .5em .5em .5em .7em;
  }
  label {
    display: block;
    margin-bottom: 1em;
    padding-left: 1.7em;
    text-indent: -1.7em;
  }
  .xhtml p {
    background: transparent;
    clear: both;
    float: none;
    height: auto;
    margin-bottom: 16px;
    min-height: 0;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
  textarea {
    height: 200px;
    margin: .5em 0 0;
    width: 98%;
  }
}
.embeddable_options {
  .warning {
    color: #ba431e;
    font-weight: bold;
    margin-top: 1em;
  }
  .prompt {
    overflow: hidden;
  }
}
.questions.full-width {
  .embeddable {
    float: left;
    margin: 1% .5% 1% 0;
    min-height: 243px;
  }
}
.questions.full-width.two {
  .embeddable {
    width: 43%;
  }
  .embeddable:nth-child(2n) {
    margin: 1% 0 1% 1.25%;
  }
}
.questions.full-width.three {
  .embeddable {
    width: 26%;
  }
  .embeddable:nth-child(3n) {
    margin: 1% 0;
  }
}
.other {
  float: right;
  height: auto;
  width: 60%;
}
.stacked-right .other {
  float: left;
  height: auto;
  width: 60%;
}
.full .other, .other.full-width {
  clear: both;
  float: left;
  width: 100%;
}
.model, .model-edit {
  background: #fff;
  height: auto;
  margin: 13px 0 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  iframe {
    border: none;
    height: 435px;
    margin: 3px 0 0;
    padding: 0;
    width: 100%;
  }
}
.toolbar {
  background: #6fc5d8;
  color: #fff;
  font-size: .9em;
  height: 15px;
  padding: 5px;
  text-align: right;
  a {
    color: #fff;
    text-decoration: none;
  }
}
.model-instructions {
  position: absolute;
  right: 10px;
  top: 37px;
  width: 400px;
  z-index: 1000;
  img {
    width: 100%;
  }
  button {
    background: url(/assets/watch-tutorial.png) no-repeat;
    display: block;
    height: 34px;
    margin: 15px auto;
    text-indent: -999em;
    width: 174px;
  }
}

.related {
  background: #6fc5d8;
  clear: both;
  color: #fff;
  height: auto;
  margin-top: 20px;
  min-height: 224px;
  padding: 1%;
  border-radius: 13px;
  a {
    border-bottom: dotted 1px #fff;
    color: #fff;
    text-decoration: none;
  }
  h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  h3 {
    font: 700 1.3em 'Lato', georgia, 'times new roman', serif;
  }
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    float: left;
    margin: 1%;
    width: 31%;
  }
  img {
    float: right;
    margin: 3px 0 0 10px;
  }
}
body.summary {
  .question {
    padding: 10px 0;
  }
  .print {
    clear: right;
    float: right;
  }
}
div.summary {
    clear: both;
}
#footer {
  background: #bddfdf;
  clear: both;
  color: #3a878b;
  margin-top: 20px;
  display: block;
  padding: 1em;
  div {
    margin: 0 auto;
    width: 960px;
  }
}
#footer a {
  color: #3a878b;
}
#overlay {
  background: #000;
  display: none;
  height: 100%;
  left: 0;
  opacity: .75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.action_menu_header_right {
  float: right;
  width: 7%;
  ul {
    margin-left: 0px;
  }
  ul li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 15px;
    
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
      text-transform: uppercase;
      transition: .2;
      &:hover {
        color: #ea6d2f;
      }
    }
  }
}
.action_menu_header_right.index {
  width: 35%;
}
ul.quiet_list {
  border-top: dashed 1px #ddd;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 0;
  clear: both;
  list-style: none;
  li.item {
    padding: 10px 5px;
    margin: 0;
    border-bottom: dashed 1px #ddd;
    

    .action_menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    .action_menu_header_left {
      font-size: 1.2em;
      font-weight: bold;
      width: 50%;
    }
    .action_menu_header_right {
      text-align: right;
      width: 50%;
    }
    .action_menu_header_right.themes {
      width: 20%;
    }
    .tiny {
      clear: both;
      display: block;
      margin-top: 23px;
    }
    .author, .updated, .published {
      font-size: 0.8em;
    }
    .active-runs {
      color: red;
      width: 150px;
      border: 1px solid red;
      padding: 2px;
      margin-left: 0px;
    }
  }
  li.item:hover {
    background: #fef7e0;
  }
}
form.edit_lightweight_activity,
form.new_lightweight_activity {
  fieldset {
    clear: left;
     margin-top: 20px;
  }
  legend {
     font-weight: bold;
  }
  .submit {
  text-align: right;
  width: 100%;
  }
}

#menu {
   float: right;
   list-style-type: none;
   h2 {
     font-weight: bold;
     margin-bottom: 10px;
  }
  .sortable-list {
     clear: both;
     float: none;
     list-style-type: none;
     margin: 0;
     padding: 0;
    .item {
       border-bottom: dashed 1px #6fc5d8;
       clear: both;
       margin: 0 0 .5em;
       padding: 5px 3px;
      min-height: 15px;
    }
    .menu {
      margin-left: 0px;
      float: right;
      li {
        display: inline;
        border: none;
      }
    }
  }
  .chosen-select {
    width: 250px;
  }
}
#pages, #activities {
  background: #c9e9e6;
  padding: 15px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
    width: 100%;
  li#add {
    margin-top: 10px;
    a {
      background: transparent url(/assets/icons/add.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
       text-decoration: none;
    }
  }
  li a {
    color: #333;
    height: 14px;
    padding-left: 16px;
    text-decoration: none;
  }
  li.drag_handle {
    padding: 5px;
    cursor: move;
    padding-top: 0;
  }
}
#plugins {
  margin-top: 1em;
  background: #c9e9e6;
  padding: 15px;
  border-radius: 8px;
    width: 100%;
  #plugin_list {
    grid-template-columns: 3fr 1fr 1fr;
    display: grid;
    div {
      margin: 0.5em;
    }
    .edit a {
      background: transparent url(/assets/icons/edit.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
      text-decoration: none;
    }
    .delete a {
      background: transparent url(/assets/icons/delete.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
      text-decoration: none;
    }
  }
  #add_plugin {
    margin-top: 10px;
    a {
      background: transparent url(/assets/icons/add.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
       text-decoration: none;
    }
  }
}
.available_plugins {
  .embeddable-plugin-form {
    margin: 1em 0.5em 0.5em 0.5em;
  }
  input[type=submit] {
    float: right;
  }
}
.wrapped_plugins {
  .plugin_list {
    grid-template-columns: 3fr 1fr 1fr;
    display: grid;
    div {
      margin: 0.5em;
    }
    .edit a {
      background: transparent url(/assets/icons/edit.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
      text-decoration: none;
    }
    .delete a {
      background: transparent url(/assets/icons/delete.png) 0 0 no-repeat;
      background-size: 14px;
      color: #333;
      height: 14px;
      padding-left: 18px;
      text-decoration: none;
    }
  }
}
ul#new {
   margin-top: 1em;
  li#add a {
    background: transparent url(/assets/icons/add.png) 0 0 no-repeat;
    background-size: 14px;
    color: #333;
    height: 14px;
    padding-left: 18px;
    text-decoration: none;
  }
  li#desc-toggle a {
    color: #333;
    text-decoration: none;
  }
}
h2.list-head {
  clear: both;
  font-size: 1.7em;
  font-weight: bold;
}
div.wysiwyg ul.toolbar {
  background: none;
  color: inherit;
  text-align: left;
  height: inherit;
  margin: 0;
}

/* Summary page */
body.summary {
  .prompt {
    font-weight: bold;
    margin: 5px 5px 5px 0;
  }
  .number {
    float: left;
    font-weight: bold;
    margin: 5px 5px 5px 0;
  }
  .answer, .image_answer {
    clear: left;
    margin-left: 16px;
  }
}



div.block-empty {
  border: 1px solid #ffcccc;
  min-height: 2em;
}
.drag_handle {
  line-height: 0.5em;
  font-size: 20px;
  visibility: hidden;
  &:before { content:'\2630'; }
  /* The ui-sortable class is added by jquery-ui */
  .ui-sortable & {
    visibility: visible;
  }
}
/* These are unique to the edit view */
#page-section-controls, .page-section-controls {
  box-sizing: border-box;
  display: inline-block;
  margin-top: 15px;
  background-color: #eee;
  padding: 10px;
  width: 100%;

  input {
    position: relative;
    top: 1px;
    margin: 1px;
    padding: 0;
  }

  label {
    margin-right: 30px;
  }

  label:last-child {
    margin-right: 0;
  }
}
#page-section-controls{
  input{
    vertical-align: top;
  }
}
/* Activity editing */
fieldset {
  position: relative;
  .edit_trigger {
    position: absolute;
    top: 3px;
    right: 5px;
    margin: 0;
    background: 0;
    color: #0592af;
  }
}
/* Page editing */
.editing {
  fieldset .edit_trigger { line-height: 2; }
  /* Title */
  .editable[data-name="interactive_page[name]"] form {
    display: inline;
  }
  div.edit_interactive_page{
    padding-bottom: 10px;
  }
  /* Info/assessment block */
  div.questions {
    border: 1px solid #555;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
    h2 {
      background-color: #555;
      border-bottom: dotted 1px #999;
      font: 500 1.3em 'Lato', georgia, 'times new roman', serif;
      color: #fff !important;
      margin: -10px -10px 10px; /* Undoes padding from div on top, left, & right for background */
      padding: 10px; /* Gives the head itself some padding */
      text-align: left;
    }
    .column-controls {
      background: #555;
      color: #fff;
      margin: -10px -10px 10px;
      overflow: hidden;
      padding: 10px;

      label {
        margin-bottom: 0;
      }
    }
    .edit_interactive_page {
      float: left;
    }
    .embeddables-form {
      float: right;
      text-align: right;
    }
    .embeddable-container {
      background: #eee;
      overflow: auto;
      padding-bottom: 5px;
    }
    .embeddable_tools {
      margin: 0 25px 0 0;
      color: #126eac;
      position: absolute;
      padding: 0;
      right: 5px;
      text-align: right;
      top: 7px;
      width: 145px;
      a {
        color:  #126eac;
        padding: 0 0 0 1em;
        text-decoration: none;
        &.active, &:hover {
          color: #ea6d2f;
        }
      }

    }
    .embeddables_list > div {
      padding: 0;
      border: 1px solid #6fc5d8;
      margin-bottom: 1em;
      border-radius: 0;

      .embeddable_options {
        background: #eee;
        padding: 5px;
        margin: 0;
      }
      &.hidden-in-runtime {
        opacity: .6;
        position: relative;

        &:after {
          background: #ccc;
          bottom: 0;
          color: #555;
          content: 'hidden from students';
          display: block;
          font-size: 12px;
          height: 16px;
          padding: 5px 0;
          position: absolute;
          text-align: center;
          width: 100%;
          z-index: 2;
        }
        .embeddable-container {
          height: 25px;
          overflow: hidden;
        }

        &.ui-accordion {
          &.ui-active {
            &:after {
              bottom: 1px;
              display: block;
              height: 25px;
              left: 1px;
              width: 340px;
            }
          }
          &:after {
            display: none;
          }
        }
      }
      &.tracked {
        .embeddable_options {
          opacity: 0.4;
        }
        border: 1px solid hsl(44, 80%, 60%);
        .embeddable_tools {
          background-color: hsl(44, 60%, 80%);
          color: hsl(44, 70%, 30%);
          a:link {  color: hsl(44, 70%, 30%);}
          .drag_handle {
            color: hsl(44, 70%, 30%);
          }
        }
      }
    }
    .ui-accordion {
      border: none !important;
      margin-bottom: 2px !important;

      .embeddable_tools {
        top: 11px;

        a {
          color: #126eac;
          font-size: 12px;
        }
      }

      .ui-accordion-header {
        background: #b4e3ee;
        border-color: #b4e3ee;
        border-radius: 0;
        box-sizing: border-box;
        color: #126eac;
        margin: 0;
        padding-top: .8em;
        width: 100% !important;

        &:hover {
          background: #a4d3de;
          border-color: #a4d3de;
          color: #126eac;

          .ui-accordion-header-icon {
            background-image: url(/assets/jquery-ui/ui-icons_888888_256x240.png);
          }
        }

        .ui-icon { display: block; }
        .sortable-icon {
          background-image: url(/assets/jquery-ui/ui-icons_888888_256x240.png);
          display: block;
          float: right;
        }
      }
      .ui-accordion-header-active {
        background: #126eac;
        border-color: #126eac;
        color: #fff;

        .ui-accordion-header-icon {
          background-image: url(/assets/jquery-ui/ui-icons_ffffff_256x240.png);
        }

        span.sortable-icon {
          background-image: url(/assets/jquery-ui/ui-icons_ffffff_256x240.png);
          display: block !important;
          float: right;
        }
        &:hover {
          background: #227ebc;
          border-color: #227ebc;
          color: #fff;

          .ui-accordion-header-icon {
            background-image: url(/assets/jquery-ui/ui-icons_ffffff_256x240.png);
          }

          .sortable-icon {
            background-image: url(/assets/jquery-ui/ui-icons_ffffff_256x240.png);
          }
        }
      }
      .ui-accordion-header-active ~ .embeddable_tools a {
        color: #fff;
      }
      .ui-accordion-header-icon {
      }
      .embeddable-container {
        background: #fff !important;
      }
      .ui-accordion-content {
        border-color: #126eac;
        border-radius: 0;
        padding: 0 10px 10px;

        select {
          max-width: 260px;
        }
        .embeddable_options {
          background: #fff !important;
        }
      }
      .ui-accordion-content-active {

      }
    }
  }
  /* Interactives block */
  div.other {
    form.interactives-form {
      margin-top: 8px;
    }
  }
  div.sidebar {
    background: 0;
    border-radius: 0;
    color: #000;
  }
  h2.question {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
    .edit_trigger, button {
      font-weight: normal;
      font-size: 0.66em;
      color: #6fc5d8;
      background: none;
      text-decoration: underline;
      margin-top: inherit;
    }
  }
}
/* Breadcrumbs */
div.breadcrumbs li { list-style: none; float: left; margin-right: .5em; }

/* Inside the modal edit window */
@import "partials/authoring/modal_edit";

/* User admin stuff */
body.admin {
  td {
    padding: 7px;
    border-width: 0 1px;
    border-color: #999;
    border-style: dotted;
  }
  th {
    padding: 7px;
    font-weight: bold;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid #333;
  }
}
body.admin.edit {
  fieldset {
    border: 1px solid #999;
    padding: 7px;
    legend {
      padding: 5px;
      text-align: right;
      font-weight: bold;
    }
    label {
      font-weight: bold;
    }
    p {
      padding: 7px;
    }
  }
  div.actions {
    padding: 7px;
    input {
      padding: 7px;
    }
  }
}

.multiple_choice {
  .answer {
    label {
      display: inline;
    }
  }
}

#activities ul.menu li.delete form {
  display: inline;
  input[type="submit"] {
    border: none;
    cursor: pointer;
    font: inherit;
    background: transparent url(/assets/icons/delete.png) 0 0 no-repeat;
    background-size: 16px;
    color: #333;
    height: 16px;
    padding-left: 18px;
  }
}

ul#new-menu {
  float: right;
  width: 100%;
  li {
    display: inline;
    list-style-type: none;
    padding-left: 15px;
    float: right;
  }
}

@media print {
    #footer, #header, nav, #session, button.print {
        display: none;
    }
}

#activity_listing_head, #sequence_listing_head, #official_listing_heading, #community_listing_heading {
  float: left;
  margin: 10px 0;
}

.buttons-menu {
  float: right;
  a {
    text-decoration: none;
  }
  button {
    margin: 5px 0 5px 15px;
  }
}

.import_activity_sequence, .export {
    padding: 0;
    position: relative;
    .header {
      height: auto;
      margin: 0 0 10px;
      min-height: 1.1em;
      padding: 0;
      position: relative;

      .title{
        font-size: 18px;
        font-weight: bold;
      }

      .close_link{
        background: transparent !important;
        color: #555 !important;
        font-size: 14px !important;
        margin: 0 !important;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        &:hover, &:active {
          text-decoration: underline;
          color: #888;
        }
      }
    }
    form {
      margin-top: 30px;
    }
    .info {
      margin-top: 10px;
    }
    .buttons {
      float: right;
      margin-top: 20px;

      .btn {
        float: none;

        &.close {
          float: right;
          margin: 1em 0 !important;
        }
      }
    }
    .message {
      clear: both;
      text-align: center;
      color: red;
    }
}

body.iframed {
  #container {
    #header {
      display: none;
      height: 0;
    }
    #content {
      #session, nav {
        display: none;
      }
      h1 .title {
        display: none;
      }
      h1 span.convert a {
        padding-left: 10px;
      }
    }
  }
  #footer {
    display: none;
  }
}

form {
  #error_explanation {
    margin: 2em 0px;
    border: 2px solid #800000;
    padding: 1em;
  }

  .field_with_errors {
    background-color: #CAA;
    padding: 0.5em;
  }
}

.edit_approved_script {
  input[type=text] {
    width: 60%;
  }
  th {
    font-weight: bold;
    text-align: left;
    padding: 5px;
    &:first-child {
      padding-left: 0;
    }
  }
  td {
    padding: 5px;
    &:first-child {
      padding-left: 0;
    }
  }
}
