.styled-admin-form {

  fieldset {
    margin-top: 20px;
  }

  legend {
    margin-bottom: 5px;
    font-weight: bold;
  }

  p {
    margin: 20px 0;
  }

  input[type=text],
  textarea,
  select {
    padding: 5px;
    margin: 0;
  }

  input[type=text],
  textarea {
    width: 98%;
  }

  #aspect_ratio {
    label {
      margin: 8px 5px 0 10px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }

  .option_group {
    border: 1px solid rgb(169, 169, 169);
    padding: 10px;
  }

  .checkbox_note {
    clear: both;
    margin: 5px 0 5px 20px;
  }

  .react-tabs {
    margin-top: 15px;
  }

  .customizable-label {
    font-weight: bold;
    margin: 10px 0 5px 0;
  }

  .customizable-option {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .radio-label {
    margin: 0 5px;
  }

  .warning {
    margin: 5px 0;
  }

}