


.teacher-edition-banner {
  width: 100%;
  background-color: #FDA61C;
  height: 80px;
  color: #FFF4E5;
  border-bottom: 3px solid #A66006;
  font-family: 'Roboto', sans-serif;
  font-size:  20pt;
  font-weight: Bold;
  text-align: center;
  .halign-center {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }
  svg {
    width: 50px;
  }
  path {
    fill: #FFF4E5;
  }
  &.valign-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}