@import "cc-runtime";

$col-yellow-green: #a8be75;

$theme-params: (
  bgColorOrUrl: $col-yellow-green,
  theme-color-a: $col-yellow-green,
  theme-color-b: $col-yellow-green
);

@include theme($theme-params...);

.activities .activity {
  .title {
    font-size: 12pt;
  }
  .position {
    padding-top: 2px;
  }
}

.ui-dialog {
  .ui-dialog-titlebar, .ui-dialog-title {
    color: $col-yellow-green;
    min-height: 2em;
  }
  .ui-dialog-title {
    display: none;
  }
}
