@import "cc-runtime";

$col-burnt-sienna: #a0522d;
$col-orange: #ea6d2f;

$theme-params: (
  bgColorOrUrl: url('/assets/geohazard-bg/wildfire.jpg'),
  theme-color-a: $col-burnt-sienna,
  theme-color-b: $col-orange,
  activity-menu-display: none
);

@include theme($theme-params...);

.site-width {
  width: 1100px;
}
