@import "cc-runtime";

$col-blue: #4394d6;
$col-orange: #f09a38;

$theme-params: (
  bgColorOrUrl: url('/assets/geocode-bg/seismic.jpg'),
  theme-color-a: $col-blue,
  theme-color-b: $col-orange,
  activity-menu-display: none
);

@include theme($theme-params...);

.site-width {
  width: 1100px;
}
