@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: url('/assets/has-bg/astro.jpg'),
  theme-color-a: #434960,
  theme-color-b: #bd8b8e,
  activity-menu-display: none
);

@include theme($theme-params...);
