@import "cc-runtime";

$col-blue: #5c6f9a;
$col-rust-brown: #754210;

$theme-params: (
  bgColorOrUrl: url('/assets/geode-bg/himalayas.jpg'),
  theme-color-a: $col-blue,
  theme-color-b: $col-rust-brown,
  activity-menu-display: none
);

@include theme($theme-params...);

input[type="button"], input[type="submit"], button[type="button"] {
  background-image: none !important;
}

a.sequence_title {
  color: $col-rust-brown;
}

.sequence-page {
  background: rgba(255, 255, 255, 0.95);
}

.estimated-time {
  background-color: #ddd;
}

.activities .activity .title, .activities .activity .position {
  color: #3f3f3f;
}

.content-mod .congratulations-block {
  background: transparent !important;
  color: $col-blue !important;
}

.intro-mod.index-mod .intro-txt h2, .intro-mod .h4, .content-mod .bottom-block h2 {
  color: $col-rust-brown !important;
}

.bottom-buttons .gen-report input[type="submit"] {
  background-image: none !important;
  background: $col-blue !important;
}
