@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: url('/assets/has-bg/landManagement_background2.jpg'),
  theme-color-a: #497c25,
  theme-color-b: darken(#ba9772,10%),
  activity-menu-display: none
);

@include theme($theme-params...);
