@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: url('/assets/has-bg/climate_background.jpg'),
  theme-color-a: #165ba1,
  theme-color-b: #edaa3d,
  activity-menu-display: none
);

@include theme($theme-params...);
@include hasbot('/assets/c-rater/hasbot-final-single.png');
