@import "cc-runtime";

$col-dark-blue: #2f70b0;
$col-blue: #57a957;

$theme-params: (
  bgColorOrUrl: url('/assets/geohazard-bg/flood.jpg'),
  theme-color-a: $col-dark-blue,
  theme-color-b: $col-blue,
  activity-menu-display: none
);

@include theme($theme-params...);

.site-width {
  width: 1100px;
}
