@import "cc-runtime";

$src: url('/assets/geode-bg/himalayas.jpg');
$c_a: #5c6f9a;
$c_b: #754210;

@include theme($src, $c_a, $c_b);

header {
  margin-bottom: 0;
}

input[type="button"], input[type="submit"], button[type="button"] {
  background-image: none !important;
  text-shadow: none;
}

a.sequence_title {
  color: #754210;
}

.sequence-page {
  background: rgba(255, 255, 255, 0.95);
}

.estimated-time {
  background-color: #ddd;
}

.activities .activity .title, .activities .activity .position {
  color: #3f3f3f;
}

.content-mod .congratulations-block {
  background: transparent !important;
  color: #5c6f9a !important;
}

.intro-mod.index-mod .intro-txt h2, .intro-mod .h4, .content-mod .bottom-block h2 {
  color: #754210 !important;
}

.bottom-buttons .gen-report input[type="submit"] {
  background-image: none !important;
  background: #5d709a !important;
  text-shadow: none;
}

.pagination-item .pagination-link.selected {
  text-shadow: none;
}

#nav-activity-menu {
  display: none;
}
