@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: #c9e9e6,
  theme-color-a: #2f70b0,
  theme-color-b: #84c6cf,
  right-logo-display: none,
  social-media-btn-display: none
);

@include theme($theme-params...);

.activities .activity {
  .title {
    font-size: 12pt;
  }
  .position {
    padding-top: 2px;
  }
}

.ui-dialog {
  .ui-dialog-titlebar, .ui-dialog-title {
    color: #84c6cf;
    min-height: 2em;
  }
  .ui-dialog-title {
    display: none;
  }
}

td.nav-menu {
  display: none;
}

.bottom-buttons .gen-report {
    display: none;
}
