@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: url('/assets/has-bg/hydrofracking_background.png'),
  theme-color-a: #602f1c,
  theme-color-b: #6b96ba,
  activity-menu-display: none
);

@include theme($theme-params...);
