@import "theme-itsi";

// Full-width question.
.question {
  margin: 0 !important;
  width: 100% !important;
  padding: 10px 0;
  border-bottom: 2px dashed #cccccc;
}

.question:last-of-type {
  border-bottom: 0;
}

.question-bd {
  background: initial !important;
}