@import "cc-runtime";

$col-lightgray: #f1f1f1;
$col-blue: #459ace;
$col-orange: #ea6d2f;

$theme-params: (
  bgColorOrUrl: $col-lightgray,
  theme-color-a: $col-blue,
  theme-color-b: $col-orange,
  activity-menu-display: none
);

@include theme($theme-params...);

footer { color: #444; }
