@import "cc-runtime";

$col-blue: #008fd7;
$col-dark-blue: #006faf;
$col-light-blue: #c8effc;
$col-green: #39b54a;
$col-light-green: #a2ca28;
$col-orange: #f8ab4e;
$col-yellow: #fac10d;

$theme-params: (
  bgColorOrUrl: $col-blue,
  theme-color-a: $col-blue,
  theme-color-b: $col-orange
);

@include theme($theme-params...);

#container {
  background-image: -webkit-linear-gradient(top, #fff, rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(to bottom, #fff, rgba(255,255,255,.5), rgba(255,255,255,0));
}

.site-logo-mod .logo-l img {
  max-height: 70px;
}

table.l-nav {
  background-color: $col-blue;
}
.pagination-item .pagination-link {
  background: $col-light-blue;
  border-color: $col-dark-blue;
  color: $col-dark-blue;
}

.activities .activity {
  .title {
    line-height: 1;
    a {
      font-size: 12pt;
    }
  }
}

.content-mod .congratulations-block {
  background-color: $col-light-blue !important;
  color: $col-blue !important;
}

body.l-full-width-wrapper {
  .site-width {
    width: 985px;
  }
}

body.l-7030-wrapper {
  .site-width {
    width: 98%;
  }
  .l-7030>.ui-block-1, .l-7030>.ui-block.first {
    width: 74%;
  }
  .l-7030>.ui-block-2, .l-7030>.ui-block.second {
    width: 25%;
  }
}

body.l-responsive-wrapper {
  div.activity-mod>div.site-width {
    padding: 12px;
    width: calc(100% - 24px);
  }
  .l-responsive .ui-block-1 {
    flex: 1 1 74%;
  }
  .l-responsive .ui-block-2 {
    flex: 0 0 25%;
  }
  .l-responsive .embeddables {
    margin-right: 12px;
  }
  .l-responsive .question {
    width: 325px;
  }
}
