@import "cc-runtime";

$src: url('/assets/has-bg/climate_background.jpg');
$c_a: #165ba1;
$c_b: #edaa3d;

@include theme($src, $c_a, $c_b);
@include hasbot('/assets/c-rater/hasbot-final-single.png');
