@import "cc-runtime";

$src: url('/assets/geniventure-bg/mission-control.jpg');
$c_a: #f88c22;
$c_b: #f5a744;

@include theme($src, $c_a, $c_b);

$dark-olive-green: #402e17;
$dark-khaki: #b0925c;
$dim-gray: #4c4a42;
$sea-green: #a7be99;
$dark-sea-green: #7d8d75;

table.l-nav {
  background-color: $dark-olive-green;
}
.pagination-item .pagination-link {
  border-color: $sea-green;
  &.selected {
    background: $sea-green;
    text-shadow: none;
  }
}
.profile-nav .profile-dropdown {
  background-color: $dark-olive-green;
}

a.sequence_title {
  color: $dark-olive-green;
}

.sequence-page {
  background: rgba(255, 255, 255, 0.95);
}

.estimated-time {
  background-color: $sea-green;
}
.time_to_complete .time_estimate {
  color: $dark-olive-green;
}

.activities .activity .title, .activities .activity .position {
  color: #3f3f3f;
}

.question-hdr {
  background-color: $dark-olive-green;
}

.intro-mod.index-mod .intro-txt h2, .intro-mod .h4, .content-mod .bottom-block h2 {
  color: $dark-olive-green !important;
}

.bottom-buttons .gen-report input[type="submit"] {
  text-shadow: none;
}

div.activity-mod > div.site-width {
    background: rgba(255,255,255,1);
}

.activity-mod .content-mod .congratulations-block {
  background-color: $sea-green;
  color: $dark-olive-green;
}

#nav-activity-menu {
  display: none;
}
