@import "mw-runtime-base";
@import url("https://use.typekit.net/juj7nhw.css");

// Brand Colors
$col-darkgray: #313131;
$col-darkgray-15: rgba(49, 49, 49, .15);
$col-darkgray-25: rgba(49, 49, 49, .25);
$col-darkgray-50: rgba(49, 49, 49, .5);
$col-white: rgba(255,255,255,1);
$col-white-50: rgba(255,255,255,.5);
$col-lightgray: #f5f5f5;
$col-green: #2da343;
$col-lightblue: #6fc6da;
$col-blue: #0592af;
$col-darkblue: #007c8B;
$col-orange: #ea6d2f;
$col-gold: #ffc320;

// Gradients
$gradient-blue-start: $col-lightblue;
$gradient-blue-end: $col-blue;
$gradient-orange: linear-gradient(to bottom, $gradient-blue-start 0%, $gradient-blue-end 100%);

body {
  background: $col-lightgray;
}

h1, h2, h3 {
  font-family: museo-sans, lato, helvetica, arial, sans-serif;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
h2 {
  font-size: 36px;
  font-weight: 900;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}

.question-hdr, .question-hdr-collapse,
.pagination-item .pagination-link.selected {
  background: $col-lightblue;
  border: none;
  text-shadow: none;
}
.content-hdr .h2 { color: $col-orange; }

#container {
  background: $col-lightgray;

  header:first-child {
    background: $gradient-orange;
    height: 150px !important;
    margin: 20px auto 0;
    padding: 0;
    width: 960px;
  }
  .site-logo-mod {
    padding: 0;
  }
  .logo-l {
    height: 150px;
    width: 500px;

    a {
      display: block;
      margin: 15px 0 0 20px;
    }
    img {
      height: 150px;
      width: 480px;
    }
  }
  .logo-r {
    background: url(/assets/waters/students.jpg) no-repeat;
    background-size: cover;
    height: 150px;
    margin-top: 0;
    position: relative;
    width: 40%;

    img {
      display: none;
    }
  } // end .logo-r

  @media print {
    header:first-child {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
    .logo-r {
      content: url(/assets/waters/students.jpg);
    }
  }

  #main {

    .activity-mod {
      margin-bottom: 10px;

      .activity-nav-mod + .site-width {
        background: $col-white;
        padding: 20px;
        width: 960px;
      }
    } // end .activity-mod

    .activity-footer-mod {
      margin-bottom: 10px;
    }
  } // end #main

  footer {
    background: $col-lightgray;

    .footer-txt { text-shadow: none; }
  }
} // end #container

.activity-nav-mod {
  margin: 0;

  #nav-activity-menu-container {
    margin: 0 auto;
    position: relative;
    width: 960px;
  } // #nav-activity-menu-container

  table {
    background: $col-white;
    border-right: solid 20px $col-white;
    border-left: solid 20px $col-white;
    color: $col-darkgray;

    td:last-child {
      max-width: 110px;
      text-align: right;
      width: 110px;

      &.ui-block-2 {
        width: auto;
      }
    }
  }

  .activity-nav-title {
    color: $col-darkgray-50;
    font-weight: normal;
    }
  .profile-nav {
    background: $col-white;

    .profile-dropdown { right: 20px; }
  }

  .activity-nav .prev_and_next .prev, .activity-nav .prev_and_next .next {
    background: #dbf1f5;
    border: none;
    color: $col-lightblue;
    height: 32px;
    line-height: 1.9;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }

  .pagination {
    margin-right: 0;

    .pagination-item .pagination-link {
      border: none;
      color: $col-lightblue;
      padding: 2px 6px 3px;
      text-shadow: none;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;

      &:hover { color: $col-white; }
      &.disabled { opacity: .5; }
      &.selected { color: $col-white; }
    }
    .pagination-item:last-child {
      margin-right: 0;
    }
  } // end .pagination

  &.fixed {
    padding: 5px 6px 10px 6px;

    #nav-activity-menu-container {
      #nav-activity-menu {
        background: #f1f8f8;

        ul { padding: 3px 0; }
      }
    }

    table {
      background: #f1f8f8;
      border-top: none;
      border-right: none;
      border-left: none;
    }

    .activity-nav-title { color: $col-darkgray; }
    .profile-nav {
      background: #f1f8f8;

      .profile-dropdown { right: 0; }
    }
    .activity-nav .prev_and_next .prev,
    .activity-nav .prev_and_next .next
    { text-align: right; }
  }
} // end .activity-nav-mod

#nav-activity-menu {
  border: none;
  color: #313131;
  font-size: 12px;
  margin-top: 0;
  position: relative;

  ul {
    padding: 10px 0 5px 20px;
    text-align: left;

    li {
      border-bottom: none;
      display: inline-block;
      padding: 0;

      &.am-print { display: inline-block; }

      &.am-report, &.am-close { display: none; }

      a {
        color: #007c8b;
        display: block;
        opacity: .7;
        padding: 0;

        &:hover {
          opacity: 1;
        }
        i.fa { display: none; }
        span.text { display: inline; }
      }
    }
  }
} // end #nav-activity-menu

.precipitating-change-footer {
  color: #666;

  p {
    margin-bottom: 20px;
  }

  .precipitating-change-footer-logo {
    display: inline-block;

    img.logo {
      height: 30px;
      margin-right: 30px;
      width: auto;
    }
  } // end .precipitating-change-footer-logo
}
