@import "cc-runtime";

$col-blue: #008fd7;
$col-dark-blue: #006faf;
$col-light-blue: #c8effc;
$col-green: #39b54a;
$col-light-green: #a2ca28;
$col-orange: #f8ab4e;
$col-yellow: #fac10d;

$theme-params: (
  bgColorOrUrl: $col-blue,
  theme-color-a: $col-blue,
  theme-color-b: $col-orange
);

@include theme($theme-params...);

#container {
  background-image: -webkit-linear-gradient(top, #fff, rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(to bottom, #fff, rgba(255,255,255,.5), rgba(255,255,255,0));
}

.site-logo-mod .logo-l img {
  max-height: 70px;
}

table.l-nav {
  background-color: $col-blue;
}
.pagination-item .pagination-link {
  background: $col-light-blue;
  border-color: $col-dark-blue;
  color: $col-dark-blue;
}

.content-mod .congratulations-block {
  background-color: $col-light-blue !important;
  color: $col-blue !important;
}
