@import "cc-runtime";

$col-dark-olive-green: #402e17;
$col-dark-khaki: #b0925c;
$col-dim-gray: #4c4a42;
$col-sea-green: #a7be99;
$col-dark-sea-green: #7d8d75;
$col-orange: #f88c22;

$theme-params: (
  bgColorOrUrl: url('/assets/geniventure-bg/mission-control.jpg'),
  theme-color-a: $col-dark-olive-green,
  theme-color-b: $col-orange,
  activity-menu-display: none
);

@include theme($theme-params...);

table.l-nav {
  background-color: $col-dark-olive-green;
}
.pagination-item .pagination-link {
  border-color: $col-sea-green;
  &.selected {
    background: $col-sea-green;
  }
}
.profile-nav .profile-dropdown {
  background-color: $col-dark-olive-green;
}

.sequence-page {
  background: rgba(255, 255, 255, 0.95);
}

.estimated-time {
  background-color: $col-sea-green;
}

.activities .activity .title, .activities .activity .position {
  color: #3f3f3f;
}

.intro-mod.index-mod .intro-txt h2, .content-mod .bottom-block h2 {
  color: $col-dark-olive-green !important;
}

div.activity-mod > div.site-width {
    background: rgba(255,255,255,1);
}

.activity-mod .content-mod .congratulations-block {
  background-color: $col-sea-green;
  color: $col-dark-olive-green;
}
