@import "cc-runtime";

$col-blue: #2f70b0;
$col-medium-blue: #84c6cf;
$col-light-blue: #c9e9e6;

$theme-params: (
  bgColorOrUrl: $col-light-blue,
  theme-color-a: $col-blue,
  theme-color-b: $col-medium-blue
);

@include theme($theme-params...);

.activities .activity {
  .title {
    font-size: 12pt;
  }
  .position {
    padding-top: 2px;
  }
}

.ui-dialog {
  .ui-dialog-titlebar, .ui-dialog-title {
    color: $col-medium-blue;
    min-height: 2em;
  }
  .ui-dialog-title {
    display: none;
  }
}
