@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: url('/assets/has-bg/water_background.jpg'),
  theme-color-a: #2f70b0,
  theme-color-b: #84c6cf,
  activity-menu-display: none
);

@include theme($theme-params...);
@include hasbot('/assets/c-rater/hasbot-final-single.png');
