@import "cc-runtime";

$col-blue: #0592af;
$col-orange: #ea6d2f;

$theme-params: (
  bgColorOrUrl: url('/assets/geohazard-bg/hurricane.jpg'),
  theme-color-a: $col-blue,
  theme-color-b: $col-orange,
  activity-menu-display: none
);

@include theme($theme-params...);
