@import "cc-runtime";

$src: url('/assets/has-bg/landManagement_background2.jpg');
$c_a: #497c25;
$c_b: darken(#ba9772,10%);

@include theme($src, $c_a, $c_b);

#nav-activity-menu {
  display: none;
}