@import "cc-runtime";

$theme-params: (
  bgColorOrUrl: #f1f1f1,
  theme-color-a: #0592af,
  theme-color-b: #ea6d2f,
  activity-menu-display: none
);

@include theme($theme-params...);

footer { color: #444; }
