@import "mw-runtime-base";

.precipitating-change-footer {
  color: #666;

  p {
    margin-bottom: 20px;
  }

  .precipitating-change-footer-logo {
    display: inline-block;

    img.logo {
      height: 30px;
      margin-right: 30px;
      width: auto;
    }
  }
}
