#trackedQuestionSelector {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: hsla(0, 0%, 50%, 0.9);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.shown {
    display: flex;
  }
  .trackedQuestionContent {
    %div {
      padding: 4px;
      margin:  4px;
    }
    padding: 1em;
    margin: auto;
    max-height: 300px;
    width: 400px;
    background-color: hsla(0, 0%, 100%, 1.0);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    z-index: 1001;
    .title {
      align-self: stretch;
      h2 {
        color: hsl(191, 34%, 47%);
        font-size: 14pt;
        font-weight: bold;
      }
      button {
        background-color: hsl(18, 70%, 50%);
        &:hover {
          background-color: hsl(18, 70%, 40%);
        }
      }
    }
    a {
      text-decoration: none;
      color: inherit;
      &:link     { text-decoration: none; color: inherit;}
      &:visited  { text-decoration: none; color: inherit;}
      &:active   { text-decoration: none; color: inherit;}
    }
    .searchResults {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: space-between;
      overflow: scroll;
      .result {
        padding: 0.5em;
        margin: 0.2em;
        background-color: #6fc5d8;
        border: 1px solid white;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        &.new {
          color: #6fc5d8;
          background-color: white;
          border: 1px solid #6fc5d8;
        }
        &:hover {
          background-color: #4C8390;
        }
        .type{
          font-size: 8pt;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 12pt;
        }
        .name{
          font-size: 12pt;
          font-weight: 100;
          font-style: italic;
          line-height: 12pt;
        }
        .useCount{
          font-size: 6pt;
          font-weight: 100;
          font-variant-caps: small-caps;
          text-transform: uppercase;
          font-decoration: underline;
          line-height: 12pt;
        }
        .description{
          font-size: 6pt;
          font-weight: 100;
          line-height: 12pt;
        }
      }
    }
  }
}