.feedback-set{
  width: 900px;
  margin-left: -475px;
  padding: 0;
}
.edit-score-mapping, .new-score-mapping{
  .table-wrap{
    height: 500px;
    overflow: auto;
    td{
      border: 1px solid #cccccc;
      text-align: center;
      vertical-align: middle;
      font-size: 1.2em;
      font-weight: bold;
      line-height: 30px;
      text-align: center;
    }
    .left{
      width:50px;
    }    
    .feedback-title{
      height:50px;
      .right{
        input{
          width:815px;
          height: 30px;
        }
      }
    }
    .sub-header{
      height: 30px;
    }
    .score{
      .right{
        padding:5px;
      }
      .left{
        vertical-align: top;
      }
    }
  }
  .heading{
    height: 30px;
    background: #cccccc;
    font-size: 1.2em;
    font-weight: bold;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
  }
  
}

.score_mappings_list{
  table{
    tr{
      height:40px;
      td{
        border:1px solid #B6B6B6;
        vertical-align:middle;
      }
    }
    tr.feedbackset_list_header{
      background:#C3C1C1;
      font-size:1.2em;
      font-weight:bold;
      height:30px;
      td{
        text-align:center;
      }
    }
    tr.feedbackset_list_row td{
      padding-left:5px;
      padding-right:5px;
      text-align: left;
    }  
  }
  clear:both; 
}

.no_score_mappings{
  margin-top:60px;
}

span.edit a,span.delete a{
  color: #333;
  height: 14px;
  padding-left: 18px;
  text-decoration: none;
}

span.edit a{
  background: transparent url(/assets/icons/edit.png) 0 0 no-repeat;
  background-size: 14px;
  padding-right:5px;
}
span.delete a{
  background: transparent url(/assets/icons/delete.png) 0 0 no-repeat;
  background-size: 14px;
}
label.required:after{
  content: "*";
  color: red;
}
