.number
  %p="#{answer.question_index}."
.prompt!= answer.prompt
.answer
  - if !answer.answer_texts.empty?
    - if answer.multi_answer
      - answer.answer_texts.each do |answer|
        .answer_item= answer
    - else
      .answer_item= answer.answer_texts.last
  - else
    %p! &nbsp;
