<h1>Editing <%= @user.email %></h1>

<%= form_for(@user, {:url => admin_user_path(@user), :method => 'put'}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<%- end -%>

<div class='bottom-links'>
  <%= link_to '‹ Back to Users List', admin_users_path, data: { testid: "back-to-users-link" } %>
</div>
