<h1>New User</h1>

<%= form_for(@user, {:url => admin_users_path, :method => 'post'}) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<%- end -%>

<div style="margin-top: 20px;">
  <%= link_to '‹ Back to Users List', admin_users_path %>
</div>