.xhtml.authorable_xhtml
  .embeddable_tools
    = link_to "Remove", page_remove_embeddable_path(page, embeddable), :method => :post, :data => {:confirm => 'Are you sure?'}
    |
    = link_to "Edit", edit_embeddable_xhtml_path(embeddable), :remote => true
  - if embeddable.content.blank?
    .xhtml
      Embeddable text will go here.
  - else
    .xhtml= embeddable.content.html_safe
