:root {
  --dark-teal: #218389;
  --teal: #0592af;
  --lt-teal: #93d5e4;
  --ltr-teal: #cdebf2;
  --ltst-teal: #e2f4f8;
  --med-orange: orange;
  --dark-gray: #3f3f3f;
  --med-gray: #979797;
  --lt-gray: hsl(0,0%,90%);
  --font-family: lato, arial, helvetica, sans-serif;
}
.activity-nav {
  align-items: center;
  background-color: white;
  color: var(--dark-gray);
  display: flex;
  font-size: 18px;
  height: 64px;
  justify-content: center;
  width: 100%;
}
.nav-pages {
  display: flex;
  justify-content: center;
  margin: 0 10px 0 10px;
  padding: 0px;
  width: 100%;
}
.nav-pages .page-button {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 4px;
  color: var(--dark-gray);
  cursor: pointer;
  display: flex;
  fill: #0592af;
  font-size: 18px;
  font-weight: bold;
  height: 44px;
  justify-content: center;
  margin: 0 5px 0 5px;
  width: 44px;
}
.nav-pages .page-button svg {
  fill: #0592af;
}
.nav-pages .page-button:hover {
  background: var(--ltr-teal);
}
.nav-pages .page-button:active,
.nav-pages .page-button:active svg {
  background: var(--teal);
  color: white;
  fill: white;
}
.nav-pages .page-button.disabled {
  cursor: auto;
  opacity: .35;
  outline: none;
}
.nav-pages svg.current, 
.nav-pages .page-button.current {
  background-color: var(--teal);
  color: white;
  fill: white;
  pointer-events: none;
}