<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Concord<!-- TODO: Needs :yield --></title>
	<!-- TODO: Populate meta tags -->
  <meta name="description" content="">
	<meta name="author" content="">

	<!-- Icons -->
  <!-- TODO: Link proper favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Stylesheets -->
  <!-- TODO: Rails tag -->
	<link rel="stylesheet" href="../_css/screen.css?v=2">

	<!-- Scripts -->
	<!--[if IE 8 ]>
	<script type="text/javascript" src="_js/libs/respond.js"></script>
	<![endif]-->
  <!-- TODO: Get this from a CDN or js-tag it -->
	<script type="text/javascript" src="../_js/libs/modernizr-2.6.1.min.js"></script>

</head>



<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- Page Begins				-->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

<body>

	<div id="container">

		<header>
			<div class="site-logo-mod site-width">
				<div class="site-logo logo-l">
					<h2>
						<a href="http://mw.concord.org/nextgen/">
              <!-- TODO: This is probably going to be set per-activity, so make it dynamic with a default -->
							<img src="../_img/high_science.png" alt="">
						</a>
					</h2>
				</div> <!-- end site-logo logo-l -->

				<div class="site-logo logo-r">
					<h2>
						<a href="http://concord.org/">
              <!-- TODO: proper Rails image tag -->
							<img src="http://mw.concord.org/nextgen/activities/_assets/img/cc-logo.png?v=012013" alt="">
						</a>
					</h2>
				</div> <!-- end site-logo logo-r -->

			</div> <!-- end site-logo-mod site-width -->

		</header>


    <!-- TODO: Partial? -->
		<div id="save">
			Saving ...
		</div>

		<div id="main" role="main">

			<div class="activity-mod">

        <!-- Add class of fixed to activity-nav-mod for fixed nav -->
        <!-- TODO: How to control that? -->
				<div class="activity-nav-mod">

					<div class="l-nav site-width">


            <!-- TODO: Partial for nav -->
						<div class="activity-nav-logo ui-block-1">
							<h2 class="h2">Intermolecular Attractions and Boiling Point</h2>
						</div>
					
						<nav class="activity-nav ui-block-2">
							
							<a class="next" href="#"> </a>
							<a class="prev" href="#"> </a>

							<div class="pages">
								<ul class="pagination">
									<li class="pagination-item home-link"><a href="/_templates/interactive-index.html" class="pagination-link">H</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">1</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">2</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">3</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">4</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">5</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">6</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">7</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">8</a></li>
									<li class="pagination-item"><a href="" class="pagination-link">9</a></li>
									<li class="pagination-item"><a href="" class="pagination-link selected">10</a></li>
								</ul>
							</div> <!-- end pages-->
						</nav> <!-- end activity-nav ui-block-2 -->
            <!-- TODO: End nav partial -->

					</div><!-- end l-nav site-width -->

				</div> <!-- end activity-nav-mod -->



				<div class="site-width">
					
          <!-- TODO: Begin main yield -->
					<div class="content-hdr">
						<h2 class="h2">Intermolecular Attractions and Boiling Point</h2>
					</div> <!-- end content-hdr -->
					
					<div class="intro-mod">
						<h4 class="h4">All molecules attract to each other</h4>
						<p class="intro-txt">TK TK A long intro goes here with words TK. This is where the intro goes that can be very long or very short. It can have images or not. And all kinds of cool content and stuffs. K TK A long intro goes here with words TK. This is where the intro goes that can be very long or very short. It can have images or not. And all kinds of cool content and stuffs. K TK A long intro goes here with words TK. This is where the intro goes that can be very long or very short. It can have images or not. And all kinds of cool content and stuffs.</p>
					</div> <!-- end intro-mod  -->

          <!-- TODO: Control layout here. Add one of the following classes: l-full-width, l-6040, l-7030 -->
					<div class="content-mod l-6040">

						<div class="ui-block-1">
              <!-- TODO: Interactive partial -->
							<div class="interactive-mod pinned">
									<iframe width="576px" height="439px" frameborder="no" scrolling="no" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" src="http://lab.concord.org/examples/interactives/embeddable.html#interactives/sam/intermolecular-attractions/6-hydrogen-bonds-a-special-type-of-attraction.json"></iframe>
							</div> <!-- end interactive-mod -->
              <!-- TODO: End interactive partial -->
						</div> <!-- end ui-block-1 -->

						<div class="questions-mod ui-block-2">

							<div class="question challenge">
								<div class="question-hdr">
									<h5 class="h5">Interactive challenge</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will related to explaining what the Interactive is displaying and how what a student should glean from it.</p>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question challenge">
								<div class="question-bd">
									<p class="question-txt">This is a block that isn't a question or an explainer of what an interactive demonstrates, rather a simple text block relating information.</p>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #1</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<ol>
										<li>This is an ordered number list item.</li>
										<li>This is an ordered number list item.</li>
										<li>This is an ordered number list item.
											<ol>
												<li>This is a nested ordered list item</li>
												<li>This is a nested ordered list item</li>
											</ol>
										</li>
										<li>This is an ordered number list item.</li>
									</ol>
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #2</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<ul>
										<li>This is an unordered list item.</li>
										<li>This is an unordered list item.</li>
										<li>This is an unordered list item.
											<ul>
												<li>This is a nested list item.</li>
												<li>This is a nested list item.</li>
											</ul>
										</li>
									</ul>
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #3</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<dl>
										<dt>This is a term.</dt>
									    <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
									    <dt>Here is another term.</dt>
									    <dd>And it gets a definition too, which is this line.</dd>
									    <dt>Here is term that shares a definition with the term below.</dt>
									    <dd>Here's another definittion here</dd>
									</dl>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->


							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #4</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<form>
										<div>
											<textarea id="textarea" rows="8" placeholder="Type answer here"></textarea>
										</div>
									</form>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->


							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #5</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<form>
										<fieldset class="options">
										    <label for="radio1"><input id="radio1" name="radio" type="radio" class="radio"> Option 1</label>
										     <label for="radio2"><input id="radio2" name="radio" type="radio" class="radio"> Option 2</label>
										</fieldset>
									</form>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #x</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									
									<fieldset>
									    <label for="checkbox1"><input id="checkbox1" name="checkbox" type="checkbox" checked="checked"> Choice A</label>
									     <label for="checkbox2"><input id="checkbox2" name="checkbox" type="checkbox"> Choice B</label>
									     <label for="checkbox3"><input id="checkbox3" name="checkbox" type="checkbox"> Choice C</label>
									</fieldset>
									
									<div class="submit">
									    <input class="button" type="button" value="Check answer">
									</div>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #6</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">Configure the interactive at right to represent a system in Equilibrium. When you've got it, take a screenshot using the button below.</p>
									
									<div class="image-answer">
										<div class="submit">
										    <input class="button" type="button" value="Take screenshot">
										</div>
									</div><!-- screenshot answer -->						
								</div> <!-- end question-bd -->
							</div> <!-- end question -->


							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #7</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">Configure the interactive at right to represent a system in Equilibrium. When you've got it, take a screenshot using the button below.</p>
									
									<div class="image-answer complete">
										<div class="image-file">
											<img src="http://www.nasa.gov/centers/ames/images/content/278550main_BERNSTEIN_PAH_Award_paper_092308.jpg" alt="">
											<!-- <p>Screenshot chosen</p> -->
											<a href="#">Take another screenshot</a>
										</div>
									</div><!-- screenshot answer -->
									<form>
										<div>
											<textarea id="textarea" rows="8" placeholder="Annotate screen shot"></textarea>
										</div>
									</form>						
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #x</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="question">
								<div class="question-hdr">
									<h5 class="h5">Question #x</h5>
								</div>
								<div class="question-bd">
									<p class="question-txt">This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that. This block will contain questions, text and stuff like that.</p>
									<div class="content-img img-reg">
										<div class="img-expandable"></div>
										<figure>
											<img src="http://concord-consortium.github.io/lab-resources/next-gen/319px-Eustachian_Tube_(PSF).png" alt="" />
										</figure>
									</div> <!-- end content-img -->
								</div> <!-- end question-bd -->
							</div> <!-- end question -->

							<div class="submit">
							    <input class="button" type="submit" value="Generate a report of my work">
							</div>

						</div> <!-- end questions-mod -->


					</div> <!-- end content-mod -->



<!-- Add expanded class to sidebar-mod for expanded view. -->
						<div class="sidebar-mod">

								<div class="sidebar-hdr">
									<h5 class="h5">Did you know?</h5>
								</div> <!-- end sidebar-hdr -->

							<div class="sidebar-bd">
								<div class="sidebar-bd-close">X</div>
								<h4 class="h4">Why does chewing gum prevent your ears from popping?</h4>
								<p class="sidebar-txt">It has to do with your Eustachian tubes (see the image to the right).</p>
								<p class="sidebar-txt">Each ear has two pathways to the outside: the canal you can see from the outside and the Eustachian tube. The Eustachian tube connects your inner ear to your nose and mouth.</p>
								<p class="sidebar-txt">Because the Eustachian tubes are so little, they can easily be blocked, especially if you have a stuffy nose! When you chew gum, your moving jaw causes the Eustachian tubes to move and open up. When the tubes are open, the pressure between the inner and outer ear can be equalized, and the pain goes away!</p>
								<p class="sidebar-txt">You can achieve the same result without chewing gum—just move your mouth! Yawning and swallowing are other ways to prevent ear pain while flying.</p>
								<div class="content-img img-reg">
									<figure>
										<img src="http://concord-consortium.github.io/lab-resources/next-gen/319px-Eustachian_Tube_(PSF).png" alt="" />
										<figcaption>Pearson Scott Foresman. Donated to the Wikimedia Foundation.</figcaption>
									</figure>
								</div> <!-- end content-img -->
							</div> <!-- end sidebar-bd -->

						</div> <!-- end sidebar-mod -->

						<div class="related-mod">

							<div class="related-hdr">
								<h5 class="h5">Related activities</h5>
							</div> <!-- end related-hdr -->

							<div class="related-bd">
								<ul class="related-items">
									<li class="related-item">
										<div class="related-img">
											<img src="http://mw.concord.org/nextgen/_assets/img/thumbs/states-matter.png" alt="">
										</div>
										<h6 class="h6">States of Matter</h6>
										<p class="related-item-txt">Learn about phase change -- a major factor in creating climate on Earth among many other interesting phenomena.</p>
										<p class="related-item-txt"><a href="#">Run activity</a></p>
									</li> <!-- end related-item -->

									<li class="related-item">
										<div class="related-img">
											<img src="http://mw.concord.org/nextgen/_assets/img/thumbs/boiling-point.png" alt="">
										</div>
										<h6 class="h6">Boiling Point</h6>
										<p class="related-item-txt">The temperature at which substances boil is determined by intermolecular attractions. Explore how these forces affect a substance's boiling point.</p>
										<p class="related-item-txt"><a href="#">Run activity</a></p>
									</li> <!-- end related-item -->

									<li class="related-item">
										<div class="related-img">
											<img src="http://mw.concord.org/nextgen/_assets/img/thumbs/solubility.png" alt="">
										</div>
										<h6 class="h6">Solubility</h6>
										<p class="related-item-txt">Have you ever wondered why oil and water don't mix? Discover why some substances dissolve in water while others do not.</p>
										<p class="related-item-txt"><a href="#">Run activity</a></p>
									</li> <!-- end related-item -->
								</ul> <!-- end related-items -->
							</div> <!-- end related-bd -->

						</div> <!-- end related-mod -->
            <!-- TODO: End main yield -->
				</div> <!-- end site-width -->

			</div> <!-- end activity-mod -->



			<div class="activity-footer-mod site-width">

				<div class="site-logo logo-c">
					<h2>
						<a href="http://concord.org/">
							<img src="http://mw.concord.org/nextgen/activities/_assets/img/cc-logo.png?v=012013" alt="">
						</a>
					</h2>
				</div> <!-- end site-logo -->

			</div> <!-- end activity-footer-mod -->



		</div> <!-- end #main -->



		<footer>
			<div class="site-width">
				<p class="footer-txt">Copyright © 2013 <a href="http://concord.org/">The Concord Consortium</a>. All rights reserved. This activity is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>. The software is licensed under <a href="http://opensource.org/licenses/BSD-2-Clause">Simplified BSD</a>, <a href="http://opensource.org/licenses/MIT">MIT</a> or <a href="http://opensource.org/licenses/Apache-2.0">Apache 2.0</a> licenses. Please provide attribution to the Concord Consortium and the URL <a href="http://concord.org">http://concord.org</a>.</p>

				<p class="footer-txt">This Next-Generation Molecular Workbench activity was developed with a grant from <a href="http://www.google.org/">Google.org</a>. The original <a href="http://mw.concord.org/modeler/">Classic Molecular Workbench</a> was supported by a series of grants from the <a href="http://nsf.gov/">National Science Foundation</a>.</p>


			</div> <!-- end site-width -->
		</footer>

	</div> <!-- eo #container -->



	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Scripts					-->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

  <!-- TODO: CDN or include? -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../_js/libs/jquery-1.7.2.min.js"><\/script>')</script>  	

  	<!-- Project-Specific stuff, start with up-base and go into script.js for your code --> 
	<!-- TODO: Pull this: <script type="text/javascript" src="_js/up-base.js"></script>-->
  <!-- TODO: Get un-minified versions of these -->
  <!-- TODO: Rails include tag -->
	<script type="text/javascript" src="../_js/libs/waypoints.min.js"></script>
	<script type="text/javascript" src="../_js/libs/waypoints-sticky.min.js"></script>
	<script type="text/javascript" src="../_js/script.js"></script>

	<!-- Placeholder Polyfill -->
	<script src="../_js/libs/jquery.placeholder.min.js"></script>

	<!-- end scripts-->



	<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
	<!--[if lt IE 7 ]>
    	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

</body>
</html>